.b_about_us {

  .about_top {
    padding: 50px 0 20px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 15px 0 20px;
    }

    &:after {
      position: absolute;
      z-index: -1;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #F1F1F2;
      height: 113px;
    }
  }

  .top_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .image_wrapper {
      @media (max-width: $screen-md-max) {
        max-width: 50%;
      }

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
      }
    }
  }

  .image_wrapper {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    img {
      @media (max-width: $screen-xs-max) {
        margin: 0 auto;
      }
    }
  }



  .about_wrapper {
    max-width: 650px;
    padding: 0 0 130px;

    @media (max-width: $screen-md-max) {
      width: 50%;
      padding: 0 0 130px 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0 0 30px;
      max-width: 100%;
      width: 100%;
    }
  }

  .section_title {
    text-align: right;
    margin: 0 0 20px;
    line-height: 1.1;

    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .about_description {
    max-width: 635px;
    font-size: 22px;
    letter-spacing: 0.0417391px;

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
      padding: 20px 0 0;
    }

    strong{
      font-weight: 600;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }

    p{
      br{
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }


  .about_bottom {
    padding: 50px 0 20px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 0 0 20px;
    }

    .about_description{
      max-width: 540px;

      strong{
        @media (max-width: $screen-xs-max) {
          margin: 10px 0 0;
        }
      }
    }
  }

  .bottom_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
