.b_add_wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(63, 63, 63, 0.6);
  display: none;

  &.active {
    .add_wrapper {
      transform: none;
    }
  }

  .add_wrapper {
    height: 100%;
    width: 100%;
    max-width: 465px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
    transform: translate(-100%, 0);
  }

  .add_wrapper_inner {
    width: 100%;
    height: 100%;
  }

  .b_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
  }

  .btn_close {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 2.42571L21.5743 0L12 9.57429L2.42571 0L0 2.42571L9.57429 12L0 21.5743L2.42571 24L12 14.4257L21.5743 24L24 21.5743L14.4257 12L24 2.42571Z' fill='%234A4A4A'/%3E%3C/svg%3E");

    @media (max-width: $screen-xs-max) {
      width: 32px;
      height: 32px;
      background-size: 19px;
      top: 8px;
      left: 10px;
    }
  }

  .block_head {
    border-bottom: 1px solid #F0F6FA;
    padding: 5px 25px;
    height: 74px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      height: 50px;
    }
  }

  .block_body {
    height: calc(100% - 74px);
    overflow: auto;
    padding: 30px 24px;

    @media (max-width: $screen-xs-max) {
      padding: 20px 15px;
      height: calc(100% - 50px);
    }
  }

  .form_row {
    +.form_row {
      margin: 20px 0 0;
    }
  }

  .row_column_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select_wrapper {
      min-width: 170px;
    }
  }

  .form_wrapper {
    padding: 0 0 15px;
    
    .label_title {
      display: block;
      margin: 0;
      font-size: 14px;
      color: #BBBDBF;
    }

    .explanation {
      padding: 3px 0 0;
      font-size: 14px;
      color: #BBBDBF;
    }

    .form_control {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #D8D8D8;
      padding: 3px 0;

      &:focus {
        border-color: #0597F2;
      }
    }

    .btn_row {
      padding: 30px 0 0;
      text-align: center;
    }

    .btn {
      width: 100%;
      max-width: 215px;
    }

    .selectric-wrapper {
      &.selectric-open {

        .selectric {
          border-color: #0597F2;
        }
      }
    }

    .selectric {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #D8D8D8;
      width: 100%;

      .label {
        margin: 0 0 0 38px;
        padding: 3px 0;
      }
    }
  }
}
