.b_business_partners {
  padding: 80px 0 70px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 0;
  }

  .business_partners_wrapper {
    padding: 70px 0 0;


    @media (max-width: $screen-sm-max) {
      padding: 20px 0 0;
    }
  }

  .partners_wrapper {
    min-height: 425px;
    max-width: 1310px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: 30% 0;
    background-image: url('../images/business_bg.svg');

    @media (max-width: $screen-xs-max) {
      max-width: 355px;
      min-height: 485px;
      background-image: url('../images/business_bg_mob.svg');
      background-position: 27% 30%;
    }
  }

  .partners_wrapper_inner {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;

    @media (max-width: $screen-xs-max) {
      left: 0;
      right: 0;
    }
  }

  .partner_item {
    position: absolute;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: 80%;
      max-width: 75%;
    }
  }

  .circle_xs {
    width: 133px;
    height: 133px;

    @media (max-width: $screen-md-max) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: $screen-sm-max) {
      width: 85px;
      height: 85px;
    }
  }

  .circle_md {
    width: 162px;
    height: 162px;

    @media (max-width: $screen-md-max) {
      width: 140px;
      height: 140px;
    }

    @media (max-width: $screen-sm-max) {
      width: 102px;
      height: 102px;
    }
  }

  .circle_lg {
    width: 204px;
    height: 204px;

    @media (max-width: $screen-md-max) {
      width: 190px;
      height: 190px;
    }

    @media (max-width: $screen-sm-max) {
      width: 142px;
      height: 142px;
    }
  }

  .item01 {
    right: 0;
    top: 20%;

    @media (max-width: $screen-xs-max) {
      right: 45%;
      top: 40%;
    }
  }

  .item02 {
    top: 0;
    right: 15%;

    @media (max-width: $screen-xs-max) {
      top: auto;
      bottom: 31%;
      right: 12%;
      width: 70px;
      height: 70px;
    }
  }

  .item03 {
    bottom: 0;
    right: 12%;

    @media (max-width: $screen-xs-max) {
      right: 0;
      bottom: 0;
    }
  }

  .item04 {
    top: 15%;
    right: 30%;

    @media (max-width: $screen-xs-max) {
      top: auto;
      right: auto;
      bottom: 5%;
      left: 5%;
    }
  }

  .item05 {
    top: 0;
    left: 33%;

    @media (max-width: $screen-xs-max) {
      left: auto;
      top: 34%;
      width: 90px;
      height: 90px;
    }
  }

  .item06 {
    bottom: 7%;
    left: 37%;

    @media (max-width: $screen-xs-max) {
      bottom: auto;
      top: 18%;
      left: 35%;
    }
  }

  .item07 {
    top: 0;
    left: 15%;

    @media (max-width: $screen-xs-max) {
      width: 110px;
      height: 110px;
      left: 0;
    }
  }

  .item08 {
    bottom: 0;
    left: 12%;

    @media (max-width: $screen-xs-max) {
      right: 0;
      top: 0;
      bottom: auto;
      left: auto;
    }
  }

  .item09 {
    left: 0;
    top: 25%;
  }
}
