.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 9px 10px 10px;
  transition: all .2s linear;
  font-size: 16px;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 165px;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &.huge {
    font-size: 24px;
    padding: 12px 10px 14px;
  }

  &:disabled {
    border-color: #BBBDBF;
    background-color: #BBBDBF;
    color: #FFFFFF;
    box-shadow: none;
    -webkit-text-fill-color: #FFFFFF;
    opacity: 1;

    &:hover {
      border-color: #BBBDBF;
      background-color: #BBBDBF;
      -webkit-text-fill-color: #FFFFFF;
      opacity: 1;
    }
  }
}

.btn_blue {
  color: #fff;
  border-color: #0597F2;
  background-color: #0597F2;
  box-shadow: 0px 5px 12px rgba(5, 151, 242, 0.4);

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #4FAEFF;
    border-color: #4FAEFF;
    color: #fff;
    box-shadow: none;
  }
}

.btn_blue_empty {
  color: #374047;
  border-color: #979797;
  background-color: #fff;

  &:focus {
    color: #2F89FC;
  }

  &:active {
    color: #2F89FC;
  }

  &:hover {
    background-color: #0597F2;
    border-color: #0597F2;
    color: #fff;
  }
}

.btn_empty_blue {
  color: #0597F2;
  border-color: #0597F2;
  background-color: #fff;

  &:focus {
    color: #0597F2;
  }

  &:active {
    color: #0597F2;
  }

  &:hover {
    background-color: #0597F2;
    border-color: #0597F2;
    color: #fff;
  }
}

.btn_black {
  color: #fff;
  border-color: #3F3F3F;
  background-color: #3F3F3F;

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #0d71af;
    border-color: #0d71af;
    color: #fff;
    box-shadow: none;
  }
}

.btn_gray {
  color: #fff;
  border-color: #BBBDBF;
  background-color: #BBBDBF;

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #0d71af;
    border-color: #0d71af;
    color: #fff;
    box-shadow: none;
  }
}

.btn_gray_empty {
  color: #BBBDBF;
  border-color: #979797;
  background-color: transparent;

  &:focus {
    color: #BBBDBF;
  }

  &:active {
    color: #BBBDBF;
  }

  &:hover {
    background-color: #979797;
    border-color: #979797;
    color: #fff;
    box-shadow: none;
  }
}
