.b_contact_form {
  padding: 80px 0 70px;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 0 50px;
  }

  .caption_title {
    text-align: right;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .section_title {
    text-align: right;
    margin: 0 0 30px;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 39px;
      letter-spacing: 0.0695652px;
    }
  }

  .contact_form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .form_row {
      +.form_row {
        @media (max-width: $screen-xs-max) {
          margin: 15px 0 0;
        }
      }
    }
  }

  .contact_form_wrapper {
    width: 500px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .contact_form_image {
    width: calc(100% - 500px);
    padding: 0 120px 0 0;

    @media (max-width: $screen-md-max) {
      padding: 0 30px 0 0;
    }

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .form_btn {
    @media (max-width: $screen-xs-max) {
      padding: 15px 0 0;
    }

    .btn {
      width: 100%;
      font-size: 24px;
      padding: 15px 10px;
    }
  }
}
