.b_dashboard {
  &.page_agent_settings {
    .page_title {
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
  }

  .selectric {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;

    .label {
      margin: 0 0 0 38px;
      padding: 5px 0;
    }
  }

  .label_title {
    display: block;
    margin: 0;
    font-size: 14px;
    color: #BBBDBF;
  }

  .explanation {
    padding: 3px 0 0;
    font-size: 14px;
    color: #BBBDBF;
  }

  .form_control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #D8D8D8;
    padding: 5px 0;

    &:focus {
      border-color: #0597F2;
    }
  }


  .dashboard_head {
    padding: 30px 0 20px;

    @media (max-width: $screen-xs-max) {
      background-color: #011E30;
      color: #fff;
      padding: 15px 15px 20px;
    }
  }

  .page_title {
    font-size: 32px;
    font-weight: 700;
    padding: 0 0 5px;
    line-height: 1.2;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
  }

  .welcome {
    font-size: 16px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .block_decor {
    border-radius: 4px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
  }

  .account_info {
    display: block;

    @media (max-width: $screen-xs-max) {
      padding: 25px 0 0;
      margin: 0 -7px;
    }

    .account_info_desktop {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .account_info_mobile {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .info_image {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 32px;
      height: 32px;
      background: #EDF5FB;
      border-radius: 50%;

      @media (max-width: $screen-xs-max) {
        left: auto;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 90%;

        @media (max-width: $screen-xs-max) {
          max-width: 50%;
          max-height: 50%;
        }
      }
    }

    .info_data {
      font-size: 24px;
      font-weight: 600;
      color: #0597F2;
      margin: 0 0 5px;

      @media (max-width: $screen-xs-max) {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        margin: 0;
      }
    }

    .info_data_label {
      font-size: 16px;
    }
  }

  .info_item {
    width: calc(25% - 30px);
    margin: 0 15px 30px;
    padding: 16px 24px 16px 58px;
    position: relative;
    overflow: hidden;

    @media (max-width: 1259px) {
      width: calc(50% - 30px);
      margin: 0 15px 30px;
    }

    @media (max-width: $screen-xs-max) {
      width: calc(50% - 14px);
      margin: 0 7px 15px;
      text-align: center;
      padding: 30px 15px 16px;
    }
  }

  .dashboard {

    .item_head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #F0F6FA;
      padding: 8px 15px;
    }

    .item_title {
      font-weight: 600;
      font-size: 24px;
      margin: 0;
    }

    .item_body {
      padding: 15px 15px;
      position: relative;
      height: calc(100% - 50px);

      canvas {
        width: 100%;
        height: auto;
      }
    }

    .doughnut_wrapper{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }

    .month_filter {
      .selectric {
        margin: 0;
        border: none;
      }

      .selectric .label {
        padding: 0;
        margin: 0 0 0 20px;
      }

      .button {
        width: 20px;

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.289025 1.86173L2.81392 4.68155C3.19412 5.10615 3.80828 5.10615 4.18848 4.68155L6.71338 1.86173C7.32754 1.17583 6.88885 0 6.02122 0H0.97143C0.103801 0 -0.325139 1.17583 0.289025 1.86173Z' fill='%234A4A4A'/%3E%3C/svg%3E");
        }
      }
    }
  }



  .dashboard_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media(max-width: $screen-sm-max) {
      margin: 0;
    }

    .dashboard_item {
      margin: 0 15px 30px;
      min-height: 330px;

      @media(max-width: $screen-sm-max) {
        width: 100%;
        margin: 0 auto 15px;
        min-height: auto;
      }
    }
  }

  .notes_item {
    padding: 10px 0;

    +.notes_item {
      border-top: 1px solid #F0F6FA;
    }

    .notes_date {
      font-size: 14px;
      color: #979797;
      position: relative;
      padding: 0 20px 0 0;
      margin: 0 0 3px;

      &:before {
        position: absolute;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0C10.864 0 14 3.136 14 7C14 10.864 10.864 14 7 14C3.129 14 0 10.85 0 7C0 3.136 3.136 0 7 0ZM7 12.6C10.094 12.6 12.6 10.094 12.6 7C12.6 3.906 10.094 1.4 7 1.4C3.906 1.4 1.4 3.906 1.4 7C1.4 10.094 3.906 12.6 7 12.6ZM7.35 7.175V3.5H6.3V7.7L9.975 9.905L10.5 9.044L7.35 7.175Z' fill='%23979797'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        width: 14px;
        height: 14px;
        right: 0;
        top: 50%;
        margin-top: -8px;
      }
    }
  }







  .companies_head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .btn {
      min-width: 120px;
    }
  }

  .companies_table_control {
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 70px;
    border-bottom: 1px solid #F0F6FA;

    @media (max-width: $screen-xs-max) {
      border: none;
      padding: 15px 15px 30px;
    }

    .left_control {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .companies_search {
      width: 100%;
      max-width: 334px;

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
      }
    }

    .search_wrapper {
      position: relative;

      .btn_submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        bottom: 0;
        border: none;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.03431 7.54717H8.57633L12 10.9777L10.9777 12L7.54717 8.57633V8.03431L7.36192 7.8422C6.57976 8.51458 5.56432 8.91938 4.45969 8.91938C1.99657 8.91938 0 6.92281 0 4.45969C0 1.99657 1.99657 0 4.45969 0C6.92281 0 8.91938 1.99657 8.91938 4.45969C8.91938 5.56432 8.51458 6.57976 7.8422 7.36192L8.03431 7.54717ZM1.37221 4.45969C1.37221 6.1681 2.75129 7.54717 4.45969 7.54717C6.1681 7.54717 7.54717 6.1681 7.54717 4.45969C7.54717 2.75129 6.1681 1.37221 4.45969 1.37221C2.75129 1.37221 1.37221 2.75129 1.37221 4.45969Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      }
    }

    .form_control {
      background: #F9F9F9;
      border: none;
      padding: 9px 12px;
      padding-right: 50px;
      box-sizing: border-box;
      border-radius: 4px;
    }

    .btn_action {
      width: 30px;
      height: 30px;
      border: none;
      padding: 0;
      vertical-align: top;
      transition: all .2s linear;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='4' height='16' viewBox='0 0 4 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2ZM2 6C3.1 6 4 6.9 4 8C4 9.1 3.1 10 2 10C0.9 10 0 9.1 0 8C0 6.9 0.9 6 2 6ZM2 12C3.1 12 4 12.9 4 14C4 15.1 3.1 16 2 16C0.9 16 0 15.1 0 14C0 12.9 0.9 12 2 12Z' fill='%234A4A4A'/%3E%3C/svg%3E");
    }

    .action {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 10px;

      &:hover {
        .btn_action {
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='16' viewBox='0 0 4 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2ZM2 6C3.1 6 4 6.9 4 8C4 9.1 3.1 10 2 10C0.9 10 0 9.1 0 8C0 6.9 0.9 6 2 6ZM2 12C3.1 12 4 12.9 4 14C4 15.1 3.1 16 2 16C0.9 16 0 15.1 0 14C0 12.9 0.9 12 2 12Z' fill='%230597F2'/%3E%3C/svg%3E");
        }

        .action_menu {
          opacity: 1;
          visibility: visible;
          transform: none;
          z-index: auto;
        }
      }
    }

    .action_menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 160px;
      background: #FFFFFF;
      border-radius: 8px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.14);
      opacity: 0;
      visibility: hidden;
      transition: all .2s linear;
      transform: translate(0, -15px);
      z-index: -1;

      .item_image {
        width: 22px;
        height: 22px;
        position: relative;
      }

      .img_static {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          max-height: 95%;
        }
      }

      .action_menu_link {
        display: flex;
        padding: 5px 8px;
      }

      a {
        color: #4A4A4A;
      }

      .item_title {
        padding: 0 5px 0 0;
      }
    }

    .companies_selected{
      span + span{
        margin: 0 5px 0 0;
      }
    }

    .number_selecter {
      color: #0597F2;
      font-weight: 700;
    }
  }

  .companies_table_wrapper {
    .label {
      color: #4A4A4A;

      &.sort_by {
        position: relative;
        padding: 0 0 0 22px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          background-repeat: no-repeat;
          background-position: center;
          top: 50%;
          margin-top: -8px;
        }

        &.up {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.667969 6.00033L1.60797 6.94033L5.33464 3.22033V11.3337H6.66797V3.22033L10.388 6.94699L11.3346 6.00033L6.0013 0.666992L0.667969 6.00033Z' fill='%23DBDBDB'/%3E%3C/svg%3E");
          }
        }

        &.dn {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3346 6.00033L10.3946 5.06033L6.66797 8.78033V0.666992H5.33464V8.78033L1.61464 5.05366L0.667969 6.00033L6.0013 11.3337L11.3346 6.00033Z' fill='%23DBDBDB'/%3E%3C/svg%3E");
          }
        }
      }
    }

    table {
      width: 100%;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      th {
        font-weight: 600;

        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }

      th,
      td {
        text-align: right;
        padding: 15px 20px;
      }

      tr {
        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-wrap: wrap;
        }
      }

      td {
        border-top: 1px solid #F0F6FA;

        @media (max-width: $screen-xs-max) {
          border: none;
          width: 50%;
        }
      }

      tbody {
        tr {
          @media (max-width: $screen-xs-max) {
            border-radius: 8px;
            border: 1px solid #DBDBDB;
            margin: 0 15px 15px;
            position: relative;
          }

          &:first-of-type {
            td {
              border-top: 2px solid #F0F6FA;

              @media (max-width: $screen-xs-max) {
                border: none;
              }
            }
          }


        }
      }
    }
  }

  .companies_table {
    .status {
      padding: 0 25px 0 0;
      position: relative;

      @media (max-width: $screen-xs-max) {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      &:before {
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-top: -8px;
      }

      &.on {
        &:before {
          background-color: #00CC55;
        }
      }

      &.off {
        &:before {
          background-color: #FC0D0D;
        }
      }
    }

    tbody {
      @media (max-width: $screen-xs-max) {
        display: block;
      }

      tr {
        @media (max-width: $screen-xs-max) {
          padding: 8px 0;
        }

        td {
          @media (max-width: $screen-xs-max) {
            font-size: 16px;
            font-weight: 700;
            padding: 9px 20px;
          }

          &::before {
            font-size: 12px;
            font-weight: 400;
          }

          &:last-of-type {
            @media (max-width: $screen-xs-max) {
              padding: 8px 15px 8px;
              width: 100%;
            }

            &::before {
              @media (max-width: $screen-xs-max) {
                display: none;
              }
            }
          }

          a{
            color: #4A4A4A;
            &:hover{
              text-decoration: underline;
            }
          }

          .content{
            .checkbox_table{
              @media (max-width: $screen-xs-max) {
                display: none;
              }
            }
          }
        }
      }
    }

    .btn_edit {
      display: none;
      text-decoration: none;

      &:hover{
        text-decoration: none;
      }

      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }

  .data_control {
    padding: 20px 0 0;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      padding: 20px 15px;
    }

    .data_control_inner {
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      letter-spacing: 0.0278261px;

      select {
        border: none;
        background-color: transparent;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .item_on_page {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }

    .page_rows {
      display: inline-block;
      vertical-align: middle;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
      padding: 2px 0 0;
    }

    .btn_prev_rows,
    .btn_next_rows {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
    }

    .btn_rows_wrap {
      display: inline-block;
      vertical-align: middle;
    }

    .btn_prev_rows {
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1.41L2.67341 6L7 10.59L5.66802 12L0 6L5.66802 0L7 1.41Z' fill='black'/%3E%3C/svg%3E");
    }

    .btn_next_rows {
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42953e-07 1.41L4.32659 6L1.42953e-07 10.59L1.33198 12L7 6L1.33198 0L1.42953e-07 1.41Z' fill='black'/%3E%3C/svg%3E");
    }
  }







  .settings_wrapper {

    .form_wrapper {
      padding: 25px 30px;

      @media (max-width: $screen-xs-max) {
        padding: 15px 15px;
      }
    }

    .settings_row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      +.settings_row {
        border-top: 1px solid #F0F6FA;
        margin: 10px 0 0;
        padding: 40px 0 0;

        @media (max-width: $screen-xs-max) {
          border: none;
          padding: 0;
          margin: 0;
        }
      }
    }

    .settings_title {
      width: 190px;
      font-size: 24px;
      font-weight: 700;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        font-size: 16px;
        margin: 0 0 10px;
      }
    }

    .settings_content_wrapper {
      width: calc(100% - 190px);

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    .column_wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .settings_column {
      width: 50%;
      margin-bottom: 20px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      &:nth-child(2n) {
        padding: 0 15px 0 0;

        @media (max-width: $screen-xs-max) {
          padding: 0;
        }
      }

      &:nth-child(2n+1) {
        padding: 0 0 0 15px;

        @media (max-width: $screen-xs-max) {
          padding: 0;
        }
      }
    }

    .btn_row {
      text-align: center;
      padding: 60px 0 0;

      @media (max-width: $screen-xs-max) {
        padding: 0;
      }

      .btn {
        width: 100%;
        max-width: 225px;

        @media (max-width: $screen-xs-max) {
          max-width: 345px;
        }
      }
    }
  }
}
