.b_dashboard_menu {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  min-height: 100vh;
  overflow: auto;
  background: #011E30;
  width: 64px;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  .dashboard_menu_inner {
    padding: 16px 10px;
  }

  .logo_link {
    display: block;
    width: 32px;
    margin: 0 auto;
  }

  .menu_wrapper {
    padding: 55px 0 0;
  }

  .menu_item{
    text-align: center;
    + .menu_item{
      margin: 20px 0 0;
    }
  }

  .menu_link{
    display: inline-block;
    vertical-align: top;

    &:hover{
      .image_static{
        opacity: 0;
        visibility: hidden;
      }

      .image_active{
        opacity: 1;
        visibility: visible;
      }
    }

    &.active{
      .image_static{
        opacity: 0;
        visibility: hidden;
      }

      .image_active{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .menu_image {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;

    .image_static,.image_active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all .2s linear;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .image_active{
      opacity: 0;
      visibility: hidden;
    }
  }
}
