body {
  &.mobile_menu_open{
    .dashboard_mobile_menu_inner{
      transform: none;
    }
  }
}
.b_dashboard_mobile_menu {
  overflow: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;

  .dashboard_mobile_menu_inner {
    background-color: #fff;
    transition: all .3s linear;
    transform: translate(211px, 0);
    width: 211px;
  }

  .menu_user_name {
    position: relative;
    padding-left: 20px;

    .drop_menu_button{
      width: 100%;
      padding: 0;

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.289025 1.86173L2.81392 4.68155C3.19412 5.10615 3.80828 5.10615 4.18848 4.68155L6.71338 1.86173C7.32754 1.17583 6.88885 0 6.02123 0H0.97143C0.103801 0 -0.325139 1.17583 0.289025 1.86173Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      }
    }

    .drop_menu.position_right{
      right: 35px;
    }
  }

  .name_wrapper {
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.0278261px;
    color: #4A4A4A;
  }

  .mobile_menu {
    padding: 16px 10px;
  }

  .menu_item {
    +.menu_item {
      margin: 20px 0 0;
    }
  }

  .menu_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #3F3F3F;
    transition: all .2s linear;

    &:hover {
      color: #0597F2;

      .image_static {
        opacity: 0;
        visibility: hidden;
      }

      .image_active {
        opacity: 1;
        visibility: visible;
      }
    }

    &.active {
      color: #0597F2;

      .image_static {
        opacity: 0;
        visibility: hidden;
      }

      .image_active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .menu_image {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;

    .image_static,
    .image_active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all .2s linear;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .image_active {
      opacity: 0;
      visibility: hidden;
    }
  }

  .menu_title {
    width: calc(100% - 30px);
  }
}
