.b_faq {
  padding: 80px 0;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  .faq_list {
    max-width: 635px;
    margin: 0 auto 70px;
  }

  .faq_title {
    color: #BBBDBF;
    letter-spacing: 0.0417391px;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    transition: all .2s linear;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
    }

    &:not(:first-of-type) {
      border-top: 1px solid #D8D8D8;
    }

    &.-active {
      color: #4A4A4A;
      border-bottom-color: transparent;
    }
  }

  .faq_content {
    padding: 15px 0;
    display: none;
  }

  .loan_tailored{
    text-align: center;
  }

  .tailored_title {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 20px;
  }
}
