.b_faq_form {
  background-color: #0597F2;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 70px 0;

  @media (max-width: $screen-xs-max) {
    padding: 25px 0 50px;
  }

  .faq_form {
    max-width: 540px;
    margin: 0 auto;
  }

  .form_title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.0973913px;
    margin: 0 0 25px;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      font-size: 42px;
    }
  
    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }

  .form_wrapper {
    position: relative;
  }

  .form_control {
    border: none;
    padding: 16px 10px 16px 60px;
  }

  .btn_search {
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3819 10.6918H12.1498L17 15.5517L15.5517 17L10.6918 12.1498V11.3819L10.4294 11.1098C9.32133 12.0623 7.88279 12.6358 6.3179 12.6358C2.82847 12.6358 0 9.80732 0 6.3179C0 2.82847 2.82847 0 6.3179 0C9.80732 0 12.6358 2.82847 12.6358 6.3179C12.6358 7.88279 12.0623 9.32133 11.1098 10.4294L11.3819 10.6918ZM1.94397 6.3179C1.94397 8.73814 3.89766 10.6918 6.3179 10.6918C8.73814 10.6918 10.6918 8.73814 10.6918 6.3179C10.6918 3.89766 8.73814 1.94397 6.3179 1.94397C3.89766 1.94397 1.94397 3.89766 1.94397 6.3179Z' fill='black'/%3E%3C/svg%3E");
  }
}
