.b_financing_tracks {

  .financing_tracks_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 20px;

    @media (max-width: $screen-xs-max) {
      padding: 25px 0 30px;
    }
  }

  .financing_tracks_image {
    width: calc(100% - 400px);
    max-width: 465px;
    padding: 0 60px 0 0;

    @media (max-width: $screen-xs-max) {
      display: none;
      padding: 0;
    }
  }

  .financing_tracks_content {
    width: 400px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: center;
    }
  }

  .content_wrap {
    h1 {
      font-size: 56px;
      font-weight: 700;
      margin: 0 0 20px;
      letter-spacing: 0.0973913px;
      line-height: 1.2;

      @media (max-width: $screen-sm-max) {
        font-size: 40px;
      }
    }

    p {
      font-size: 24px;
      letter-spacing: 0.0417391px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }
  }

  .content_button {
    padding: 50px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 20px 0 0;
    }
  }

  .btn_review {
    margin: 0 0 0 20px;
    font-size: 24px;
    letter-spacing: 0.0417391px;
    padding: 11px 10px 15px;

    @media (max-width: 500px) {
      display: block;
      max-width: 170px;
      margin: 0 auto 20px;
    }
  }

  .btn_video {
    font-weight: 600;
    font-size: 16px;
    color: #0597F2;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 25px 0 0;
    transition: all .2s linear;

    &:hover {
      color: #4A4A4A;
    }

    &:before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 0C13.192 0 17 3.808 17 8.5C17 13.192 13.192 17 8.5 17C3.808 17 0 13.192 0 8.5C0 3.808 3.808 0 8.5 0ZM9.52 11.815L5.5505 8.84C5.321 8.67 5.321 8.33 5.5505 8.16L9.52 5.185C9.8005 4.9725 10.2 5.1765 10.2 5.525V11.475C10.2 11.8235 9.8005 12.0275 9.52 11.815ZM15.3 8.5C15.3 12.2485 12.2485 15.3 8.5 15.3C4.7515 15.3 1.7 12.2485 1.7 8.5C1.7 4.7515 4.7515 1.7 8.5 1.7C12.2485 1.7 15.3 4.7515 15.3 8.5Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 17px;
      height: 17px;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }
  }
}
