@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700,800&display=swap&subset=hebrew');

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?32943758');
  src: url('../fonts/fontello.eot?32943758#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?32943758') format('woff'),
       url('../fonts/fontello.ttf?32943758') format('truetype'),
       url('../fonts/fontello.svg?32943758#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontelloFirefox';
  src: url('../fonts/fontFirefox/fontello.eot?79436542');
  src: url('../fonts/fontFirefox/fontello.eot?79436542#iefix') format('embedded-opentype'),
       url('../fonts/fontFirefox/fontello.woff?79436542') format('woff'),
       url('../fonts/fontFirefox/fontello.ttf?79436542') format('truetype'),
       url('../fonts/fontFirefox/fontello.svg?79436542#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

