main.main_login {
  background-color: #EDF5FB;
}

main.personal_zone {
  background-color: #F0F6FA;
}

main.main_dashboard {
  background-color: #F0F6FA;
  padding: 0 64px 0 0;

  @media (max-width: $screen-xs-max) {
    padding: 0;
    background-color: #fff;
  }

  &.dashboard_personal_area {
    .container {
      @media (max-width: $screen-xs-max) {
        padding: 0 15px;
      }
    }
  }

  .container {
    padding-left: 15px;
    padding-right: 15 px;

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1055px) {
      width: 970px;
    }

    @media (min-width: 1260px) {
      width: 1170px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

  }

  .block_decor {
    @media (max-width: $screen-xs-max) {
      box-shadow: none;
    }
  }

  &.dashboard_personal_area {
    @media (max-width: $screen-xs-max) {
      background-color: #F0F6FA;
    }

    .block_decor {
      @media (max-width: $screen-xs-max) {
        box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
    }
  }
}

.section_b_line {
  border-bottom: 1px solid #D8D8D8;
}

.caption_title {
  font-size: 24px;
  color: #0597F2;
  letter-spacing: 0.0417391px;
  text-align: center;
}

.section_title {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.0973913px;
  text-align: center;

  @media (max-width: $screen-md-max) {
    font-size: 50px;
  }

  @media (max-width: $screen-sm-max) {
    font-size: 42px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 32px;
  }

  &.strong {
    font-weight: 800;
  }
}

.drop_menu_wrapper {
  position: relative;

  &.drop_hover {
    &:hover {
      .drop_menu {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }

    .drop_menu {
      transform: translate(0, 15px);
    }

    .drop_menu {
      transition: all .1s linear;
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }

  .drop_menu_button {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    user-select: none;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.88667 0L8 6.18341L14.1133 0L16 1.90829L8 10L0 1.90829L1.88667 0Z' fill='black'/%3E%3C/svg%3E");
      width: 16px;
      height: 10px;
      margin-top: -5px;
      left: 0;
      top: 50%;

      @media (max-width: $screen-xs-max) {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.88667 0L8 6.18341L14.1133 0L16 1.90829L8 10L0 1.90829L1.88667 0Z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }

  .drop_menu {
    position: absolute;
    z-index: 5;
    top: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.14);
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    min-width: 150px;
    display: none;

    &.position_right {
      right: 0;
    }

    &.position_left {
      left: 0;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        transition: all .2s linear;
        font-size: 16px;
        color: #4A4A4A;

        &:hover {
          background: #F9F9F9;
        }
      }

      a {
        font-size: 16px;
        color: #4A4A4A;
        padding: 5px 10px;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-height: 100%;
          }
        }

        .title {
          width: calc(100% - 24px);
          padding: 0 5px 0 0;
        }
      }
    }
  }
}

.form_control_custom {
  color: #4A4A4A;
  border-radius: 4px;
  border: 1px solid #979797;
  transition: all .2s linear;
  letter-spacing: 0.0278261px;
  font-size: 16px;
  padding: 12px 12px;
  width: 100%;
}

.form_control {
  color: #4A4A4A;
  border-radius: 4px;
  border: 1px solid #979797;
  transition: all .2s linear;
  letter-spacing: 0.0278261px;
  font-size: 16px;
  padding: 12px 12px;
  width: 100%;

  &:hover,
  &:focus,
  &.valide {
    border-color: #0597F2;
  }

  &.valide {
    border-width: 2px;
  }

  &.input_password {
    text-align: center;
    font-size: 24px;
    padding: 10px 12px;

    @media (max-width: $screen-xs-max) {
      height: 48px;
      font-size: 16px;
    }

    @include placeholderGray();

    &::placeholder {
      @media (max-width: $screen-xs-max) {
        color: transparent;
      }
    }

    &:focus,
    &.not_empty {
      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      speak: none;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: 15px;
      color: #0597F2;
      font-size: 24px;


      &::placeholder {
        color: transparent;
      }

      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: transparent;
      }
    }

    &.error {
      color: #FC0D0D;
      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      speak: none;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: 15px;
    }

    &.valid {
      color: #0597F2;
      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      speak: none;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: 15px;
    }
  }

  &.phone_valid {
    background: #F2F9FE;
    color: #99ADBC;

    &:hover,
    &:focus {
      border-color: #979797;
    }
  }

  &.error {
    border-color: #FC0D0D;
  }

  &.valid {
    border-color: #0597F2;
  }
}

.form_error {
  padding: 3px 0 0;
  color: #FC0D0D;
  font-size: 16px;
}


@-moz-document url-prefix() {
  .form_control {
    &.input_password {
      font-family: 'fontelloFirefox';

      &:focus,
      &.not_empty {
        font-family: 'fontelloFirefox';
        color: #0597F2;
        font-size: 24px;

        &::placeholder {
          color: transparent;
        }

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: transparent;
        }
      }

      &.error,
      &.valid {
        font-family: 'fontelloFirefox';
      }
    }
  }
}

.form_row {
  +.form_row {
    margin: 35px 0 0;
  }
}

.form_btn {
  padding: 30px 0 0;
}

.social_links {
  .links_list {
    display: flex;
    flex-wrap: wrap;
  }

  .list_item {
    +.list_item {
      margin: 0 10px 0 0;
    }
  }
}

blockquote {
  padding: 0 90px 0 0;
  margin: 60px 0;
  font-size: 24px;
  letter-spacing: 0.0417391px;
  position: relative;
  min-height: 60px;

  @media (max-width: $screen-xs-max) {
    margin: 25px 0;
    padding: 0 40px 0 0;
    line-height: 1.3;
  }

  &:before {
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='47' viewBox='0 0 28 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3125 2.3369C9.18749 0.778958 7.54168 0 5.375 0C3.79166 0 2.50001 0.512473 1.5 1.53743C0.499995 2.56239 0 3.93582 0 5.65775C0 7.1747 0.510412 8.39438 1.53125 9.31684C2.55209 10.2393 3.83333 10.7005 5.375 10.7005C5.66667 10.7005 5.875 10.68 6 10.639C6 12.443 5.51042 13.9804 4.53125 15.2513C3.55208 16.5223 2.04168 17.5882 0 18.4492L2.25 23C8.75003 19.9661 12 15.2924 12 8.97861C12 6.10872 11.4375 3.89484 10.3125 2.3369ZM26.3125 2.3369C25.1875 0.778958 23.5417 0 21.375 0C19.7917 0 18.5 0.512473 17.5 1.53743C16.5 2.56239 16 3.93582 16 5.65775C16 7.1747 16.5104 8.39438 17.5312 9.31684C18.5521 10.2393 19.8333 10.7005 21.375 10.7005C21.6667 10.7005 21.875 10.68 22 10.639C22 12.443 21.5104 13.9804 20.5312 15.2513C19.5521 16.5223 18.0417 17.5882 16 18.4492L18.25 23C24.75 19.9661 28 15.2924 28 8.97861C28 6.10872 27.4375 3.89484 26.3125 2.3369Z' fill='%230597F2'/%3E%3Cpath d='M0 47H28V42H0V47Z' fill='%230597F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 47px;
  }
}

.hashtag_wrapper {
  .hashtag {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 25px;
    font-size: 16px;
    color: #0597F2;

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 6.33341C0 5.78113 0.441582 5.33342 0.986301 5.33342H15.0137C15.5584 5.33342 16 5.78113 16 6.33341C16 6.88569 15.5584 7.3334 15.0137 7.3334H0.986301C0.441582 7.3334 0 6.88569 0 6.33341Z' fill='%230597F2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 11.6667C0 11.1145 0.441582 10.6668 0.986301 10.6668H15.0137C15.5584 10.6668 16 11.1145 16 11.6667C16 12.219 15.5584 12.6667 15.0137 12.6667H0.986301C0.441582 12.6667 0 12.219 0 11.6667Z' fill='%230597F2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.35569 0.00620439C6.89708 0.0671934 7.28719 0.561607 7.22704 1.11051L5.47361 17.1104C5.41346 17.6593 4.92581 18.0548 4.38443 17.9938C3.84304 17.9328 3.45292 17.4384 3.51308 16.8895L5.2665 0.889648C5.32666 0.340747 5.8143 -0.0547846 6.35569 0.00620439Z' fill='%230597F2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6156 0.00620439C12.157 0.0671934 12.5471 0.561607 12.487 1.11051L10.7336 17.1104C10.6734 17.6593 10.1858 18.0548 9.64438 17.9938C9.10299 17.9328 8.71288 17.4384 8.77303 16.8895L10.5265 0.889648C10.5866 0.340747 11.0743 -0.0547846 11.6156 0.00620439Z' fill='%230597F2'/%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin: -2px 0 0 5px;
    }
  }
}

.checkbox_table {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 10px;

  [type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +span {
      &:before {
        background-color: #0597F2;
        border-color: #0597F2;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L0 5.20154L1.41 3.84837L5 7.28407L12.59 0L14 1.36276L5 10Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0;
    user-select: none;

    &:before {
      content: '';
      position: relative;
      display: block;
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 3px;
      border: 1px solid #979797;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 85%;
    }
  }
}

.button_checkbox {
  display: inline-block;

  span {
    user-select: none;
  }

  [type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +.btn_gray {
      background-color: #3F3F3F;
      border-color: #3F3F3F;
      color: #fff;
    }
  }
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;

  [type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +span {
      &:before {
        background-color: #0597F2;
        border-color: #0597F2;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L0 5.20154L1.41 3.84837L5 7.28407L12.59 0L14 1.36276L5 10Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 25px 0 0;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 2px solid #979797;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  a {
    color: #0597F2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.radio {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;

  [type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  [type="radio"]:checked {
    +span {
      &:before {
        border-color: #0597F2;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0C2.016 0 0 2.016 0 4.5C0 6.984 2.016 9 4.5 9C6.984 9 9 6.984 9 4.5C9 2.016 6.984 0 4.5 0Z' fill='%230597F2'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 25px 0 0;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      border: 2px solid #979797;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  a {
    color: #0597F2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


.results_steps_wrapper {
  text-align: center;

  .results_title {
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 5px;
  }

  .results_sub_title {
    font-size: 24px;
    letter-spacing: 0.0417391px;
    margin: 0 0 25px;
  }

  .results_steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .step_title {
      font-size: 16px;
      min-width: 160px;
      position: relative;
      z-index: 2;

      @media (max-width: $screen-xs-max) {
        min-width: 44px;
        height: 44px;
      }

      &:not(:last-of-type) {
        &:after {
          content: '';
          z-index: -1;
          height: 6px;
          width: 35px;
          background: #E6F5FE;
          position: absolute;
          right: 100%;
          top: 50%;
          margin-top: -3px;

          @media (max-width: $screen-xs-max) {
            height: 16px;
            margin-top: -8px;
            margin-right: -2px;
            width: 95px;
          }
        }
      }

      .title_inner {
        border-radius: 24px;
        border: 3px solid #E6F5FE;
        color: #0597F2;
        letter-spacing: 0.0278261px;
        background-color: #E6F5FE;
        padding: 10px 5px;

        @media (max-width: $screen-xs-max) {
          font-size: 0;
          padding: 3px 0;
          height: 100%;
        }
      }

      +.step_title {
        margin: 0 30px 0 0;

        @media (max-width: $screen-xs-max) {
          margin: 0 90px 0 0;
        }
      }

      &.complete {
        .title_inner {
          background: #0597F2;
          border-color: #0597F2;
          color: #fff;

          &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 0C7.616 0 0 7.616 0 17C0 26.384 7.616 34 17 34C26.384 34 34 26.384 34 17C34 7.616 26.384 0 17 0Z' fill='white'/%3E%3Cpath d='M12.4831 24.5117L6.48843 18.519C5.83719 17.868 5.83719 16.8164 6.48843 16.1654C7.13966 15.5143 8.19165 15.5143 8.84288 16.1654L13.6687 20.9729L25.1571 9.48826C25.8083 8.83725 26.8603 8.83725 27.5116 9.48826C28.1628 10.1393 28.1628 11.1909 27.5116 11.8419L14.8376 24.5117C14.203 25.1628 13.1343 25.1628 12.4831 24.5117Z' fill='%230597F2'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 10px;


            @media (max-width: $screen-xs-max) {
              margin: 0;
              width: 32px;
              height: 32px;
            }
          }
        }

        &:after {
          background: #0597F2;
        }
      }

      &.active {
        .title_inner {
          border-color: #0597F2;

          @media (max-width: $screen-xs-max) {
            padding: 0;
            border-radius: 50%;
          }
        }

        @media (max-width: $screen-xs-max) {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          padding: 0;
        }
      }

      .step_wrap {
        display: none;

        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          text-align: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          line-height: 1;
          font-size: 16px;
          font-weight: 700;
          color: #0597F2;
        }

        .step_label {
          width: 100%;
        }

        .step_num {
          font-size: 20px;
          line-height: .8;
        }
      }
    }
  }
}




.selectric-wrapper {

  &.error {
    .selectric {
      border-color: #CC0000 !important;
    }
  }

  &.valid {
    .selectric {
      border-color: #0597F2 !important;
    }
  }

  &.selectric-open {
    z-index: 5;

    .selectric {
      border-color: #0597F2;
    }

    .button {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .selectric-items {
    background-color: #fff;

    li {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
}

.selectric {
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 4px;

  .label {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.285714px;
    font-weight: 400;
    padding: 11px 0;
    height: auto;
    margin: 0 10px 0 38px;
    text-align: right;
  }

  .button {
    height: 100%;
    font-size: 0;
    right: auto;
    left: 0;
    background-color: transparent;

    &:after {
      padding: 0;
      content: '';
      transition: all .2s linear;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.88667 0L8 6.18341L14.1133 0L16 1.90829L8 10L0 1.90829L1.88667 0Z' fill='black'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 10px;
    }
  }
}

.input_count {
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }

  .input_value_wrapper {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .input_value {
    width: 100%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    font-size: 32px;
    color: #4A4A4A;
    border: none;
    padding: 0;
    height: 35px;
    min-height: 0;
    line-height: .7;
    user-select: none;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
      margin: 0 auto;
      line-height: 1.1;
      width: 60px;
    }
  }

  .btn_minus,
  .btn_plus {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 50%;
    padding: 0;
    vertical-align: middle;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn_minus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='3' viewBox='0 0 16 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.5C0 0.947715 0.447715 0.5 1 0.5H15C15.5523 0.5 16 0.947715 16 1.5C16 2.05228 15.5523 2.5 15 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z' fill='%23000'/%3E%3C/svg%3E");
  }

  .btn_plus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M8 0C8.55228 0 9 0.447715 9 1V7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H9V15C9 15.5523 8.55228 16 8 16C7.44772 16 7 15.5523 7 15V9H1C0.447715 9 0 8.55228 0 8C0 7.44772 0.447715 7 1 7H7V1C7 0.447715 7.44772 0 8 0Z' fill='%23000'/%3E%3C/svg%3E");
  }
}

.tooltip_wrapper {
  position: relative;

  &.top_left {
    &.tooltip_select {
      .tooltip_icon_wrapper {
        left: 35px;
      }

      .selectric .label {
        margin: 0 10px 0 68px;
      }
    }

    .tooltip_icon_wrapper {
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -15px;
    }

    .tooltip_content {
      top: 50%;
      right: 100%;
      transform: translate(0, -50%);

      @media (max-width: $screen-sm-max) {
        transform: none;
        top: auto;
        bottom: 100%;
        right: auto;
        left: -10px;
        margin: 0 0 0;
      }
    }

    .tooltip_content_inner {
      &:before {
        position: absolute;
        content: '';
        left: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.408 3.07278C7.53067 4.27886 7.53066 7.72114 5.408 8.92722L0 12V0L5.408 3.07278Z' fill='%234A4A4A'/%3E%3C/svg%3E");
        width: 7px;
        height: 12px;

        @media (max-width: $screen-sm-max) {
          left: 16px;
          top: 100%;
          bottom: auto;
          margin: -3px 0 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  .tooltip_icon_wrapper {
    &:hover {
      .tooltip_content {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
  }

  .tooltip_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.48 4.48 0 10 0C15.52 0 20 4.48 20 10C20 15.52 15.52 20 10 20C4.48 20 0 15.52 0 10ZM11 9V15H9V9H11ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM11 5V7H9V5H11Z' fill='%23BBBDBF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  .tooltip_content {
    position: absolute;
    transition: all .2s linear;
    opacity: 0;
    padding: 0 15px 0 0;
    visibility: hidden;
    z-index: -1;

    @media (max-width: $screen-sm-max) {
      padding: 0 0 20px;
    }
  }

  .tooltip_content_inner {
    position: relative;
    text-align: center;
    border-radius: 4px;
    background-color: #4A4A4A;
    padding: 9px 20px 10px;
    color: #FFFFFF;
    min-width: 200px;
  }
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
  margin-left: 20px;
}

.mCSB_scrollTools {
  width: 8px;

  .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
    background: #DBDBDB !important;
  }

  .mCSB_draggerRail {
    width: 8px;
    background-color: transparent;
  }
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  margin: 4px 0;
  height: 8px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 8px;
  margin: 0;
}

@media (min-width: 992px) {
  .col-md12 {
    width: calc(100% - 30px);
  }

  .col-md11 {
    width: calc(91.66666667% - 30px);
  }

  .col-md10 {
    width: calc(83.33333333% - 30px);
  }

  .col-md9 {
    width: calc(75% - 30px);
  }

  .col-md8 {
    width: calc(66.66666667% - 30px);
  }

  .col-md7 {
    width: calc(58.33333333% - 30px);
  }

  .col-md6 {
    width: calc(50% - 30px);
  }

  .col-md5 {
    width: calc(41.66666667% - 30px);
  }

  .col-md4 {
    width: calc(33.33333333% - 30px);
  }

  .col-md3 {
    width: calc(25% - 30px);
  }

  .col-md2 {
    width: calc(16.66666667% - 30px);
  }

  .col-md1 {
    width: calc(8.33333333% - 30px);
  }
}




.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 100%;
  bottom: auto;
  visibility: visible !important;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0.0278261px;
  border-radius: 0;
  background: none;
  margin-top: 10px;
}

.irs--flat .irs-handle {
  top: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #F4F2F2;
  border: 1px solid #DDDDDD;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 14C10.866 14 14 10.866 14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14Z' fill='%230597F2'/%3E%3C/svg%3E");
}

.irs--flat {

  .irs-from,
  .irs-to,
  .irs-single {
    top: auto;
    bottom: 100%;
    background-color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 9px 20px;

    &::before {
      border: none;
      width: 10px;
      height: 7px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L2.56065 5.408C3.56572 7.53067 6.43428 7.53067 7.43935 5.408L10 0L0 0Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      bottom: auto;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

.irs--flat .irs-handle i {
  display: none !important;
}

.irs--flat .irs-line {
  background: #FAFAFA;
  border-radius: 8px;
  height: 16px;
  top: 0;
}

.irs--flat .irs-bar {
  top: 0;
  border-radius: 8px;
  height: 16px;
  background: #0597F2;
}


.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: .3 !important;
  background: #3F3F3F;
}

.datepickers-container {
  direction: ltr;
  // right: 0;
  // overflow: hidden;
  // bottom: 0;
  // z-index: -1;

  .datepicker{
    display: none;

    &.active{
      display: block;
    }
  }
}

.datepicker--day-name {
  color: #4A4A4A;
  font-weight: 700;
  font-size: 14px;
}

.datepicker--nav-action {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  svg {
    display: none;
  }

  &[data-action="prev"] {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34 9H14C14.5523 9 15 9.44772 15 10C15 10.5523 14.5523 11 14 11H8.41L9.71 12.28L9.7158 12.2858C10.1047 12.6779 10.1021 13.3111 9.71 13.7L9.7042 13.7058C9.31208 14.0947 8.67892 14.0921 8.29 13.7L5.29 10.7C5.20005 10.6078 5.12874 10.4992 5.08 10.38C5.02876 10.2598 5.00158 10.1307 5 10L5.02 9.91C5.02458 9.81402 5.04485 9.71943 5.08 9.63C5.10674 9.56142 5.14384 9.49734 5.19 9.44C5.21652 9.39436 5.24662 9.35089 5.28 9.31L8.14 6.31C8.52108 5.90959 9.15459 5.89392 9.555 6.275C9.95541 6.65608 9.97108 7.28959 9.59 7.69L8.34 9Z' fill='%231E90FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.47715 0 0 4.47715 0 10C0 15.5229 4.47715 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47715 15.5229 0 10 0ZM10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18Z' fill='%231E90FF'/%3E%3C/svg%3E");
  }

  &[data-action="next"] {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 9.91V10C14.9997 10.134 14.9725 10.2667 14.92 10.39C14.8713 10.5092 14.7999 10.6178 14.71 10.71L11.7042 13.7158C11.3121 14.1047 10.6789 14.1021 10.29 13.71L10.2842 13.7042C9.89528 13.3121 9.89788 12.6789 10.29 12.29L11.59 11H6C5.44772 11 5 10.5523 5 10C5 9.44772 5.44772 9 6 9H11.66L10.43 7.69C10.0489 7.28959 10.0646 6.65608 10.465 6.275C10.8654 5.89392 11.4989 5.90959 11.88 6.31L14.74 9.31C14.7734 9.35089 14.8035 9.39436 14.83 9.44C14.8762 9.49734 14.9133 9.56142 14.94 9.63C14.9752 9.71943 14.9954 9.81402 15 9.91Z' fill='%231E90FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.47715 0 0 4.47715 0 10C0 15.5229 4.47715 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47715 15.5229 0 10 0ZM10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 14.4183 14.4183 18 10 18Z' fill='%231E90FF'/%3E%3C/svg%3E");
  }
}

.datepicker--nav-title {
  font-weight: bold;
  font-size: 18px;
  color: #212121;

  i{
    color: #212121;
  }
}
