.b_how_it_work {
  padding: 80px 0 70px;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 0;
  }

  .work_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .section_title {
    margin: 0 0 65px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 35px;
    }

    @media (max-width: $screen-xs-max) {
      margin: 0 0 25px;
    }
  }

  .work_item {
    width: 33.33%;
    position: relative;

    @media (max-width: $screen-md-max) {
      padding: 0 15px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 0;
    }

    &:not(:last-of-type) {
      @media (max-width: $screen-xs-max) {
        margin: 0 0 135px;
      }

      .item_inner {
        &:after {
          position: absolute;
          content: '';
          right: 100%;
          top: 50px;
          background-image: url("data:image/svg+xml,%3Csvg width='88' height='23' viewBox='0 0 88 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.5161 18.9102C64.2744 -3.14479 42.2096 -1.95039 27.7915 2.93602C16.1055 6.89661 7.60493 13.7079 3.92376 17.0361L6.33346 6.93245C6.53129 6.10403 6.04179 5.26634 5.24089 5.06171C4.44118 4.85585 3.63012 5.36341 3.43228 6.19244L0.0433895 20.3991C-0.0635967 20.848 0.0296427 21.3234 0.296809 21.6937C0.564574 22.0646 0.978174 22.2915 1.42524 22.3132L15.7058 22.9988L15.7076 22.9988C15.7309 22.9994 15.7536 23 15.7763 23C16.5701 23 17.2305 22.3546 17.2676 21.5262C17.3064 20.6736 16.6687 19.9503 15.8445 19.9101L5.83215 19.4299C9.29018 16.3124 17.5506 9.65994 28.7221 5.87381C48.5899 -0.860467 67.6914 4.29302 85.4959 21.1877C86.1038 21.7652 87.0493 21.7231 87.607 21.0938C88.1646 20.465 88.124 19.487 87.5161 18.9102Z' fill='%230597F2'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          width: 88px;
          height: 23px;
          margin: 0 10px 0 0;

          @media (max-width: $screen-md-max) {
            margin: 0 -10px 0 0;
          }

          @media (max-width: $screen-sm-max) {
            background-size: contain;
            width: 50px;
          }

          @media (max-width: $screen-xs-max) {
            width: 88px;
            transform: rotate(-90deg);
            right: 0;
            left: 0;
            margin: 50px auto 0;
            top: 100%;
          }
        }
      }
    }
  }

  .item_inner {
    max-width: 255px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .item_image {
    margin: 0 auto 25px;

    img {
      margin: 0 auto;
    }
  }

  .item_title {
    font-weight: 800;
    font-size: 24px;
    margin: 0 0 5px;
  }

  .item_content {
    text-align: justify;
    color: #97A1A7;
    letter-spacing: 0.0278261px;
  }

  .btn_wrap {
    text-align: center;
    padding: 60px 0 0;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    .btn {
      font-size: 24px;
      padding: 11px 10px 15px;
    }
  }
}
