.b_loan_magazine {
  background: rgba(228, 240, 249, 0.2);
  padding: 40px 0 60px;

  @media (max-width: $screen-sm-max) {
    padding: 40px 0 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 0 20px;
  }

  .section_title {
    margin: 0 0 75px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 45px;
    }

    @media (max-width: $screen-xs-max) {
      margin: 0 0 25px;
      font-size: 40px;
    }
  }

  .loan_magazine_first {
    margin: 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    .bl_content {
      width: 345px;
    }

    .bl_image {
      width: calc(100% - 375px);
    }

    .img_wrapper {
      width: 100%;
      min-height: 360px;
    }

    .content {
      margin: 0 0 10px;
    }

    .link_more {
      font-weight: 700;
      font-size: 16px;
      text-decoration: underline;
      color: #313848;
      margin: 0 0 50px;
      display: inline-block;
      vertical-align: top;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .loan_magazine_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .img_wrapper {
      min-height: 250px;
    }

    .magazine_item_content {
      border-radius: 20px;
      background: #FFFFFF;
      box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
      padding: 30px 15px 15px;
      width: calc(100% - 20px);
      margin: -30px auto 0;
    }

    .content {
      margin: 0 0 15px;
    }
  }

  .magazine_item {
    width: 33.33%;
    padding: 0 15px;

    @media (max-width: $screen-sm-max) {
      width: 50%;
      margin: 0 0 25px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .img_wrapper {
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .title {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 15px;
  }

  .btn_more {
    width: 100%;
  }

  .more_loan_wrapper {
    display: none;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .btn_more_loan {
      display: block;
      font-size: 16px;
      color: #374047;
      padding: 9px 15px 10px;
      width: 100%;
      max-width: 345px;
      margin: 0 auto;
      border: 1px solid #979797;
      border-radius: 4px;
      background: #FFFFFF;

      &:hover {
        border-color: #0597F2;
        background-color: #0597F2;
        ;
        color: #fff;
      }
    }
  }
}
