.b_loading{
  padding: 50px 0;
  text-align: center;

  .loading_wrapper{
    margin: 0 0 30px;
  }

  .label{
    font-size: 16px;
    letter-spacing: 0.0278261px;
  }

  #loading{
    #mask{
      // animation-duration: 10s;
      // animation-name: loading;
      animation: loading 10s infinite;
      height: 88px;
    }
  }
}

@keyframes loading {
  0% {
    height: 1px;
    y: 88;
  }

  25% {
    height: 88px;
    y: -1;
  }

  50%{
    height: 1px;
    y: -1;
  }

  75%{
    height: 88px;
    y: -1;
  }

  100%{
    y: 88;
    height: 1px;
  }
}

@-moz-keyframes loading{
  0% {
    height: 1px;
    y: 88;
  }

  25% {
    height: 88px;
    y: -1;
  }

  50%{
    height: 1px;
    y: -1;
  }

  75%{
    height: 88px;
    y: -1;
  }

  100%{
    y: 88;
    height: 1px;
  }
}
@-o-keyframes loading{
  0% {
    height: 1px;
    y: 88;
  }

  25% {
    height: 88px;
    y: -1;
  }

  50%{
    height: 1px;
    y: -1;
  }

  75%{
    height: 88px;
    y: -1;
  }

  100%{
    y: 88;
    height: 1px;
  }
}
@-webkit-keyframes loading{
  0% {
    height: 1px;
    y: 88;
  }

  25% {
    height: 88px;
    y: -1;
  }

  50%{
    height: 1px;
    y: -1;
  }

  75%{
    height: 88px;
    y: -1;
  }

  100%{
    y: 88;
    height: 1px;
  }
}