.loan_questionnaire {
  position: relative;
}

.b_loan {
  padding: 40px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    padding: 40px 0 88px;
  }

  &.sms_code {
    .loan_title {
      margin: 0 0 25px;

      @media (max-width: $screen-xs-max) {
        margin: 0 0 15px;
      }
    }

    .form_wrapper {
      max-width: 350px;
      margin: 0 auto;
    }

    .placeholder_mobile {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        color: #4A4A4A;
        font-size: 24px;
        margin: 0 0 30px;
      }
    }

    .form_wrapper .send_again {
      @media (max-width: $screen-xs-max) {
        padding: 55px 0 10px;
      }
    }
  }

  &.what_need {
    .form_wrapper {
      max-width: 760px;
    }

    .custom_radio {
      .radio_title {
        font-size: 16px;
      }
    }
  }

  .loan_inner {
    position: relative;
  }

  .btn_back {
    position: absolute;
    right: 0;
    top: -10px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L20.5858 13H1C0.447715 13 0 12.5523 0 12C0 11.4477 0.447715 11 1 11H20.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%23696969'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s linear;

    @media (max-width: $screen-xs-max) {
      top: -25px;
    }

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L20.5858 13H1C0.447715 13 0 12.5523 0 12C0 11.4477 0.447715 11 1 11H20.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%230597F2'/%3E%3C/svg%3E");
    }
  }

  .form_row {
    margin: 0 0 30px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 15px;
    }
  }

  .tooltip_wrapper {
    .form_control {
      padding-left: 40px;
    }
  }

  .form_btn {
    padding: 0;
    text-align: center;
    margin: 0;
    transition: all .2s linear;

    @media (max-width: $screen-xs-max) {
      height: 88px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #fff;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #979797;
      // margin: 0 0 -88px;
    }

    &.valid {
      @media (max-width: $screen-xs-max) {
        position: fixed;
        margin: 0;
      }
    }
  }

  .select_area_code {
    @media (max-width: $screen-xs-max) {
      max-width: 112px;
    }
  }

  .sub_title {
    font-size: 24px;
    letter-spacing: 0.0417391px;
    margin: 0 0 20px;
    text-align: center;
  }

  .loan_title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  .form_wrapper {
    max-width: 540px;
    margin: 0 auto;
  }

  .column_wrapper {
    display: flex;
    margin: 0 -15px;

    @media (max-width: $screen-xs-max) {
      margin: 0 -7px;
    }

    .column {
      margin: 0 15px;
      width: 100%;

      @media (max-width: $screen-xs-max) {
        margin: 0 7px;
      }
    }
  }

  .send_again {
    padding: 0 0 10px;
    text-align: center;
    color: #47485B;

    a {
      color: #47485B;
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .custom_radio_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $screen-xs-max) {
      margin: 0 -15px;
    }
  }

  .what_purpose {
    display: none;
    max-width: 540px;
    margin: 0 auto;
  }

  .custom_radio {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 30px;
    position: relative;
    text-align: center;
    cursor: pointer;

    @media (max-width: $screen-xs-max) {
      margin: 0 10px 30px;
    }

    [type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }

    [type="radio"]:checked {
      +span.custom_radio_inner {
        border-color: #0597F2;

        .radio_title {
          color: #0597F2;
        }

        .curent_image {
          opacity: 0;
          visibility: hidden;
        }

        .active_image {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .custom_radio_inner {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: #FAFAFA;
      border: 8px solid #FAFAFA;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s linear;
    }

    .images_wrapper {
      width: 70px;
      height: 70px;
      position: relative;
      display: block;
      margin: 0 auto 5px;
      transition: all .2s linear;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .curent_image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all .2s linear;
    }

    .active_image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      visibility: hidden;
      transition: all .2s linear;
    }

    .radio_title {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.0347826px;
      line-height: 1.1;
      transition: all .2s linear;
    }
  }



  .business_form {
    max-width: 410px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      padding: 0 0 20px;
    }

    .form_wrapper {
      max-width: 350px;
      margin: 0 auto;
    }

    .form_row {
      margin: 0 0 15px;
    }

    .business_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .business_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .radio_wrapper {
      +.radio_wrapper {
        margin: 0 25px 0 0;
      }
    }

    .btn {
      width: 100%;
      max-width: 240px;
    }
  }




  &.loan_amount_wrapper {
    .loan_title {
      max-width: 400px;
      margin: 0 auto 90px;

      @media (max-width: $screen-xs-max) {
        margin: 0 auto 30px;
      }
    }

    .loan_sub_title {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        margin: 0 0 20px;
      }
    }
  }

  .loan_amount {
    direction: ltr;
    margin: 0 0 70px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 40px;
    }

    .mobile_data {
      display: none;
      text-align: center;
      font-weight: 600;
      font-size: 46px;
      letter-spacing: 0.08px;
      color: #BBBDBF;

      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }

    .mobile_data_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .loan_amount_wrap {
      position: relative;
    }
  }

  .period_title {
    font-size: 24px;
    letter-spacing: 0.0417391px;
    text-align: center;
    margin: 0 0 25px;
  }

  .period_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 0 45px;

    @media (max-width: 500px) {
      display: block;
      text-align: center;
    }
  }

  .period_from, .period_to{
    width: calc(50% - 10px);
    text-align: center;
  }

  .count_result {
    padding: 10px 0 0;

    .price {
      color: #007BB6;
    }
  }

  .period_list_info {
    position: relative;
    text-align: center;
    width: 20px;

    @media (max-width: 500px) {
      padding: 15px 0;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 1px;
      height: 15px;
      background-color: #BBBDBF;

      @media (max-width: 500px) {
        width: 65px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
  }

  .irs--flat {
    @media (max-width: $screen-xs-max) {
      height: auto;
    }
  }

  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single,
  .irs--flat .irs-min,
  .irs--flat .irs-max {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }

  .irs-single {
    display: none;

    &.irs-single-custom {
      display: block;
      margin-left: -12px;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }


  .single-data-wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    #irs-input-value {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #4A4A4A;
      border-radius: 0;
      border: none;
      margin: 0;
      width: 100%;
      display: none;
      text-align: center;
    }
  }

  .mobile_data_inner {
    position: relative;
  }

  .price_wrapper {
    padding: 0 3px;

  }

  .irs-data-mobile-wrapper {
    position: absolute;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    display: none;

    .mobile-wrapper-inner {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  #irs-input-value-mobile {
    border: none;
    color: #BBBDBF;
    border-bottom: 2px solid #979797;
    font-weight: 600;
    font-size: 46px;
    line-height: 1.3;
    max-width: 200px;
  }

  .irs-btn-wrap {
    margin: -1px 0 0 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .irs-data-button {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2427 0.755241C15.2354 -0.251747 13.6033 -0.251747 12.5961 0.755241L5.51187 7.83774C5.38371 7.96587 5.29276 8.12652 5.24876 8.30248L4.50305 11.2846C4.41787 11.6252 4.5173 11.9857 4.765 12.2341C5.01269 12.4826 5.37232 12.5826 5.71237 12.4976L8.6952 11.7521C8.87047 11.7083 9.03058 11.6176 9.15845 11.4898L16.2427 4.40728C17.2511 3.39906 17.2511 1.76347 16.2427 0.755241ZM14.0055 2.1707C14.2338 1.94246 14.6049 1.94246 14.8332 2.1707C15.0603 2.39771 15.0603 2.76482 14.8332 2.99182L7.9444 9.87896L6.84291 10.1543L7.1172 9.05739L14.0055 2.1707Z' fill='white'/%3E%3Cpath d='M2.4882 1.581C1.11558 1.581 -0.000976562 2.69406 -0.000976562 4.07182V14.5092C-0.000976562 15.8869 1.11558 17 2.4882 17H12.9281C14.3007 17 15.4173 15.8869 15.4173 14.5092V9.2905C15.4173 8.73835 14.9706 8.29074 14.4195 8.29074C13.8685 8.29074 13.4218 8.73835 13.4218 9.2905V14.5092C13.4218 14.7784 13.2028 15.0005 12.9281 15.0005H2.4882C2.21345 15.0005 1.99455 14.7784 1.99455 14.5092V4.07182C1.99455 3.8026 2.21345 3.58052 2.4882 3.58052H7.70815C8.2592 3.58052 8.70591 3.13292 8.70591 2.58076C8.70591 2.02861 8.2592 1.581 7.70815 1.581H2.4882Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  .irs-data-done {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4072 5.92303C13.7911 6.23875 13.8463 6.80591 13.5306 7.18982L9.06372 12.6216C8.82753 12.9088 8.45062 13.0121 8.11499 12.9137C7.929 12.8595 7.75906 12.7451 7.63709 12.5757L5.35003 9.39921C5.0596 8.99583 5.15116 8.43339 5.55454 8.14295C5.95792 7.85252 6.52036 7.94408 6.81079 8.34746L8.4154 10.5761L12.1404 6.04651C12.4561 5.6626 13.0232 5.60731 13.4072 5.92303Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 0C4.52944 0 0.5 4.02944 0.5 9C0.5 13.9706 4.52944 18 9.5 18C14.4706 18 18.5 13.9706 18.5 9C18.5 4.02944 14.4706 0 9.5 0ZM2.3 9C2.3 5.02355 5.52355 1.8 9.5 1.8C13.4764 1.8 16.7 5.02355 16.7 9C16.7 12.9764 13.4764 16.2 9.5 16.2C5.52355 16.2 2.3 12.9764 2.3 9Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 18px;
    cursor: pointer;
    display: none;
  }

  .irs-data-button-mobile {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9591 1.04087C23.5713 -0.346957 21.3212 -0.346957 19.9334 1.04087L8.49675 12.4775C8.36859 12.6056 8.27767 12.7662 8.23371 12.9421L7.02986 17.7575C6.94466 18.0982 7.04451 18.4587 7.29289 18.7071C7.54127 18.9555 7.90176 19.0553 8.24254 18.9701L13.0579 17.7663C13.2338 17.7223 13.3944 17.6314 13.5225 17.5033L24.9591 6.06665C26.347 4.67882 26.347 2.4287 24.9591 1.04087ZM21.3476 2.45509C21.9543 1.8483 22.9381 1.8483 23.5449 2.45509C24.1517 3.06187 24.1517 4.04565 23.5449 4.65243L12.3042 15.8932L9.37437 16.6256L10.1068 13.6958L21.3476 2.45509Z' fill='%23BBBDBF'/%3E%3Cpath d='M3.44444 2C1.54213 2 0 3.54213 0 5.44444V22.5556C0 24.4579 1.54213 26 3.44444 26H20.5556C22.4579 26 24 24.4579 24 22.5556V14C24 13.4477 23.5523 13 23 13C22.4477 13 22 13.4477 22 14V22.5556C22 23.3533 21.3533 24 20.5556 24H3.44444C2.6467 24 2 23.3533 2 22.5556V5.44444C2 4.6467 2.6467 4 3.44444 4H12C12.5523 4 13 3.55228 13 3C13 2.44772 12.5523 2 12 2H3.44444Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px 0 0 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .irs-data-done-mobile{
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5763 8.69833C19.0029 9.04913 19.0643 9.67931 18.7135 10.1059L12.1103 18.1354C12.0793 18.1748 12.0451 18.2122 12.0076 18.2473C11.9213 18.3284 11.8233 18.3917 11.7188 18.4365C11.4491 18.5523 11.1358 18.5457 10.8676 18.408C10.7671 18.3567 10.6742 18.2877 10.594 18.2019C10.5588 18.1645 10.527 18.1249 10.4986 18.0836L7.12371 13.3962C6.80101 12.948 6.90275 12.323 7.35094 12.0003C7.79914 11.6776 8.42408 11.7794 8.74678 12.2276L11.3761 15.8794L17.1688 8.83553C17.5196 8.40896 18.1497 8.34754 18.5763 8.69833Z' fill='%23BBBDBF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0ZM2 13C2 6.92487 6.92487 2 13 2C19.0751 2 24 6.92487 24 13C24 19.0751 19.0751 24 13 24C6.92487 24 2 19.0751 2 13Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
}
