.b_login {
  &.agent_login{
    .login_form {
      max-width: 540px;
    }

    .login_title{
      margin: 0 0 21px;
    }

    .form_wrapper{
      max-width: 320px;
      margin: 0 auto;
    }

    .form_row{
      @media (max-width: $screen-xs-max) {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .input_password{
      padding: 7px 12px;

      @media (max-width: $screen-xs-max) {
        height: 48px;
      }
    }

    .send_again {
      padding: 0 0 20px;
      text-align: center;
      color: #47485B;
  
      a {
        color: #47485B;
        text-decoration: underline;
        font-weight: 600;
  
        &:hover {
          text-decoration: none;
        }
      }
    }

    .form_btn{
      padding: 25px 0 0;
    }
  }

  .login_wrapper {
    padding: 55px 0;

    @media (max-width: $screen-xs-max) {
      padding: 25px 0;
    }
  }

  .login_form {
    border-radius: 8px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 420px;
  }

  .login_head{
    padding: 20px 10px;
    border-bottom: 1px solid #D8D8D8;

    img{
      width: 100%;
      margin: 0 auto;
      max-width: 185px;
    }
  }

  .login_title{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 5px;

    &.sms_title{
      @media (max-width: $screen-xs-max) {
        max-width: 260px;
        margin: 0 auto 5px;
      }
    }
  }

  .login_content{
    text-align: center;
    margin: 0 0 20px;

    @media (max-width: $screen-xs-max) {
      max-width: 310px;
      margin: 0 auto 20px;
    }
  }

  .login_body{
    padding: 15px 35px 35px;

    @media (max-width: $screen-xs-max) {
      padding: 15px 15px 30px;
    }
  }

  .form_btn{
    text-align: center;
  }

  .join{
    padding: 15px 0 0;
    text-align: center;
    p{
      margin: 0;
    }
    a{
      color: #0597F2;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }
}
