.b_numbers_speak {
  padding: 80px 0;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 20px 0 30px;
  }

  .numbers_speak_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .numbers_speak_content {
    width: 410px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .caption_title,
  .section_title {
    text-align: right;
  }

  .section_title {
    margin: 0 0 15px;
  }

  .content {
    color: #979797;

    p {
      max-width: 390px;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0 0 20px;
      color: #0597F2;
      font-weight: 600;
      letter-spacing: 0.0278261px;

      li {
        position: relative;
        padding: 0 30px 0 0;

        &:before {
          position: absolute;
          content: '';
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #F1F7FC;
          top: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.60071 0.146331C8.39837 -0.0487767 8.07031 -0.0487769 7.86796 0.14633L3.47281 4.3843L2.13232 3.0913C1.93001 2.89616 1.60195 2.8961 1.39957 3.09117L0.151822 4.29388C-0.0505571 4.48895 -0.0506147 4.80528 0.151693 5.00042L3.10258 7.85367C3.30493 8.04878 3.63299 8.04878 3.83533 7.85367L9.84824 2.05579C10.0506 1.86068 10.0506 1.54435 9.84824 1.34925L8.60071 0.146331Z' fill='%230597F2'/%3E%3C/svg%3E");
        }

        +li {
          margin: 15px 0 0;
        }
      }
    }
  }

  .content_btn {
    padding: 30px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 0;
      text-align: center;
    }

    .btn {
      width: 100%;
      max-width: 160px;
    }
  }

  .numbers_speak_image {
    width: calc(100% - 410px);
    padding: 0 30px 0 0;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      padding: 0;
      margin: 50px auto 0;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    img {
      margin: 0 auto 0 0;

      @media (max-width: $screen-sm-max) {
        margin: 0 auto;
      }
    }
  }
}
