.b_offer_results {
  padding: 30px 0 0;


  .relevant_suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0;

    @media (max-width: $screen-xs-max) {
      flex-wrap: wrap;
      padding: 20px 0 0;
    }

    .content {
      width: calc(100% - 230px);

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 0 0 20px;
      }
    }

    .select_wrapper {
      width: 213px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 345px;
        margin: 0 auto;
      }

      select {
        width: 100%;
      }
    }
  }

  .results_wrapper {
    max-width: 920px;
    margin: 0 auto;
  }

  .results_table {
    padding: 40px 0 60px;

    @media (max-width: $screen-xs-max) {
      padding: 15px 0 60px;
    }
  }

  .table_wrapper {
    border: 1px solid #DBDBDB;
    border-radius: 8px;

    @media (max-width: $screen-xs-max) {
      border: none;
      border-radius: 0;
    }

    .img_wrapper {
      width: 48px;
      height: 48px;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
      }
    }

    table {
      width: 100%;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      tbody {
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }

      td {
        padding: 15px 20px;

        @media (max-width: $screen-xs-max) {
          display: block;
          width: 33.33%;
          padding: 8px 5px;
        }

        &:nth-last-child(2) {
          @media (max-width: $screen-xs-max) {
            margin-right: 33.33%;
          }
        }

        &:last-of-type {
          text-align: left;

          @media (max-width: $screen-xs-max) {
            width: 100%;
            text-align: center;
          }

          .button_checkbox {
            @media (max-width: $screen-xs-max) {
              width: 100%;
              max-width: 300px;
            }

            .btn{
              width: 100%;
            }
          }
        }

        .img_wrapper {
          @media (max-width: $screen-xs-max) {
            margin: 0 auto;
          }
        }
      }


      tr {
        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid #DBDBDB;
          border-radius: 8px;
          padding: 8px 10px;
        }

        +tr {
          @media (max-width: $screen-xs-max) {
            margin: 15px 0 0;
          }
        }

        &:not(:first-of-type) {
          td {
            border-top: 1px solid #D8D8D8;

            @media (max-width: $screen-xs-max) {
              border: none;
            }
          }
        }
      }

      .btn {
        min-width: 120px;
      }

      .label {
        font-size: 12px;
        color: #4A4A4A;
      }

      .label_data {
        font-size: 16px;
        color: #0597F2;
        font-weight: 700;
      }
    }
  }


  .selected_offers_wrapper {
    background: #3F3F3F;
    box-shadow: 0px -13px 21px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    z-index: 5;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .selected_offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    @media (max-width: $screen-xs-max) {
      padding: 15px 0;
    }

    .btn{
      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 215px;
      }
    }
  }

  .offers_quantity {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.0556522px;
    margin: 0 0 0 25px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0 0 15px;
      text-align: center;
    }

    span {
      color: #0597F2;
    }
  }
}
