.b_personal_zone {
  padding: 55px 0;

  @media (max-width: $screen-sm-max) {
    padding: 35px 0 50px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 17px 0 50px;
  }

  .btn_add_loan {
    min-width: 225px;

    @media (max-width: $screen-sm-max) {
      min-width: 200px;
    }

    @media (max-width: $screen-xs-max) {
      min-width: auto;
      width: 100%;
      max-width: 200px;
      padding: 12px 7px 14px;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10.5C0 4.64048 4.75998 0 10.5 0C16.24 0 21 4.64048 21 10.5C21 16.3595 16.24 21 10.5 21C4.75998 21 0 16.3595 0 10.5ZM10.5 2.0241C5.6964 2.0241 1.90909 5.87942 1.90909 10.5C1.90909 15.1206 5.6964 18.9759 10.5 18.9759C15.3036 18.9759 19.0909 15.1206 19.0909 10.5C19.0909 5.87942 15.3036 2.0241 10.5 2.0241ZM10.5 5.69277C11.0272 5.69277 11.4545 6.14588 11.4545 6.70482V9.48795H14.3182C14.8454 9.48795 15.2727 9.94106 15.2727 10.5C15.2727 11.0589 14.8454 11.512 14.3182 11.512H11.4545V14.2952C11.4545 14.8541 11.0272 15.3072 10.5 15.3072C9.97282 15.3072 9.54545 14.8541 9.54545 14.2952V11.512H6.68182C6.15464 11.512 5.72727 11.0589 5.72727 10.5C5.72727 9.94106 6.15464 9.48795 6.68182 9.48795H9.54545V6.70482C9.54545 6.14588 9.97282 5.69277 10.5 5.69277Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 21px;
      margin: -2px 0 0 15px;

      @media (max-width: $screen-xs-max) {
        margin: -2px 0 0 8px;
      }
    }
  }

  .personal_zone_info {
    padding: 25px 0;
    max-width: 640px;
  }

  .personal_zone_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .personal_zone_menu {
    @media (max-width: $screen-xs-max) {
      max-width: 50%;
      width: 50%;
      padding: 0 0 0 6px;
    }
  }

  .personal_zone_new_loan {
    @media (max-width: $screen-xs-max) {
      text-align: left;
      width: 50%;
      max-width: 50%;
      padding: 0 6px 0 0;
    }
  }

  .personal_menu_wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
  }

  .personal_info {
    border-left: 1px solid #F0F6FA;
    padding: 5px 15px;

    @media (max-width: $screen-xs-max) {
      border: none;
      width: 100%;
      padding: 5px 15px 5px 25px;
    }

    &:after {
      @media (max-width: $screen-xs-max) {
        position: absolute;
        content: '';
        left: 10px;
        top: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.415 -3.8147e-06L6 4.32838L10.585 -3.8147e-06L12 1.3358L6 7L0 1.3358L1.415 -3.8147e-06Z' fill='black'/%3E%3C/svg%3E");
        width: 12px;
        height: 7px;
        margin-top: -4px;
      }
    }
  }

  .personal_name {
    font-size: 24px;
    color: #4A4A4A;
    font-weight: 700;
    line-height: 1.3;
    max-width: 165px;

    @media (max-width: $screen-xs-max) {
      max-width: none;
      line-height: 1.2;
    }
  }

  .personal_label {
    @media (max-width: $screen-xs-max) {
      line-height: 1.1;
    }

    .label_desktop {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .label_mobile {
      display: none;
      color: #0597F2;

      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }

  .personal_menu {
    @media (min-width: $screen-sm-min) {
      display: block !important;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      border-radius: 10px;
      background-color: #FFFFFF;
      box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
      margin: 10px 0 0;
    }
  }

  .personal_menu_inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    @media (max-width: $screen-sm-max) {
      min-width: 100px;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .item_inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      align-items: center;
      min-width: 160px;

      @media (max-width: $screen-sm-max) {
        min-width: 100px;
      }
    }

    .menu_icon {
      width: 25px;
      height: 25px;
      margin: 0 auto;
      position: relative;

      .icon_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          max-height: 100%;
        }
      }

      .icon_active {
        opacity: 0;
        visibility: hidden;
      }
    }

    .menu_item {
      text-align: center;
      display: block;
      color: #4A4A4A;

      @media (max-width: $screen-xs-max) {
        padding: 10px;
      }

      &:not(:last-of-type) {
        border-left: 1px solid #F0F6FA;

        @media (max-width: $screen-xs-max) {
          border: none;
          border-bottom: 1px solid #F0F6FA;
        }
      }

      &.active {
        color: #0597F2;

        .menu_icon {
          .icon_active {
            opacity: 1;
            visibility: visible;
          }

          .icon_static {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }




  .personal_zone_content {
    background: #FFFFFF;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .btn_wrapper {
      text-align: center;

      .btn {
        width: 100%;
        max-width: 225px;
      }
    }

    &.table_wrapper {
      @media (max-width: $screen-sm-max) {
        background-color: transparent;
        box-shadow: none;
      }
    }

    &.personal_file{
      @media (max-width: $screen-sm-max) {
        margin: 0 -15px;
      }
    }
  }

  .info_title {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F2;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      padding: 15px 15px;
      border: none;
    }
  }

  .info_form {
    padding: 35px 15px;
    max-width: 540px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }
  }

  .column_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: $screen-xs-max) {
      margin: 0;
    }

    .column {
      width: calc(50% - 30px);
      margin: 0 15px 10px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 0;
      }

      +.column {
        @media (max-width: $screen-xs-max) {
          margin: 15px 0 0;
        }
      }
    }
  }

  .tel_info {
    margin: 15px 0 0;
    color: #BBBDBF;
    position: relative;
    padding: 0 30px 0 0;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.48 4.48 0 10 0C15.52 0 20 4.48 20 10C20 15.52 15.52 20 10 20C4.48 20 0 15.52 0 10ZM11 9V15H9V9H11ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM11 5V7H9V5H11Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      right: 0;
      top: 50%;
      margin: -11px 0 0;
    }
  }

  .info_form_row {
    margin: 0 0 20px;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 15px;
    }
  }

  .alternative_login {
    margin: 40px auto 0;
    padding: 15px 0 0;
    border-top: 1px solid #F1F1F2;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      margin: 15px auto 0;
      border: none;
      padding: 15px 0;
    }
  }

  .alternative_login_info {
    font-weight: 600;
    margin: 0 0 15px;

    @media (max-width: $screen-xs-max) {
      max-width: 240px;
      margin: 0 auto 15px;
    }
  }

  .alternative_link {

    .icon {
      margin: 0 0 0 10px;
    }

    a {
      color: #0773F6;
      letter-spacing: 0.0278261px;
      display: inline-flex;
      align-items: center;
    }
  }




  .personal_zone_table {
    table {
      width: 100%;

      @media (max-width: $screen-sm-max) {
        display: block;
      }

      tbody {
        @media (max-width: $screen-sm-max) {
          display: block;
        }
      }

      .btn {
        min-width: 110px;
      }

      tr {
        @media (max-width: $screen-sm-max) {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          border-radius: 8px;
          border: 1px solid #DBDBDB;
          background: #FFFFFF;
          padding: 5px 10px;
        }

        +tr {
          @media (max-width: $screen-sm-max) {
            margin: 15px 0 0;
          }
        }

        &:not(:first-of-type) {
          td {
            border-top: 1px solid #F1F1F2;

            @media (max-width: $screen-sm-max) {
              border: none;
            }
          }
        }
      }

      td {
        padding: 20px 20px;

        @media (max-width: $screen-sm-max) {
          display: block;
          width: 33.33%;
          padding: 10px 5px;
        }

        &:nth-last-child(2){
          @media (max-width: $screen-sm-max) {
            order: 1;
          }
        }
        &:nth-last-child(3){
          @media (max-width: $screen-sm-max) {
            order: 2;
          }
        }

        &:last-of-type {
          text-align: left;

          @media (max-width: $screen-sm-max) {
            width: 100%;
            text-align: center;
            order: 3;
          }

          .btn {
            @media (max-width: $screen-sm-max) {
              width: 100%;
              max-width: 320px;
            }
          }
        }
      }

      .label {
        font-size: 12px;
        margin: 0 0 3px;
      }

      .content {
        font-size: 16px;
        font-weight: 700;

        img {
          display: inline-block;
          vertical-align: middle;
          margin: -3px 0 0 5px;

          @media (max-width: $screen-sm-max) {
            display: none ;
          }
        }

        &.blue {
          color: #0597F2;
        }

        &.green {
          color: #00CC55;
        }

        &.yellow {
          color: #E5AD02;
        }

        &.red {
          color: #FC0D0D;
        }
      }
    }

    .questions {
      color: #979797;

      a {
        color: #979797;
        text-decoration: underline;
      }

      img {
        display: inline;
      }
    }

    .btn{
      font-weight: 700;
    }

    &.personal_zone_table_inner {
      .table_head {
        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }

      table {
        tr {
          @media (max-width: $screen-sm-max) {
            padding: 0;
          }
        }

        td {
          @media (max-width: $screen-sm-max) {
            width: 25%;
          }

          @media (max-width: $screen-xs-max) {
            width: 33.33%;
            padding: 6px 15px;
          }

          @media (max-width: 450px) {
            padding: 6px 5px;
          }

          &:first-of-type {
            img {
              margin: 0 auto;
              max-height: 50px;
            }
          }

          // &:nth-last-child(2) {
          //   @media (max-width: $screen-xs-max) {
          //     width: 66.67%;
          //     margin-right: 33.33%;
          //     padding: 6px 15px 15px;
          //   }
          // }

          &:last-of-type {
            @media (max-width: $screen-sm-max) {
              width: 100%;
              border-top: 1px solid #DBDBDB;
            }
          }
        }
      }
    }
  }

  .table_head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8;
    padding: 20px 20px;

    .head_item {
      +.head_item {
        margin: 0 60px 0 0;
      }
    }

    .head_button {
      width: 230px;

      .btn {
        width: 100%;
      }
    }

    .head_content {
      width: calc(100% - 230px);
    }

    .head_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }

    .head_label {
      margin: 0 0 10px;
    }

    .label_content {
      font-weight: 700;
      font-size: 16px;
      color: #4A4A4A;
    }
  }


  .btn_back {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 11.4477 0.447715 11 1 11H23C23.5523 11 24 11.4477 24 12C24 12.5523 23.5523 13 23 13H1C0.447715 13 0 12.5523 0 12Z' fill='%23696969'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L21.5858 12L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%23696969'/%3E%3C/svg%3E");
    background-position: center;
    display: block;
  }

  .personal_zone_file_wrapper {
    padding: 0 0 30px;
    min-height: 690px;

    @media (max-width: $screen-sm-max) {
      min-height: auto;
    }

    .table_head {
      justify-content: center;
      position: relative;

      @media (max-width: $screen-sm-max) {
        padding: 20px 30px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 0 50px 0 20px;
      }

      .head_item {
        margin: 0;

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
          padding: 10px 5px;
        }
      }

      .head_label{
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          margin: 0 0 5px;
        }
      }
    }

    .btn_back {
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -17px;

      @media (max-width: $screen-sm-max) {
        right: 20px;
        width: 20px;
        height: 20px;
        background-size: 16px;
      }
    }

    .head_wrapper{
      justify-content: space-between;
    }

    .head_content {
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
    }

    .btn_wrapper {
      padding: 60px 0 0;

      @media (max-width: $screen-sm-max) {
        padding: 35px 0 0;
      }
    }
  }

  .file_wrapper {
    max-width: 540px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }
  }

  .tooltip_wrapper{
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 20px;

    @media (max-width: $screen-sm-max) {
      position: relative;
      left: auto;
      top: auto;
      margin: 0;
    }
  }

  .tooltip_icon_wrapper{
    display: inline-block;
    position: relative;
    vertical-align: top;

    &:hover{
      .tooltip_icon{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM9 15V9H11V15H9ZM9 5V7H11V5H9Z' fill='%230597F2'/%3E%3C/svg%3E");    
      }
    }
  }

  .tooltip_icon{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM9 15V9H11V15H9ZM9 5V7H11V5H9Z' fill='%23979797'/%3E%3C/svg%3E");
  }

  .tooltip_content{
    padding: 0;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: $screen-sm-max) {
      left: auto;
      right: 100%;
      transform: none;
    }
  }

  .tooltip_content_inner{
    text-align: right;
    padding: 9px 10px 10px;
  }

  .documents_title {
    max-width: 540px;
    margin: 20px auto 30px;
    text-align: center;
    font-weight: 800;
    font-size: 24px;

    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }
  }

  .file_item {
    position: relative;
    +.file_item {
      margin: 15px 0 0;
    }
  }

  .file_wrap {
    position: relative;
    border: 1px solid #0597F2;
    border-radius: 4px;
    color: #0597F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .file_control{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
  }

  .btn_control{
    width: 22px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

    + .btn_control{
      margin: 0 15px 0 0;
    }
  }

  .btn_download{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.76923 16H14.4615C15.9909 16 17.2308 14.7602 17.2308 13.2308V10.2677C17.2308 9.69502 16.7665 9.23077 16.1938 9.23077H15.1908C14.6181 9.23077 14.1538 9.69502 14.1538 10.2677V11.8892C14.1522 12.4607 13.6884 12.9231 13.1169 12.9231H4.11385C3.54117 12.9231 3.07692 12.4588 3.07692 11.8862V10.2677C3.07692 9.69502 2.61268 9.23077 2.04 9.23077H1.03692C0.464246 9.23077 0 9.69502 0 10.2677V13.2308C0 14.7602 1.23983 16 2.76923 16Z' fill='%230597F2'/%3E%3Cpath d='M9.50462 0H7.72615C7.53753 0 7.38461 0.152912 7.38461 0.341538V6.55692C7.38364 6.60967 7.35142 6.65679 7.30262 6.67684C7.25383 6.6969 7.19778 6.68605 7.16 6.64923L5.95692 5.44615C5.89287 5.38208 5.80598 5.34609 5.71538 5.34609C5.62479 5.34609 5.5379 5.38208 5.47385 5.44615L4.21538 6.70769C4.15131 6.77175 4.11532 6.85863 4.11532 6.94923C4.11532 7.03983 4.15131 7.12672 4.21538 7.19077L7.74462 10.7169C7.97547 10.948 8.28873 11.0779 8.61539 11.0779C8.94204 11.0779 9.2553 10.948 9.48615 10.7169L13.0154 7.18769C13.0795 7.12364 13.1155 7.03675 13.1155 6.94615C13.1155 6.85556 13.0795 6.76867 13.0154 6.70462L11.7538 5.44615C11.6898 5.38208 11.6029 5.34609 11.5123 5.34609C11.4217 5.34609 11.3348 5.38208 11.2708 5.44615L10.0677 6.64923C10.0299 6.68605 9.97386 6.6969 9.92507 6.67684C9.87628 6.65679 9.84406 6.60967 9.84308 6.55692V0.341538C9.84308 0.154107 9.69204 0.00168857 9.50462 0Z' fill='%230597F2'/%3E%3C/svg%3E");
  }

  .btn_remove{
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.29036 0.75L10.207 1.66667H13.4154V3.5H0.582031V1.66667H3.79036L4.70703 0.75H9.29036ZM1.4987 15.4167C1.4987 16.425 2.3237 17.25 3.33203 17.25H10.6654C11.6737 17.25 12.4987 16.425 12.4987 15.4167V4.41667H1.4987V15.4167ZM3.7537 8.89L5.0462 7.5975L6.9987 9.54083L8.94203 7.5975L10.2345 8.89L8.2912 10.8333L10.2345 12.7767L8.94203 14.0692L6.9987 12.1258L5.05536 14.0692L3.76286 12.7767L5.7062 10.8333L3.7537 8.89Z' fill='%230597F2'/%3E%3C/svg%3E");
  }

  .file_info {
    min-height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px 10px 15px;
    position: relative;
    width: calc(100% - 90px);

    &:before {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM8 12.17L13.88 6.29C14.27 5.9 14.91 5.9 15.3 6.29C15.69 6.68 15.69 7.31 15.3 7.7L8.71 14.29C8.32 14.68 7.69 14.68 7.3 14.29L4.71 11.7C4.32 11.31 4.32 10.68 4.71 10.29C5.1 9.9 5.73 9.9 6.12 10.29L8 12.17Z' fill='%230597F2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      top: 50%;
      margin-top: -10px;
      right: 15px;
    }
  }

  .btn_uploading {
    position: relative;
    padding: 13px 55px 13px 20px;

    &:before {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.70703 12C2.25932 12 2.70703 12.4477 2.70703 13V17C2.70703 17.5523 3.15475 18 3.70703 18H17.707C18.2593 18 18.707 17.5523 18.707 17V13C18.707 12.4477 19.1547 12 19.707 12C20.2593 12 20.707 12.4477 20.707 13V17C20.707 18.6569 19.3639 20 17.707 20H3.70703C2.05018 20 0.707031 18.6569 0.707031 17V13C0.707031 12.4477 1.15475 12 1.70703 12Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.001 0.292893C10.3915 -0.0976311 11.0247 -0.0976311 11.4152 0.292893L16.4152 5.29289C16.8057 5.68342 16.8057 6.31658 16.4152 6.70711C16.0247 7.09763 15.3915 7.09763 15.001 6.70711L11.7081 3.41421V13C11.7081 13.5523 11.2604 14 10.7081 14C10.1558 14 9.70807 13.5523 9.70807 13V3.41421L6.41518 6.70711C6.02465 7.09763 5.39149 7.09763 5.00096 6.70711C4.61044 6.31658 4.61044 5.68342 5.00096 5.29289L10.001 0.292893Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 20px;
      top: 50%;
      margin-top: -10px;
      right: 20px;
    }
  }

}
