.b_post_archive {
  padding: 60px 0 30px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 0;
  }

  .post_archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 60px;

    @media (max-width: $screen-sm-max) {
      margin: 0;
    }

    .hashtag_wrapper{
      padding: 0 0 10px;
    }
  }

  .main_card_wrapper {
    width: calc(100% - 445px);
    max-width: 660px;
    padding: 0 0 0 30px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .main_card {
    .img_wrapper {
      margin: 0 0 20px;
      height: 360px;
    }

    .card_title {
      font-weight: 700;
      font-size: 24px;
      margin: 0 0 15px;
    }

    .card_content {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 25px;
    }
  }

  .recommended_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #BBBDBF;
    padding: 0 0 15px;
    margin: 0 0 20px;

    @media (max-width: $screen-sm-max) {
      border: none;
      padding: 0;
    }

    .recommended_title{
      width: calc(100% - 190px);
      font-weight: 800;

      @media (max-width: $screen-xs-max) {
        width: calc(100% - 160px);
      }
    }

    .selectric{
      .button{
        &:after{
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%230597F2'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .recommended_title {
    font-weight: 700;
    letter-spacing: 0.0417391px;
    font-size: 24px;
  }

  .recommended_filter{
    width: 190px;

    @media (max-width: $screen-xs-max) {
      width: 160px;
    }
  }

  .recommended_articles {
    width: 445px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .recommended_list {

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    .recommended_item{
      + .recommended_item{
        margin: 30px 0 0;
      }
    }

    .item_wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .img_wrapper{
      height: 115px;
      width: 160px;
      box-shadow: none;
    }

    .recommended_content{
      width: calc(100% - 160px);
      padding: 0 30px 0 0;
    }
  }







  .img_wrapper {
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .btn_more {
    width: 100%;
  }

  .cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .magazine_item {
    width: 33.33%;
    padding: 0 15px;
    margin: 0 0 30px;

    @media (max-width: $screen-sm-max) {
      width: 50%;
      margin: 0 0 25px;
    }

    @media (max-width: 650px) {
      width: 100%;
    }

    .img_wrapper {
      min-height: 250px;
    }

    .magazine_item_content {
      border-radius: 20px;
      background: #FFFFFF;
      box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
      padding: 30px 15px 15px;
      width: calc(100% - 20px);
      margin: -30px auto 0;
    }

    .title {
      font-size: 24px;
      font-weight: 800;
      margin: 0 0 15px;
    }

    .content {
      margin: 0 0 15px;
    }
  }
}
