.b_result_success{
  padding: 30px 0;

  .result_wrapper{
    text-align: center;

    .btn{
      width: 100%;
      max-width: 265px;
    }
  }

  .results_title{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  .results_sub_title{
    font-size: 24px;
    margin: 0 0 10px;
  }

  .image_wrapper{
    margin: 0 0 25px;
    img{
      margin: 0 auto;
    }
  }

  .content{
    max-width: 220px;
    margin: 0 auto 30px;
    font-size: 16px;
  }
}