.b_single_company {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    display: block;
    position: static;
  }

  .file_wrapper {
    [type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.hide_company_actions {
    .company_actions {
      transform: translate(-100%, 0);
      margin: 0 0 0 45px;

      @media (max-width: $screen-md-max) {
        transform: none;
        margin: 0;
      }
    }

    .company_content {
      width: calc(100% - 22% - 43px);

      @media (max-width: 1450px) {
        width: calc(100% - 295px - 43px);
      }
    }
  }


  // company main data ------------------

  .company_main_data {
    background: #FFFFFF;
    height: 100vh;
    width: 22%;
    border-left: 1px solid #DEE1E3;

    @media (min-width: 1920px) {
      width: 406px;
    }

    @media (max-width: 1450px) {
      width: 295px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      background-color: #011E30;
      color: #fff;
      height: auto !important;
      border: none;
    }
  }

  .main_data_head {
    height: 162px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;

    @media (max-width: $screen-xs-max) {
      height: 107px;
    }
  }

  .mobile_data_toggle {
    display: none;

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  .btn_toggle_main_data_body {
    width: 100%;
    border: none;
    padding: 9px 10px;
    background: #011E30;
    margin: 0;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.5);
    transition: all .2s linear;

    &.active {
      color: #fff;
    }
  }

  .main_data_body {
    height: calc(100% - 162px);
    overflow: auto;

    @media (min-width: $screen-sm-min) {
      display: block !important;
    }

    @media (max-width: $screen-xs-max) {
      // position: absolute;
      display: none;
      top: 100%;
      left: 0;
      right: 0;
    }

    .form_control {
      background-color: transparent;

      @media (max-width: $screen-xs-max) {
        color: #fff;
      }
    }

    .selectric {
      .label {
        @media (max-width: $screen-xs-max) {
          color: #fff;
        }
      }

      .button:after {
        @media (max-width: $screen-xs-max) {
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.88667 0L8 6.18341L14.1133 0L16 1.90829L8 10L0 1.90829L1.88667 0Z' fill='%23fff'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .customer_control {
    padding: 30px 30px 15px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 10px 30px 15px;
    }

    .customer_name {
      font-size: 32px;
      line-height: 1.1;
      margin: 0 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 1450px) {
        margin: 10px 0 20px;
        font-size: 28px;
      }

      @media (max-width: $screen-xs-max) {
        margin: 0 0 10px;
        font-size: 24px;
      }
    }

    .control_buttons {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .drop_menu_wrapper .drop_menu.position_right {
        right: auto;
        left: 0;
      }
    }

    .btn_control {
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .btn_customer_edit {
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8067 2.75305C12.0667 3.01305 12.0667 3.43305 11.8067 3.69305L10.5867 4.91305L8.08667 2.41305L9.30667 1.19305C9.56667 0.933047 9.98667 0.933047 10.2467 1.19305L11.8067 2.75305ZM0 12.6664V10.6397C0 10.5464 0.0333333 10.4664 0.1 10.3997L7.37333 3.12638L9.87333 5.62638L2.59333 12.8997C2.53333 12.9664 2.44667 12.9997 2.36 12.9997H0.333333C0.146667 12.9997 0 12.853 0 12.6664Z' fill='%230597F2'/%3E%3C/svg%3E");
    }

    .btn_customer_menu {
      background-image: url("data:image/svg+xml,%3Csvg width='4' height='16' viewBox='0 0 4 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2ZM2 6C3.1 6 4 6.9 4 8C4 9.1 3.1 10 2 10C0.9 10 0 9.1 0 8C0 6.9 0.9 6 2 6ZM2 12C3.1 12 4 12.9 4 14C4 15.1 3.1 16 2 16C0.9 16 0 15.1 0 14C0 12.9 0.9 12 2 12Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
    }

    .drop_menu_wrapper {
      vertical-align: middle;
    }

    .drop_menu_button {
      padding: 0;
      vertical-align: middle;

      &:after {
        display: none;
      }
    }

    .drop_menu {
      text-align: right;
    }

    .menu_link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .icon {
        width: 24px;
        height: 24px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          max-height: 100%;
        }
      }

      .title {
        width: calc(100% - 24px);
        padding: 0 0 0 5px;
      }
    }
  }

  .contact_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .contact_item {
      padding: 0 14px;
    }

    .item_link {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      color: #4A4A4A;

      @media (max-width: $screen-xs-max) {
        color: #fff;
      }
    }

    .link_image {
      width: 22px;
      height: 22px;
      position: relative;
      margin: 0 auto;

      img,
      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        max-height: 100%;

        path {
          @media (max-width: $screen-xs-max) {
            fill: #fff;
          }
        }
      }
    }
  }

  .company_information {
    height: 100%;
    overflow: auto;
  }

  .company_information_inner {
    padding: 15px 25px;

    @media (max-width: $screen-sm-max) {
      padding: 15px 10px;
    }

    .form_control {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #D8D8D8;
      padding: 5px 0;

      &:focus {
        border-color: #0597F2;
      }
    }

    .form_row {
      +.form_row {
        margin: 20px 0 0;
      }
    }

    .form_wrapper {
      .label_title {
        display: block;
        margin: 0;
        font-size: 14px;
        color: #BBBDBF;
      }

      .explanation {
        padding: 3px 0 0;
        font-size: 14px;
        color: #BBBDBF;
      }

      .form_control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #D8D8D8;
        padding: 5px 0;

        &:focus {
          border-color: #0597F2;
        }
      }

      .btn_row {
        padding: 30px 0 0;
        text-align: center;
      }

      .btn {
        width: 100%;
        max-width: 215px;
      }

      .selectric-wrapper {
        &.selectric-open {

          .selectric {
            border-color: #0597F2;
          }
        }
      }

      .selectric {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #D8D8D8;
        width: 100%;

        .label {
          margin: 0 0 0 38px;
          padding: 5px 0;
        }
      }
    }

    .form_button {
      padding: 20px 0 0;

      .btn {
        width: 100%;
      }

      .btn_empty_blue {
        box-shadow: 0px 5px 12px rgba(5, 151, 242, 0.4);
      }
    }
  }

  .company_name {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 15px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }



  // company content ------------------

  .company_content {
    position: relative;
    width: calc(100% - 22% - 26%);

    @media (min-width: 1920px) {
      width: calc(100% - 406px - 470px);
    }

    @media (max-width: 1450px) {
      width: calc(100% - 295px - 340px);
    }

    @media (max-width: $screen-md-max) {
      width: calc(100% - 295px - 43px);
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      height: auto !important;
      position: static;
    }

    .content_wrapper {
      height: 100%;
      padding: 30px 30px 0;

      @media (max-width: 1450px) {
        padding: 20px 15px 0;
      }

      @media (max-width: $screen-xs-max) {
        padding: 0 15px 0;
      }
    }

    .content_head {
      height: 60px;
      width: 100%;
      position: relative;

      @media (max-width: $screen-xs-max) {
        margin: 0 -15px;
        width: auto;
        text-align: center;
        height: auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        background: #FFFFFF;
      }
    }

    .tab_wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      border-bottom: 1px solid #E4E7E8;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $screen-xs-max) {
        position: relative;
        justify-content: center;
        bottom: 0;
      }

      .tab_link {
        font-size: 16px;
        font-weight: 600;
        padding: 0 0 10px;
        position: relative;
        user-select: none;
        color: #4A4A4A;

        @media (max-width: $screen-xs-max) {
          padding: 10px 0;
        }

        &:after {
          position: absolute;
          top: 100%;
          margin-top: -1px;
          left: 0;
          right: 0;
          height: 2px;
          content: '';
        }

        &.-active {
          color: #0597F2;

          &:after {
            background: #0597F2;
          }
        }

        +.tab_link {
          margin: 0 50px 0 0;
        }
      }
    }

    .tab_content_wrapper {
      height: calc(100% - 60px);

      @media (max-width: $screen-xs-max) {
        height: auto;
      }

      .tab_content {
        height: 100%;
        overflow: hidden;

        @media (max-width: $screen-xs-max) {
          overflow: visible;
        }
      }

      .overflow_block {
        height: 100%;
        overflow: hidden;

        @media (max-width: $screen-xs-max) {
          overflow: visible;
        }
      }
    }
  }


  .loans_wrapper {
    padding: 0 0 15px;
    width: 100%;
    min-width: 900px;

    @media (max-width: $screen-xs-max) {
      min-width: auto;
    }

    .loan_item {
      background: #fff;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 24px;
      width: 100%;

      @media (max-width: $screen-xs-max) {
        padding: 2px 0;
      }

      .btn {
        min-width: 110px;
        font-weight: 700;

        @media (max-width: $screen-xs-max) {
          width: 100%;
          max-width: 320px;
        }
      }
    }

    .loan_item_column {
      @media (max-width: $screen-xs-max) {
        padding: 8px 10px;
      }

      &:last-of-type {
        text-align: left;

        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
      }

      &:nth-child(1) {
        width: calc(19.28% - 40px);

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
        }
      }

      &:nth-child(2) {
        width: calc(19.28% - 40px);

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
        }
      }

      &:nth-child(3) {
        width: calc(19.28% - 40px);

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
        }
      }

      &:nth-child(4) {
        width: calc(19.28% - 40px);

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
        }
      }

      &:nth-child(5) {
        width: calc(19.28% - 40px);

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
          order: 2;
        }
      }

      &:nth-child(6) {
        width: 90px;

        @media (max-width: $screen-xs-max) {
          width: 33.33%;
          order: 1;
        }
      }

      &:nth-child(7) {
        width: 110px;

        @media (max-width: $screen-xs-max) {
          width: 100%;
          order: 3;
        }
      }
    }

    .row_title {
      font-size: 24px;
      font-weight: 600;
      padding: 40px 0 30px;
    }

    .loan_label_content {
      font-weight: 700;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;

        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }

      .text {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .row_wrapper {
      @media (max-width: $screen-xs-max) {
        padding: 15px 0 0;
      }
    }

    .loan_item_row {
      @media (max-width: $screen-xs-max) {
        border: 1px solid #DBDBDB;
        border-radius: 8px;
      }

      +.loan_item_row {
        margin: 16px 0 0;
      }
    }


    .blue {
      color: #0597F2;
    }

    .green {
      color: #00CC55;
    }

    .yellow {
      color: #E5AD02;
    }

    .red {
      color: #FC0D0D;
    }
  }

  .loan_details_wrapper {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    min-width: 700px;

    @media (max-width: $screen-xs-max) {
      min-width: auto;
    }

    .loan_detail_head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #E4E7E8;
      padding: 20px 20px;
      height: 95px;
      position: relative;

      @media (max-width: $screen-xs-max) {
        height: auto;
        margin: 0 -15px;
        width: auto;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        padding: 13px 55px 13px 20px;
      }
    }

    .head_item {
      @media (max-width: $screen-xs-max) {
        width: 33.33%;
        padding: 5px 5px;
      }

      +.head_item {
        margin: 0 60px 0 0;

        @media (max-width: $screen-xs-max) {
          margin: 0;
        }
      }

      &:first-of-type {
        @media (max-width: $screen-xs-max) {
          width: auto;
          position: absolute;
          top: 20px;
          right: 15px;
        }
      }

      &:last-of-type {
        display: none;

        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }
    }

    .head_label {
      margin: 0 0 10px;

      @media (max-width: $screen-xs-max) {
        margin: 0;
      }
    }

    .label_content {
      font-weight: 700;
      font-size: 16px;
      color: #4A4A4A;
    }
  }

  .btn_back {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 11.4477 0.447715 11 1 11H23C23.5523 11 24 11.4477 24 12C24 12.5523 23.5523 13 23 13H1C0.447715 13 0 12.5523 0 12Z' fill='%23696969'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L21.5858 12L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%23696969'/%3E%3C/svg%3E");
    background-position: center;
    display: block;

    @media (max-width: $screen-xs-max) {
      width: 20px;
      height: 20px;
      background-size: 16px;
    }
  }

  .loan_detail_body {
    height: calc(100% - 95px);
    overflow: auto;

    @media (max-width: $screen-xs-max) {
      padding: 15px 0 0;
    }

    table {
      width: 100%;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      tbody {
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }

      .btn {
        min-width: 110px;
      }

      tr {
        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-wrap: wrap;
          border-radius: 8px;
          border: 1px solid #DBDBDB;
          margin: 0 0 15px;
          position: relative;
        }

        &:not(:first-of-type) {
          td {
            border-top: 1px solid #F1F1F2;

            @media (max-width: $screen-xs-max) {
              border: none;
            }

            &:last-of-type {
              @media (max-width: $screen-xs-max) {
                width: 100%;
                border-top: 1px solid #DBDBDB;
                text-align: center;
              }
            }
          }
        }
      }

      td {
        padding: 20px 20px;
        border: none;

        @media (max-width: $screen-xs-max) {
          border: none;
          width: 33.33%;
          padding: 20px 10px;
        }

        &:last-of-type {
          text-align: left;

          @media (max-width: $screen-xs-max) {
            width: 100%;
            border-top: 1px solid #DBDBDB;
            text-align: center;
          }
        }

        img {
          @media (max-width: $screen-xs-max) {
            margin: 0 auto;
          }
        }
      }

      .label {
        font-size: 12px;
        margin: 0 0 3px;
      }

      .content {
        font-size: 16px;
        font-weight: 700;

        img {
          display: inline-block;
          vertical-align: middle;
          margin: -3px 0 0 5px;

          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }

        &.blue {
          color: #0597F2;
        }

        &.green {
          color: #00CC55;
        }

        &.yellow {
          color: #E5AD02;
        }

        &.red {
          color: #FC0D0D;
        }
      }
    }

    .questions {
      color: #979797;

      a {
        color: #979797;
        text-decoration: underline;
      }

      img {
        display: inline;
      }
    }
  }

  .notes_wrapper {
    position: relative;
    padding: 40px 0 0;
    height: 100%;

    @media (max-width: $screen-xs-max) {
      margin: 15px 0 0;
    }

    .notes_control {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .btn {
        min-width: auto;
        padding: 5px 10px 6px;
        width: 100%;
      }
    }

    .notes_list {
      height: 100%;
      overflow: auto;

      .overflow_block {
        padding: 0;
      }
    }

    .notes_new {
      width: 110px;
    }

    .notes_search {
      width: calc(100% - 140px);
      max-width: 350px;
    }

    .notes_search_form {
      position: relative;

      .form_control {
        padding: 4px 12px;
      }
    }

    .btn_search {
      position: absolute;
      padding: 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      border-radius: 4px;
      border: none;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3819 10.6918H12.1498L17 15.5517L15.5517 17L10.6918 12.1498V11.3819L10.4294 11.1098C9.32133 12.0623 7.88279 12.6358 6.3179 12.6358C2.82847 12.6358 0 9.80732 0 6.3179C0 2.82847 2.82847 0 6.3179 0C9.80732 0 12.6358 2.82847 12.6358 6.3179C12.6358 7.88279 12.0623 9.32133 11.1098 10.4294L11.3819 10.6918ZM1.94397 6.3179C1.94397 8.73814 3.89766 10.6918 6.3179 10.6918C8.73814 10.6918 10.6918 8.73814 10.6918 6.3179C10.6918 3.89766 8.73814 1.94397 6.3179 1.94397C3.89766 1.94397 1.94397 3.89766 1.94397 6.3179Z' fill='black'/%3E%3C/svg%3E");
    }

    .date_wrapper {
      position: relative;
      text-align: center;
      margin: 0 0 10px;

      &:after {
        position: absolute;
        content: '';
        height: 1px;
        border-bottom: 1px dashed #0597F2;
        left: 0;
        right: 0;
        top: 50%;
      }

      .date {
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-weight: 700;
        color: #0597F2;
        background: #F0F6FA;
        padding: 3px 15px;

        @media (max-width: $screen-xs-max) {
          background: #fff;
        }
      }
    }

    .note_item {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 40px 20px;
      position: relative;

      @media (max-width: $screen-xs-max) {
        border: 1px solid #DEE1E3;
      }

      +.note_item {
        margin: 8px 0 0;
      }
    }

    .note_time {
      position: absolute;
      top: 7px;
      left: 10px;
      font-size: 14px;
      color: #0597F2;

      &:before {
        position: relative;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.312 0 12 2.688 12 6C12 9.312 9.312 12 6 12C2.682 12 0 9.3 0 6C0 2.688 2.688 0 6 0ZM5.99866 10.7992C8.65066 10.7992 10.7987 8.65122 10.7987 5.99922C10.7987 3.34722 8.65066 1.19922 5.99866 1.19922C3.34666 1.19922 1.19866 3.34722 1.19866 5.99922C1.19866 8.65122 3.34666 10.7992 5.99866 10.7992ZM6.30067 6.15V3H5.40067V6.6L8.55067 8.49L9.00067 7.752L6.30067 6.15Z' fill='%230597F2'/%3E%3C/svg%3E");
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin: -3px 0 0 5px;
      }
    }

    .note_control {
      position: absolute;
      bottom: 10px;
      left: 15px;
    }

    .note_control_wrap {
      display: flex;
      flex-wrap: wrap;

      .control_item {
        +.control_item {
          margin: 0 10px 0 0;
        }

        .control_link {
          display: block;
          width: 22px;
          height: 22px;
          position: relative;
        }

        img,
        svg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .custom_form_wrapper {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    border: 1px solid #DEE1E3;
    border-radius: 14px 14px 0px 0px;
    background: #FFFFFF;
    width: 100%;
    max-width: 630px;
    display: none;

    @media (max-width: $screen-xs-max) {
      top: 0;
      z-index: 20;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      border-radius: 0;
      position: fixed;
    }

    .btn_close {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1.91682L18.0832 0L10 8.08318L1.91682 0L0 1.91682L8.08318 10L0 18.0832L1.91682 20L10 11.9168L18.0832 20L20 18.0832L11.9168 10L20 1.91682Z' fill='black'/%3E%3C/svg%3E");

      @media (max-width: $screen-xs-max) {
        top: 8px;
      }
    }

    .form_head {
      padding: 15px;
      border-bottom: 1px solid #DEE1E3;

      @media (max-width: $screen-xs-max) {
        padding: 8px 15px;
      }
    }

    .form_title {
      font-weight: 600;
      font-size: 24px;

      @media (max-width: $screen-xs-max) {
        font-weight: 700;
      }
    }

    .form_body {
      padding: 15px 15px 40px;

      .row_title {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 10px;
      }
    }

    .form_row {
      +.form_row {
        margin: 15px 0 0;
      }
    }

    textarea {
      resize: none;
      display: block;
      min-height: 190px;
    }

    .btn_wrapper {
      text-align: center;
      padding: 30px 0 0;

      .btn {
        width: 100%;
        max-width: 250px;
      }
    }

    .form_control {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #D8D8D8;
      padding: 5px 0;
    }

    .form_control_date {
      padding-right: 20px;
      background-repeat: no-repeat;
      background-position: 100% center;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6654 1.99935H12.332C13.0654 1.99935 13.6654 2.59935 13.6654 3.33268V13.9993C13.6654 14.7327 13.0654 15.3327 12.332 15.3327H1.66536C0.932031 15.3327 0.332031 14.7327 0.332031 13.9993V3.33268C0.332031 2.59935 0.932031 1.99935 1.66536 1.99935H2.33203V1.33268C2.33203 0.966016 2.63203 0.666016 2.9987 0.666016C3.36536 0.666016 3.66536 0.966016 3.66536 1.33268V1.99935H10.332V1.33268C10.332 0.966016 10.632 0.666016 10.9987 0.666016C11.3654 0.666016 11.6654 0.966016 11.6654 1.33268V1.99935ZM2.33203 13.9993H11.6654C12.032 13.9993 12.332 13.6993 12.332 13.3327V5.33268H1.66536V13.3327C1.66536 13.6993 1.96536 13.9993 2.33203 13.9993Z' fill='%231D1D1D'/%3E%3C/svg%3E");
    }

    .selectric {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #D8D8D8;
      width: 100%;

      .label {
        margin: 0 0 0 38px;
        padding: 5px 0;
      }
    }

    .label_title {
      display: block;
      margin: 0;
      font-size: 14px;
      color: #BBBDBF;
    }

    .column_wrapper {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .column_row {
      width: calc(50% - 7px);
    }
  }

  .notes_date_wrapper,
  .tasks_date_wrapper {
    margin: 0 0 20px;
  }

  .tasks_list_wrap {
    &.list_archive {
      .task_item {
        .task_archive {
          background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.5C0 6.04125 6.04125 0 13.5 0C20.952 0 27 6.04125 27 13.5C27 20.952 20.952 27 13.5 27C6.04125 27 0 20.952 0 13.5ZM4.05 13.5L10.8 20.25L22.95 8.1L21.0398 6.18975L10.8 16.4295L5.96025 11.5898L4.05 13.5Z' fill='%2300CC55'/%3E%3C/svg%3E");
        }
      }
    }
  }


  .tasks_wrapper {
    position: relative;
    padding: 40px 0 0;
    height: 100%;

    @media (max-width: $screen-xs-max) {
      margin: 15px 0 0;
    }

    .tasks_control {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .btn {
        min-width: auto;
        padding: 5px 10px 6px;
        width: 100%;
      }
    }

    .tasks_info_list {
      display: flex;
      flex-wrap: wrap;

      a {
        color: #4A4A4A;

        &.active {
          font-weight: 600;
        }
      }

      .tasks_info_item {
        position: relative;

        +.tasks_info_item {
          margin: 0 12px 0 0;

          &::before {
            position: absolute;
            content: '|';
            left: 100%;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0 0 0 5px;
          }
        }
      }
    }

    .tasks_list {
      height: 100%;
      overflow: auto;

      .overflow_block {
        padding: 0;
      }
    }

    .task_item {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 40px 20px;
      position: relative;

      @media (max-width: $screen-sm-max) {
        border: 1px solid #DEE1E3;
        padding: 10px 10px 55px;
      }

      +.task_item {
        margin: 8px 0 0;

        @media (max-width: $screen-sm-max) {
          margin: 15px 0 0;
        }
      }

      .task_archive {
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.9993C0 6.81613 5.81808 0.998047 13.0013 0.998047C20.178 0.998047 26.0026 6.81613 26.0026 13.9993C26.0026 21.1761 20.178 27.0007 13.0013 27.0007C5.81808 27.0007 0 21.1761 0 13.9993ZM3.90039 13.9993L10.401 20.4999L22.1022 8.79878L20.2625 6.95909L10.401 16.8206L5.74007 12.1596L3.90039 13.9993Z' fill='%23DBDBDB'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        top: 11px;
        right: 11px;

        @media (max-width: $screen-sm-max) {
          position: static;
        }
      }
    }

    .task_info {
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: $screen-sm-max) {
        top: auto;
        left: auto;
        bottom: 8px;
        right: 8px;
      }

      .associated {
        margin: 0 0 0 20px;
        color: #0597F2;

        @media (max-width: $screen-sm-max) {
          width: 100%;
          margin: 0 0 5px;
        }
      }

      .associated_title {
        position: relative;
        padding: 0 22px 0 0;

        &:before {
          position: absolute;
          content: '';
          width: 14px;
          height: 14px;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12.4444V1.55556C0 0.7 0.692222 0 1.55556 0H12.4444C13.3 0 14 0.7 14 1.55556V12.4444C14 13.3 13.3 14 12.4444 14H1.55556C0.7 14 0 13.3 0 12.4444ZM9.33333 4.66667C9.33333 5.95778 8.29111 7 7 7C5.70889 7 4.66667 5.95778 4.66667 4.66667C4.66667 3.37556 5.70889 2.33333 7 2.33333C8.29111 2.33333 9.33333 3.37556 9.33333 4.66667ZM2.33333 10.8889C2.33333 9.33333 5.44444 8.47778 7 8.47778C8.55556 8.47778 11.6667 9.33333 11.6667 10.8889V11.6667H2.33333V10.8889Z' fill='%230597F2'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          right: 0;
          top: 50%;
          margin-top: -7px;
        }
      }

      .task_date {
        margin: 0 8px 0 0;
        padding: 0 8px 0 0;
        border-right: 1px solid;
      }
    }

    .time_date_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      color: #0597F2;

      &.red {
        color: #FC0D0D;

        .task_time {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.312 0 12 2.688 12 6C12 9.312 9.312 12 6 12C2.682 12 0 9.3 0 6C0 2.688 2.688 0 6 0ZM5.99866 10.7992C8.65066 10.7992 10.7987 8.65122 10.7987 5.99922C10.7987 3.34722 8.65066 1.19922 5.99866 1.19922C3.34666 1.19922 1.19866 3.34722 1.19866 5.99922C1.19866 8.65122 3.34666 10.7992 5.99866 10.7992ZM6.30067 6.15V3H5.40067V6.6L8.55067 8.49L9.00067 7.752L6.30067 6.15Z' fill='%23FC0D0D'/%3E%3C/svg%3E");
          }
        }
      }

      &.yellow {
        color: #E5AD02;

        .task_time {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.312 0 12 2.688 12 6C12 9.312 9.312 12 6 12C2.682 12 0 9.3 0 6C0 2.688 2.688 0 6 0ZM5.99866 10.7992C8.65066 10.7992 10.7987 8.65122 10.7987 5.99922C10.7987 3.34722 8.65066 1.19922 5.99866 1.19922C3.34666 1.19922 1.19866 3.34722 1.19866 5.99922C1.19866 8.65122 3.34666 10.7992 5.99866 10.7992ZM6.30067 6.15V3H5.40067V6.6L8.55067 8.49L9.00067 7.752L6.30067 6.15Z' fill='%23E5AD02'/%3E%3C/svg%3E");
          }
        }
      }
    }

    .task_title {
      font-weight: 600;
      font-size: 24px;
      margin: 0 0 10px;

      @media (max-width: $screen-sm-max) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .title_wrap {
        @media (max-width: $screen-sm-max) {
          width: calc(100% - 27px);
          padding: 0 15px 0 0;
        }
      }
    }

    .task_control {
      position: absolute;
      bottom: 10px;
      left: 15px;
    }

    .task_control_wrap {
      display: flex;
      flex-wrap: wrap;

      .control_item {
        +.control_item {
          margin: 0 10px 0 0;
        }

        .control_link {
          display: block;
          width: 22px;
          height: 22px;
          position: relative;
        }

        img,
        svg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

    .task_time {
      position: relative;
      font-size: 14px;

      &:before {
        position: relative;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.312 0 12 2.688 12 6C12 9.312 9.312 12 6 12C2.682 12 0 9.3 0 6C0 2.688 2.688 0 6 0ZM5.99866 10.7992C8.65066 10.7992 10.7987 8.65122 10.7987 5.99922C10.7987 3.34722 8.65066 1.19922 5.99866 1.19922C3.34666 1.19922 1.19866 3.34722 1.19866 5.99922C1.19866 8.65122 3.34666 10.7992 5.99866 10.7992ZM6.30067 6.15V3H5.40067V6.6L8.55067 8.49L9.00067 7.752L6.30067 6.15Z' fill='%230597F2'/%3E%3C/svg%3E");
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin: -3px 0 0 5px;
      }
    }
  }



  // company actions ------------------

  .company_actions {
    background: #FFFFFF;
    height: 100vh;
    width: 26%;
    border-right: 1px solid #DEE1E3;
    // transition: all .2s linear;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    @media (min-width: 1920px) {
      width: 470px;
    }

    @media (max-width: 1450px) {
      width: 340px;
    }

    @media (max-width: $screen-md-max) {
      transform: translate(-100%, 0);
      margin: 0 0 0 45px;
    }

    @media (max-width: $screen-xs-max) {
      transform: none;
      margin: 0;
      position: relative;
      width: 100%;
      height: auto !important;
    }

    .btn {
      padding: 5px 10px 6px;
    }
  }

  .company_actions_head {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .actions_head_wrap {
    border-bottom: 1px solid #DEE1E3;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 15px;
  }

  .btn_hide_head {
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05369 0L9.94631 1.88L3.79866 8L9.94631 14.12L8.05369 16L0 8L8.05369 0ZM16.1074 0L18 1.88L11.8524 8L18 14.12L16.1074 16L8.05369 8L16.1074 0Z' fill='%230597F2'/%3E%3C/svg%3E");
    display: block;
    transition: all .2s linear;

    @media (max-width: $screen-md-max) {
      transform: rotate(180deg);
    }

    &.active {
      transform: rotate(180deg);

      @media (max-width: $screen-md-max) {
        transform: none;
      }
    }
  }

  .actions_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1750px) {
      display: block;
      text-align: center;
    }

    .actions_title {
      font-size: 24px;
      font-weight: 600;

      @media (max-width: 1750px) {
        margin: 0 0 10px;
      }
    }

    .btn {
      min-width: 115px;
    }
  }

  .company_actions_body {
    height: calc(100% - 48px);
    overflow: auto;

    @media (max-width: $screen-xs-max) {
      height: auto;
    }
  }

  .customers_associated_company {
    border: 1px solid #E1E4E6;
    border-radius: 4px;
    padding: 15px;

    .customer_list {
      a {
        display: inline-block;
        position: relative;
      }
    }

    .customer_item {
      +.customer_item {
        margin: 10px 0 0;
      }
    }

    a {
      color: #4A4A4A;
    }

    .customer_name {
      text-decoration: underline;
      padding: 0 25px 0 0;

      &:before {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 14.2222V1.77778C0 0.8 0.791111 0 1.77778 0H14.2222C15.2 0 16 0.8 16 1.77778V14.2222C16 15.2 15.2 16 14.2222 16H1.77778C0.8 16 0 15.2 0 14.2222ZM10.6667 5.33333C10.6667 6.80889 9.47556 8 8 8C6.52444 8 5.33333 6.80889 5.33333 5.33333C5.33333 3.85778 6.52444 2.66667 8 2.66667C9.47556 2.66667 10.6667 3.85778 10.6667 5.33333ZM2.66667 12.4444C2.66667 10.6667 6.22222 9.68889 8 9.68889C9.77778 9.68889 13.3333 10.6667 13.3333 12.4444V13.3333H2.66667V12.4444Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      }

      &:hover {
        text-decoration: none;
      }
    }

    .customer_email {
      color: #0597F2;
      padding: 0 25px 0 0;

      &:before {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.8 0H16.2C17.19 0 18 0.7875 18 1.75V12.25C18 13.2125 17.19 14 16.2 14H1.8C0.801 14 0 13.2125 0 12.25V1.75C0 0.77875 0.801 0 1.8 0ZM9 6.125L16.2 1.75H1.8L9 6.125ZM16.2 3.82375V12.25H1.8V3.82375L9 8.19L16.2 3.82375Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .actions_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $screen-xs-max) {
      border-top: 1px solid #DEE1E3;
    }
  }

  .actions_row {
    width: 100%;
    padding: 20px 25px;

    +.actions_row {
      border-top: 1px solid #DEE1E3;
    }
  }

  .actions_content {
    padding: 20px 0 0;
  }

  .document_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    padding: 5px 15px;
    border: 1px solid #E1E4E6;
    border-radius: 4px;

    +.document_item {
      margin: 8px 0 0;
    }
  }

  .document_control {
    .control_wrapper {
      display: flex;
    }

    .control_item {
      +.control_item {
        margin: 0 12px 0 0;
      }
    }
  }

  .control_link {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .mCS-dir-rtl>.mCSB_inside>.mCSB_container_wrapper {
    margin-left: 10px;
  }

  .mCSB_container_wrapper>.mCSB_container {
    padding-right: 10px;
  }
}
