.b_single_article {
  padding: 40px 0;

  @media (max-width: $screen-xs-max) {
    padding: 20px 0;
  }

  // img {
    
  // }

  .article_title {
    font-weight: 700;
    font-size: 32px;
    max-width: 730px;
    margin: 0 auto 15px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .article_banner {
    margin: 0 0 40px;

    .banner_wrapper{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      height: 450px;

      @media (max-width: $screen-xs-max) {
        height: 260px;
      }
    }
  }

  .article_content_wrapper{
    position: relative;
  }

  .share_social{
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    .social_item{
      + .social_item{
        margin: 10px 0 0;
      }
    }

    .social_link{
      display: block;
      width: 48px;
      height: 48px;
      border: 1px solid #BBBDBF;
      border-radius: 50%;
      position: relative;

      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 0;
      }
    }
  }

  .article_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 30px;

    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .article_date {
    margin: 0 0 0 15px;
    padding: 0 30px 0 0;
    position: relative;

    &:before{
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.43292 0C5.97086 0 6.40694 0.447715 6.40694 1V1.8H11.5931V1C11.5931 0.447715 12.0292 0 12.5671 0C13.105 0 13.5411 0.447715 13.5411 1V1.8H15.0779C16.6917 1.8 18 3.14315 18 4.8V17C18 18.6569 16.6917 20 15.0779 20H2.92208C1.30826 20 0 18.6569 0 17V4.8C0 3.14315 1.30826 1.8 2.92208 1.8H4.45889V1C4.45889 0.447715 4.89498 0 5.43292 0ZM4.45889 3.8H2.92208C2.38414 3.8 1.94805 4.24772 1.94805 4.8V7.2H16.0519V4.8C16.0519 4.24772 15.6159 3.8 15.0779 3.8H13.5411V4.6C13.5411 5.15229 13.105 5.6 12.5671 5.6C12.0292 5.6 11.5931 5.15229 11.5931 4.6V3.8H6.40694V4.6C6.40694 5.15229 5.97086 5.6 5.43292 5.6C4.89498 5.6 4.45889 5.15229 4.45889 4.6V3.8ZM16.0519 9.2H1.94805V17C1.94805 17.5523 2.38414 18 2.92208 18H15.0779C15.6159 18 16.0519 17.5523 16.0519 17V9.2Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 18px;
      height: 20px;
      right: 0;
      top: 50%;
      margin-top: -11px;
    }
  }

  .article_name{
    margin: 0 0 0 15px;
    padding: 0 30px 0 0;
    position: relative;

    &:before{
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.266019 0.31557C0.500581 0.0610826 0.848454 -0.0504153 1.18383 0.021398L14.2602 2.82139C14.6348 2.9016 14.9294 3.19622 15.0151 3.5762L16.0225 8.04455C16.3388 7.94507 16.6941 8.01219 16.9576 8.24591L19.663 10.6459C19.8771 10.8358 20 11.1108 20 11.4C20 11.6892 19.8771 11.9642 19.663 12.1541L13.3503 17.7541C12.9807 18.082 12.4302 18.082 12.0606 17.7541L9.35517 15.3541C9.14108 15.1642 9.01819 14.8892 9.01819 14.6C9.01819 14.5604 9.0205 14.521 9.02503 14.4821L3.96971 13.5852C3.59607 13.5189 3.29333 13.2393 3.19204 12.8671L0.0356819 1.26708C-0.0558463 0.9307 0.0314569 0.570057 0.266019 0.31557ZM10.6096 12.7331L14.3223 9.43959L13.2418 4.64705L4.47081 2.76895L7.9339 5.84104C8.29892 5.68433 8.69744 5.6 9.09821 5.6C10.5048 5.6 11.8837 6.63879 11.8837 8.2C11.8837 9.7612 10.5048 10.8 9.09821 10.8C7.69161 10.8 6.31275 9.7612 6.31275 8.2C6.31275 7.84752 6.38303 7.52168 6.50805 7.22841L2.80048 3.93943L4.91849 11.7234L10.6096 12.7331ZM8.46082 7.82924C8.33339 7.95217 8.27639 8.09874 8.27639 8.2C8.27639 8.4061 8.51256 8.8 9.09821 8.8C9.68385 8.8 9.92003 8.4061 9.92003 8.2C9.92003 7.99389 9.68385 7.6 9.09821 7.6C8.82253 7.6 8.62428 7.68728 8.49166 7.80117C8.48153 7.81078 8.47125 7.82014 8.46082 7.82924ZM11.4949 14.6L12.7055 15.6739L17.5233 11.4L16.3127 10.3261L16.0574 10.5526C16.0569 10.5531 16.0563 10.5536 16.0558 10.5541L11.5467 14.5541C11.546 14.5547 11.5453 14.5553 11.5446 14.5559L11.4949 14.6Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 18px;
      right: 0;
      top: 50%;
      margin-top: -9px;
    }
  }

  .hashtag_wrapper{
    @media (max-width: $screen-sm-max) {
      padding: 20px 0 0;
      width: 100%;
      text-align: center;
    }

    .hashtag{
      @media (max-width: $screen-xs-max) {
        margin: 0 10px 20px;
      }
    }
  }



  .article_content {
    max-width: 730px;
    margin: 0 auto 20px;

    h4 {
      font-size: 18px;
      margin: 0 0 20px;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        padding: 0 20px 0 0;
        position: relative;

        +li {
          margin: 10px 0 0;
        }

        &:before {
          position: absolute;
          top: 7px;
          right: 0;
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #0597F2;
        }
      }
    }

    ol {
      padding: 0 17px 0 0;

      li {
        +li {
          margin: 10px 0 0;
        }
      }
    }
  }

  .article_image {
    max-width: 920px;
    padding: 20px 0 0;
    margin: 0 auto 40px;

    .banner_wrapper{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      height: 335px;
    }
  }


  .loan_tailored {
    text-align: center;
    max-width: 730px;
    padding: 30px 0 0;
    margin: 0 auto;
    border-top: 1px solid #D8D8D8;

    @media (max-width: $screen-xs-max) {
      border: none;
    }
  }

  .tailored_title {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 20px;
  }

  .article_video {
    max-width: 730px;
    margin: 0 auto 20px;

    @media (max-width: $screen-xs-max) {
      margin: 0 auto;
    }
  }

  .video_link {
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #3F3F3F;
    height: 360px;
    display: block;

    @media (max-width: $screen-sm-max) {
      height: 240px;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 75px;
      height: 76px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='75' height='76' viewBox='0 0 75 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 38C0 17.2893 16.7893 0.5 37.5 0.5C47.4456 0.5 56.9839 4.45088 64.0165 11.4835C71.0491 18.5161 75 28.0544 75 38C75 58.7107 58.2107 75.5 37.5 75.5C16.7893 75.5 0 58.7107 0 38ZM34.0848 53.2009L51.6295 41.6027C52.8373 40.8031 53.5648 39.4521 53.5675 38.0036C53.5702 36.5551 52.8477 35.2014 51.6429 34.3973L34.0848 22.7991C32.6407 21.8414 30.7869 21.7557 29.2606 22.5763C27.7344 23.3968 26.7833 24.9904 26.7857 26.7232V49.2768C26.7833 51.0096 27.7344 52.6032 29.2606 53.4237C30.7869 54.2443 32.6407 54.1586 34.0848 53.2009Z' fill='white'/%3E%3C/svg%3E");

      @media (max-width: $screen-sm-max) {
        width: 65px;
        height: 66px;
      }
    }
  }
}
