.b_team {
  padding: 40px 0 80px;

  .team_title {
    font-weight: 700;
    font-size: 56px;
    margin: 0 0 40px;

    @media (max-width: $screen-md-max) {
      font-size: 50px;
    }
  
    @media (max-width: $screen-sm-max) {
      font-size: 42px;
    }
  
    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }

  .team_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: 650px) {
      margin: 0;
    }
  }

  .team_item {
    width: calc(33.33% - 30px);
    margin: 0 15px 30px;
    background-color: #fff;
    padding: 0 20px 20px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      width: calc(50% - 30px);
    }

    @media (max-width: 650px) {
      width: 100%;
      margin: 0 0 15px;
    }

    &:hover{
      z-index: 3;
    }

    .box_decor{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04), 0px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: all .2s ease-in-out;
      background-color: #fff;
    }
  }

  .item_top {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    z-index: 2;
    padding: 20px 0 15px;
  }

  .item_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #0597F2;
    position: relative;
  }

  .item_person_info {
    width: calc(100% - 65px);
    padding: 0 20px 0 0;

    .item_image {
      background-repeat: no-repeat;
      background-position: center;

    }

    .person_name {
      display: flex;
      align-items: center;
    }

    .name {
      font-weight: 600;
      font-size: 24px;
    }

    .person_position {
      font-size: 16px;
      font-weight: 600;
      color: #0597F2;
    }
  }

  .item_content {
    min-height: 88px;
    position: relative;
    margin: 0 -20px;

    .content_wrapper{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 20px;
      height: 100%;
      overflow: hidden;
      transition: all .2s ease-in-out;

      &::before{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 15px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, #FFFFFF 67.19%);
        border-radius: 0 0 8px 8px;
      }
    }

    .content_inner{
      padding: 0 0 20px;
    }
  }

  .social_link {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
  }

  .loan_tailored {
    text-align: center;
  }

  .tailored_title {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 20px;
  }
}
