.b_upload_files {
  padding: 30px 0;

  .upload_files_wrapper {
    max-width: 540px;
    margin: 0 auto;
    padding: 35px 0 0;
  }

  .completing_application {
    text-align: center;
    max-width: 320px;
    margin: 0 auto 30px;
  }

  .button_wrapper {
    text-align: center;
    padding: 40px 0 0;

    .button_item {
      +.button_item {
        margin: 15px 0 0;
      }
    }

    .btn {
      font-size: 24px;
      width: 100%;
      max-width: 340px;
    }
  }


  .file_item{
    position: relative;
    + .file_item{
      margin: 15px 0 0;
    }
  }

  .file_wrap{
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    &.file_uploaded{
      border-color: #0597F2;
      
      .file_title{
        color: #0597F2;
      }

      .file_info{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM8 12.17L13.88 6.29C14.27 5.9 14.91 5.9 15.3 6.29C15.69 6.68 15.69 7.31 15.3 7.7L8.71 14.29C8.32 14.68 7.69 14.68 7.3 14.29L4.71 11.7C4.32 11.31 4.32 10.68 4.71 10.29C5.1 9.9 5.73 9.9 6.12 10.29L8 12.17Z' fill='%230597F2'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .upload_file_decor{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 4px;
  }

  .upload_animation{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    transition: all .3s linear;
    background: #E4F0F9;
  }

  .file_wrap_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .file_control{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
  }

  .file_info{
    min-height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px 10px 15px;
    position: relative;

    &:before{
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6344 24H2.86563C1.28298 24 0 22.7432 0 21.1929V5.93571C0 4.55106 1.14587 3.42857 2.55938 3.42857H14.6344C16.217 3.42857 17.5 4.68537 17.5 6.23571V21.1929C17.5 22.7432 16.217 24 14.6344 24ZM4.62875 7.71429C4.00536 7.71429 3.5 8.20933 3.5 8.82V9.18C3.5 9.79067 4.00536 10.2857 4.62875 10.2857H8.49625C9.11964 10.2857 9.625 9.79067 9.625 9.18V8.82C9.625 8.20933 9.11964 7.71429 8.49625 7.71429H4.62875ZM3.5 13.5343C3.5 12.9236 4.00536 12.4286 4.62875 12.4286H12.8713C13.4946 12.4286 14 12.9236 14 13.5343V13.8943C14 14.505 13.4946 15 12.8713 15H4.62875C4.00536 15 3.5 14.505 3.5 13.8943V13.5343ZM4.62875 17.1429C4.00536 17.1429 3.5 17.6379 3.5 18.2486V18.6086C3.5 19.2192 4.00536 19.7143 4.62875 19.7143H11.1213C11.7446 19.7143 12.25 19.2192 12.25 18.6086V18.2486C12.25 17.6379 11.7446 17.1429 11.1213 17.1429H4.62875Z' fill='%234A4A4A'/%3E%3Cpath d='M15.3125 0H4.43625C4.18794 0 3.9498 0.0966273 3.77422 0.268625C3.59864 0.440623 3.5 0.673901 3.5 0.917143C3.5 1.35739 3.86433 1.71429 4.31375 1.71429H14.875C16.0353 1.71429 17.1481 2.16581 17.9686 2.96954C18.7891 3.77327 19.25 4.86336 19.25 6V19.7143C19.25 20.1877 19.6418 20.5714 20.125 20.5714C20.6083 20.5714 21 20.1877 21 19.7143V5.57143C21 4.09379 20.4008 2.67668 19.3342 1.63183C18.2676 0.586988 16.8209 0 15.3125 0Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
      right: 15px;
    }
  }

  .btn_control{
    width: 22px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

    + .btn_control{
      margin: 0 15px 0 0;
    }
  }

  .btn_upload{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8883 9.35849H14.9042C14.3423 9.35849 13.8868 9.81398 13.8868 10.3758V11.9668C13.8851 12.5275 13.4301 12.9811 12.8694 12.9811H4.03623C3.47435 12.9811 3.01887 12.5256 3.01887 11.9638V10.3758C3.01887 9.81398 2.56338 9.35849 2.00151 9.35849H1.01736C0.455487 9.35849 0 9.81398 0 10.3758V13.283C0 14.7836 1.21643 16 2.71698 16H14.1887C15.6892 16 16.9057 14.7836 16.9057 13.283V10.3758C16.9057 9.81398 16.4502 9.35849 15.8883 9.35849Z' fill='%23BBBDBF'/%3E%3Cpath d='M7.58038 11.1698H9.3283C9.51219 11.1682 9.66039 11.0186 9.66038 10.8347V4.7366C9.66134 4.68485 9.69295 4.63862 9.74082 4.61894C9.7887 4.59927 9.84368 4.60992 9.88076 4.64603L11.0611 5.82641C11.124 5.88928 11.2092 5.92459 11.2981 5.92459C11.387 5.92459 11.4722 5.88928 11.5351 5.82641L12.7698 4.58868C12.8327 4.52583 12.868 4.44058 12.868 4.3517C12.868 4.26281 12.8327 4.17756 12.7698 4.11471L9.30717 0.655091C9.08067 0.428342 8.77332 0.300934 8.45283 0.300934C8.13234 0.300934 7.82499 0.428342 7.59849 0.655091L4.13585 4.11773C4.07299 4.18058 4.03767 4.26582 4.03767 4.35471C4.03767 4.4436 4.07299 4.52885 4.13585 4.5917L5.37359 5.82641C5.43643 5.88928 5.52168 5.92459 5.61057 5.92459C5.69946 5.92459 5.7847 5.88928 5.84755 5.82641L7.02793 4.64603C7.065 4.60992 7.11998 4.59927 7.16786 4.61894C7.21573 4.63862 7.24734 4.68485 7.2483 4.7366V10.8347C7.24829 11.0186 7.39649 11.1682 7.58038 11.1698Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
  }

  .btn_stop_upload{
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8C0 3.58172 3.58172 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM11.2314 11.2343C11.678 10.7877 11.678 10.0637 11.2314 9.61714L9.61714 8L11.2343 6.38286C11.5232 6.09398 11.636 5.67294 11.5302 5.27833C11.4245 4.88372 11.1163 4.57549 10.7217 4.46976C10.3271 4.36402 9.90602 4.47684 9.61714 4.76571L8 6.38286L6.38286 4.76571C5.9363 4.31915 5.21228 4.31915 4.76571 4.76571C4.31915 5.21228 4.31915 5.9363 4.76571 6.38286L6.38286 8L4.76571 9.61714C4.31915 10.0637 4.31915 10.7877 4.76571 11.2343C5.21228 11.6808 5.9363 11.6808 6.38286 11.2343L8 9.61714L9.61429 11.2343C10.0608 11.6808 10.7849 11.6808 11.2314 11.2343Z' fill='%230597F2'/%3E%3C/svg%3E");
  }

  .btn_download{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.76923 16H14.4615C15.9909 16 17.2308 14.7602 17.2308 13.2308V10.2677C17.2308 9.69502 16.7665 9.23077 16.1938 9.23077H15.1908C14.6181 9.23077 14.1538 9.69502 14.1538 10.2677V11.8892C14.1522 12.4607 13.6884 12.9231 13.1169 12.9231H4.11385C3.54117 12.9231 3.07692 12.4588 3.07692 11.8862V10.2677C3.07692 9.69502 2.61268 9.23077 2.04 9.23077H1.03692C0.464246 9.23077 0 9.69502 0 10.2677V13.2308C0 14.7602 1.23983 16 2.76923 16Z' fill='%230597F2'/%3E%3Cpath d='M9.50462 0H7.72615C7.53753 0 7.38461 0.152912 7.38461 0.341538V6.55692C7.38364 6.60967 7.35142 6.65679 7.30262 6.67684C7.25383 6.6969 7.19778 6.68605 7.16 6.64923L5.95692 5.44615C5.89287 5.38208 5.80598 5.34609 5.71538 5.34609C5.62479 5.34609 5.5379 5.38208 5.47385 5.44615L4.21538 6.70769C4.15131 6.77175 4.11532 6.85863 4.11532 6.94923C4.11532 7.03983 4.15131 7.12672 4.21538 7.19077L7.74462 10.7169C7.97547 10.948 8.28873 11.0779 8.61539 11.0779C8.94204 11.0779 9.2553 10.948 9.48615 10.7169L13.0154 7.18769C13.0795 7.12364 13.1155 7.03675 13.1155 6.94615C13.1155 6.85556 13.0795 6.76867 13.0154 6.70462L11.7538 5.44615C11.6898 5.38208 11.6029 5.34609 11.5123 5.34609C11.4217 5.34609 11.3348 5.38208 11.2708 5.44615L10.0677 6.64923C10.0299 6.68605 9.97386 6.6969 9.92507 6.67684C9.87628 6.65679 9.84406 6.60967 9.84308 6.55692V0.341538C9.84308 0.154107 9.69204 0.00168857 9.50462 0Z' fill='%230597F2'/%3E%3C/svg%3E");
  }

  .btn_remove{
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.29036 0.75L10.207 1.66667H13.4154V3.5H0.582031V1.66667H3.79036L4.70703 0.75H9.29036ZM1.4987 15.4167C1.4987 16.425 2.3237 17.25 3.33203 17.25H10.6654C11.6737 17.25 12.4987 16.425 12.4987 15.4167V4.41667H1.4987V15.4167ZM3.7537 8.89L5.0462 7.5975L6.9987 9.54083L8.94203 7.5975L10.2345 8.89L8.2912 10.8333L10.2345 12.7767L8.94203 14.0692L6.9987 12.1258L5.05536 14.0692L3.76286 12.7767L5.7062 10.8333L3.7537 8.89Z' fill='%230597F2'/%3E%3C/svg%3E");
  }

  .tooltip_wrapper{
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 20px;

    @media (max-width: $screen-sm-max) {
      position: relative;
      left: auto;
      top: auto;
      margin: 0;
    }
  }

  .tooltip_content{
    padding: 0;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: $screen-sm-max) {
      left: auto;
      right: 100%;
      transform: none;
    }
  }

  .tooltip_content_inner{
    text-align: right;
    padding: 9px 10px 10px;
  }

  .tooltip_icon_wrapper{
    display: inline-block;
    position: relative;
    vertical-align: top;

    &:hover{
      .tooltip_icon{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM9 15V9H11V15H9ZM9 5V7H11V5H9Z' fill='%230597F2'/%3E%3C/svg%3E");    
      }
    }
  }

  .tooltip_icon{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.475 0 0 4.475 0 10C0 15.525 4.475 20 10 20C15.525 20 20 15.525 20 10C20 4.475 15.525 0 10 0ZM9 15V9H11V15H9ZM9 5V7H11V5H9Z' fill='%23979797'/%3E%3C/svg%3E");
  }
}
