.b_footer {
  padding: 50px 0 30px;
  background-color: #F3FAFF;

  @media (max-width: $screen-sm-max) {
    padding: 30px 0 30px;
  }

  .footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .foot_right {
    width: 100%;
    max-width: 350px;

    @media (max-width: $screen-sm-max) {
      max-width: none;
      text-align: center;
    }
  }

  .foot_left {
    @media (max-width: $screen-md-max) {
      width: calc(100% - 365px);
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin: 30px 0 0;
    }
  }

  .foot_logo {
    margin: 0 0 15px;

    .logo_link {
      display: inline-block;
    }
  }

  .foot_short_description {
    max-width: 350px;
    margin: 0 0 10px;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto 20px;
    }
  }

  .menu_wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      width: 100%;
      margin: 0 0 35px;
    }
  }

  .menu {
    width: 160px;
    margin: 0 0 0 30px;

    @media (max-width: 600px) {
      margin: 0;
      width: 50%;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        +li {
          margin: 10px 0 0;
        }

        a {
          color: #4A4A4A;

          &:hover {
            color: #0597F2;
          }
        }
      }
    }
  }

  .foot_left {
    display: flex;
    flex-wrap: wrap;
  }

  .footer_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0;
  }

  .copy {
    direction: ltr;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: center;
      margin: 0 0 15px;
    }
  }

  .developed {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .developed_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      justify-content: center;
      text-align: center;
    }

    a {
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: top;
    }
  }

  .foot_pci {
    display: inline-block;
  }

  .pci {
    background: #0597F2;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    padding: 10px 45px 10px 20px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: auto;

    &:before {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='26' viewBox='0 0 22 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9999 19.5933C11.6554 19.5933 12.8333 17.4905 12.9983 14.0231H9.00162C9.16662 17.4905 10.3445 19.5933 10.9999 19.5933Z' fill='white'/%3E%3Cpath d='M4.63831 14.0045C4.94406 16.129 6.26194 17.9653 8.16288 18.9155C7.55211 17.3493 7.21405 15.6877 7.16371 14.0045H4.63831Z' fill='white'/%3E%3Cpath d='M4.63831 12.1478H7.16371C7.21415 10.4646 7.5522 8.80298 8.16288 7.23671C6.26194 8.18696 4.94406 10.0233 4.63831 12.1478Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9999 4.17775V13.285C21.9956 19.3913 17.7675 24.6592 11.8662 25.9108C11.2963 26.031 10.7081 26.031 10.1383 25.9108C4.2352 24.6611 0.00470229 19.3927 0 13.285V4.17775C0.00756155 3.76816 0.27071 3.40847 0.655413 3.28188L10.2254 0.125438C10.7288 -0.0405107 11.2711 -0.0405107 11.7745 0.125438L21.3445 3.24939C21.7404 3.37969 22.0062 3.75618 21.9999 4.17775ZM10.3858 2.32102L4.44123 4.28916L4.42748 4.28451C4.19621 4.37077 4.07369 4.62681 4.15014 4.8641C4.2266 5.10139 4.47465 5.23496 4.71164 5.16646L10.6699 3.20297C10.9012 3.11671 11.0237 2.86067 10.9473 2.62339C10.8708 2.3861 10.6228 2.25252 10.3858 2.32102ZM2.40624 5.937C2.35917 5.94448 2.31123 5.94448 2.26416 5.937C2.01103 5.97674 1.77402 5.80113 1.73478 5.54477C1.69555 5.28841 1.86894 5.04837 2.12207 5.00864L2.40624 4.9158C2.56374 4.85706 2.74034 4.89021 2.8666 5.0022C2.99286 5.11419 3.04858 5.28712 3.01184 5.45298C2.97511 5.61884 2.8518 5.7511 2.6904 5.79775L2.40624 5.937ZM2.74999 13.0947C2.74999 17.7092 6.44362 21.45 10.9999 21.45C15.55 21.4347 19.2348 17.7028 19.2499 13.0947C19.2499 8.4802 15.5563 4.73941 10.9999 4.73941C6.44362 4.73941 2.74999 8.4802 2.74999 13.0947Z' fill='white'/%3E%3Cpath d='M17.3616 12.1478C17.0558 10.0233 15.7379 8.18696 13.837 7.23671C14.4477 8.80298 14.7857 10.4646 14.8362 12.1478H17.3616Z' fill='white'/%3E%3Cpath d='M13.837 18.9155C15.7379 17.9653 17.0558 16.129 17.3616 14.0045H14.8362C14.7858 15.6877 14.4478 17.3493 13.837 18.9155Z' fill='white'/%3E%3Cpath d='M10.9999 6.55901C10.3445 6.55901 9.16662 8.66175 9.00162 12.1292H13.0029C12.8333 8.65711 11.6554 6.55901 10.9999 6.55901Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 26px;
      right: 13px;
      top: 50%;
      margin-top: -13px;
    }
  }

  .contact_wrapper {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    a {
      color: #4A4A4A;
    }

    .title {
      font-weight: 600;
      margin: 0 0 15px;
    }

    .contact_item {
      +.contact_item {
        margin: 20px 0 0;
      }
    }

    .social_links_wrapper {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        text-align: center;
      }

      .links_list{
        @media (max-width: $screen-xs-max) {
          justify-content: center;
        }
      }
    }

    .contact_list {
      .list_item {
        +.list_item {
          margin: 15px 0 0;
        }
      }

      a {
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .phone {
      position: relative;
      padding: 0 30px 0 0;

      &:before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.33333 10.9167C2.37083 10.9167 3.37083 10.75 4.30833 10.4417C4.59583 10.35 4.925 10.4167 5.15417 10.6458L6.9875 12.4833C9.35 11.2833 11.275 9.35417 12.4792 6.99583L10.6458 5.15833C10.4167 4.92917 10.35 4.6 10.4417 4.3125C10.75 3.375 10.9167 2.37083 10.9167 1.33333C10.9167 0.870833 11.2875 0.5 11.75 0.5H14.6667C15.1292 0.5 15.5 0.870833 15.5 1.33333C15.5 9.15833 9.15833 15.5 1.33333 15.5C0.870833 15.5 0.5 15.1292 0.5 14.6667V11.75C0.5 11.2875 0.870833 10.9167 1.33333 10.9167ZM2.16667 8H0.5C0.5 3.85833 3.85833 0.5 8 0.5V2.16667C4.77917 2.16667 2.16667 4.77917 2.16667 8ZM3.83333 8H5.5C5.5 6.62083 6.62083 5.5 8 5.5V3.83333C5.7 3.83333 3.83333 5.7 3.83333 8Z' fill='%230597F2'/%3E%3C/svg%3E");
        top: 50%;
        margin-top: -7px;
        right: 0;
      }
    }

    .email {
      position: relative;
      padding: 0 30px 0 0;

      &:before {
        position: absolute;
        content: '';
        width: 17px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 14.3471V6.08262C17 5.47932 16.6685 4.95866 16.1755 4.66941L8.5 0L0.8245 4.66941C0.3315 4.95866 0 5.47932 0 6.08262V14.3471C0 15.2561 0.765 15.9999 1.7 15.9999H15.3C16.235 15.9999 17 15.2561 17 14.3471ZM1.7002 6.08249L8.5002 10.2147L15.3002 6.08249L8.5002 1.95027L1.7002 6.08249ZM8.5002 12.1654L1.7002 8.03323V14.3473H15.3002V8.03323L8.5002 12.1654Z' fill='%230597F2'/%3E%3C/svg%3E");
        top: 50%;
        margin-top: -8px;
        right: 0;
      }
    }
  }
}
