.b_header {
  border-bottom: 1px solid #DDDDDD;
  background-color: #fff;

  &.header_loan {
    .header_wrapper {
      @media (max-width: $screen-xs-max) {
        justify-content: space-between;
      }
    }

    .header_left {
      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .link_logo {
      @media (max-width: $screen-xs-max) {
        max-width: 120px;
      }
    }
  }

  .header_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;

    @media (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }

  .header_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    .btn {
      min-width: 120px;

      +.btn {
        margin: 0 8px 0 0;
      }
    }

    .phone {
      font-weight: 600;
      margin: 0 0 0 15px;
    }

    .phone_link {
      margin: 0 5px 0 0;
    }
  }

  .phone_link {
    color: #4A4A4A;

    &:hover {
      text-decoration: underline;
    }
  }

  .header_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .menu_toggler {
      margin: 0 0 0 15px;
    }
  }

  .link_logo {
    display: inline-block;
    vertical-align: top;
  }

  .header_logo {
    margin: 0 0 0 45px;
    max-width: 150px;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto;
    }
  }

  .header_menu {

    @media (max-width: $screen-sm-max) {
      display: none;
      position: absolute;
      z-index: 2;
      top: 100%;
      right: 0;
      background-color: #011E30;
      width: 100%;
      max-width: 375px;
      color: #fff;
      padding: 30px 30px;
    }

    @media (max-width: 500px) {
      width: auto;
      max-width: none;
      top: 0;
      right: -15px;
      left: -15px;
      padding: 90px 30px 30px;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: $screen-sm-max) {
        display: block;
      }

      li {
        @media (max-width: $screen-sm-max) {

          font-size: 24px;
        }

        +li {
          margin: 0 30px 0 0;

          @media (max-width: $screen-md-max) {
            margin: 0 20px 0 0;
          }

          @media (max-width: $screen-sm-max) {
            margin: 20px 0 0;
          }
        }
      }

      a {
        font-weight: 600;
        color: #4A4A4A;
        transition: all .2s linear;

        @media (max-width: $screen-sm-max) {
          color: #fff;
        }

        &:hover {
          color: #0597F2;
        }
      }
    }
  }

  .mobile_link {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 15px;
    display: none;

    @media (max-width: 500px) {
      display: inline-block;
    }
  }

  .mobile_wrapper {
    display: none;
    padding: 80px 0 0;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .buttons_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 30px;

      .btn {
        min-width: auto;
        width: calc(50% - 10px);
      }
    }

    .btn_blue_empty {
      background-color: transparent;
      color: #FFFFFF;

      &:hover {
        background-color: #0597F2;
        border-color: #0597F2;
      }
    }

    .phone {
      text-align: center;

      a {
        color: #fff;
      }
    }
  }


  .btn_refresh {
    border: 1px solid #DBDBDB;
    color: #979797;
    padding-right: 30px;
    transition: all .2s linear;
    position: relative;

    &:hover {
      border-color: #0597F2;
      color: #0597F2;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.02521 0.6554C1.59141 0.6554 2.05042 1.12426 2.05042 1.70262V4.62383H4.9102C5.47641 4.62383 5.93541 5.09269 5.93541 5.67105C5.93541 6.24942 5.47641 6.71828 4.9102 6.71828H1.02521C0.459003 6.71828 3.07023e-06 6.24942 3.07023e-06 5.67105V1.70262C3.07023e-06 1.12426 0.459003 0.6554 1.02521 0.6554Z' fill='%230597F2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.31671 2.03458C5.477 -0.15813 8.79572 -0.631756 11.4621 0.873931C14.1333 2.38228 15.5059 5.51331 14.8286 8.55325C14.1514 11.5932 11.5876 13.8092 8.54053 13.9883C5.49346 14.1675 2.69768 12.2666 1.68348 9.32607C1.49533 8.78057 1.77573 8.18255 2.30976 7.99036C2.84379 7.79817 3.42923 8.08459 3.61738 8.63009C4.32812 10.6908 6.28736 12.0229 8.42271 11.8974C10.5581 11.7718 12.3547 10.2189 12.8293 8.08851C13.3039 5.95816 12.342 3.76397 10.4701 2.70694C8.59825 1.64991 6.26761 1.98486 4.75392 3.52845C4.7466 3.53592 4.73917 3.54326 4.73164 3.5505L1.72725 6.43422C1.31462 6.83027 0.665811 6.80966 0.278087 6.38817C-0.109637 5.96668 -0.0894521 5.30394 0.323172 4.90789L3.31671 2.03458Z' fill='%230597F2'/%3E%3C/svg%3E");
      }
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      transition: all .2s linear;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.02521 0.6554C1.59141 0.6554 2.05042 1.12426 2.05042 1.70262V4.62383H4.9102C5.47641 4.62383 5.93541 5.09269 5.93541 5.67105C5.93541 6.24942 5.47641 6.71828 4.9102 6.71828H1.02521C0.459003 6.71828 3.07023e-06 6.24942 3.07023e-06 5.67105V1.70262C3.07023e-06 1.12426 0.459003 0.6554 1.02521 0.6554Z' fill='%23979797'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.31671 2.03458C5.477 -0.15813 8.79572 -0.631756 11.4621 0.873931C14.1333 2.38228 15.5059 5.51331 14.8286 8.55325C14.1514 11.5932 11.5876 13.8092 8.54053 13.9883C5.49346 14.1675 2.69768 12.2666 1.68348 9.32607C1.49533 8.78057 1.77573 8.18255 2.30976 7.99036C2.84379 7.79817 3.42923 8.08459 3.61738 8.63009C4.32812 10.6908 6.28736 12.0229 8.42271 11.8974C10.5581 11.7718 12.3547 10.2189 12.8293 8.08851C13.3039 5.95816 12.342 3.76397 10.4701 2.70694C8.59825 1.64991 6.26761 1.98486 4.75392 3.52845C4.7466 3.53592 4.73917 3.54326 4.73164 3.5505L1.72725 6.43422C1.31462 6.83027 0.665811 6.80966 0.278087 6.38817C-0.109637 5.96668 -0.0894521 5.30394 0.323172 4.90789L3.31671 2.03458Z' fill='%23979797'/%3E%3C/svg%3E");
      width: 15px;
      height: 14px;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }

}


.header_dashboard {
  padding: 0 64px 0 0;

  @media (max-width: $screen-xs-max) {
    padding: 0;
    background-color: #011E30;
    color: #fff;
    border: none;
  }

  .header_left {
    display: flex;
  }

  .header_wrapper {
    padding: 20px 0;

    @media (max-width: $screen-xs-max) {
      justify-content: space-between;
      padding: 15px 0;
    }
  }

  .header_left {
    .phone {
      margin: 0;
      padding: 0 16px 0 0;
      border-right: 1px solid #D8D8D8;
    }
  }

  .btn_support {
    display: inline-block;
    vertical-align: middle;
    color: #BBBDBF;
    font-size: 16px;
    margin: 0 0 0 16px;
    padding: 0 24px 0 0;
    transition: all .2s linear;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0ZM5.272 1.768C7.008 1.008 9 1.008 10.736 1.768L9.744 3.96C8.632 3.48 7.376 3.48 6.264 3.952L5.272 1.768ZM14.232 5.272C14.992 7 14.992 8.992 14.232 10.728L12.048 9.736C12.52 8.624 12.52 7.368 12.04 6.264L14.232 5.272ZM1.768 5.264C1.008 7.008 1.008 8.992 1.768 10.736L3.96 9.736C3.48 8.632 3.48 7.368 3.96 6.256L1.768 5.264ZM10.736 14.224C9 14.992 7.008 14.992 5.272 14.232L6.272 12.048C7.376 12.52 8.64 12.52 9.744 12.04L10.736 14.224ZM4.8 8C4.8 6.232 6.232 4.8 8 4.8C9.768 4.8 11.2 6.232 11.2 8C11.2 9.768 9.768 11.2 8 11.2C6.232 11.2 4.8 9.768 4.8 8Z' fill='%23BBBDBF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      transition: all .2s linear;
      width: 16px;
      height: 16px;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }

    &:hover {
      color: #4A4A4A;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C12.416 0 16 3.584 16 8C16 12.416 12.416 16 8 16C3.584 16 0 12.416 0 8C0 3.584 3.584 0 8 0ZM5.272 1.768C7.008 1.008 9 1.008 10.736 1.768L9.744 3.96C8.632 3.48 7.376 3.48 6.264 3.952L5.272 1.768ZM14.232 5.272C14.992 7 14.992 8.992 14.232 10.728L12.048 9.736C12.52 8.624 12.52 7.368 12.04 6.264L14.232 5.272ZM1.768 5.264C1.008 7.008 1.008 8.992 1.768 10.736L3.96 9.736C3.48 8.632 3.48 7.368 3.96 6.256L1.768 5.264ZM10.736 14.224C9 14.992 7.008 14.992 5.272 14.232L6.272 12.048C7.376 12.52 8.64 12.52 9.744 12.04L10.736 14.224ZM4.8 8C4.8 6.232 6.232 4.8 8 4.8C9.768 4.8 11.2 6.232 11.2 8C11.2 9.768 9.768 11.2 8 11.2C6.232 11.2 4.8 9.768 4.8 8Z' fill='%23444'/%3E%3C/svg%3E");
      }
    }
  }
}


.header_dashboard_wrapper {
  padding: 0 45px;

  @media(max-width: $screen-sm-max) {
    padding: 0 15px;
  }

  .phone_link {
    color: #0597F2;
  }

  .user_name {
    font-weight: 700;
  }

  .dashboard_header_menu {
    @media(max-width: $screen-xs-max) {
      display: none;
    }

    .drop_menu_button{
      padding-left: 20px;
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.330314 1.86173L3.21591 4.68155C3.65042 5.10615 4.35232 5.10615 4.78684 4.68155L7.67243 1.86173C8.37433 1.17583 7.87298 0 6.8814 0H1.11021C0.118629 0 -0.371588 1.17583 0.330314 1.86173Z' fill='%234A4A4A'/%3E%3C/svg%3E");
        width: 8px;
        height: 5px;
        margin-top: -2px;
      }
    }
  }
}

.dashboard_menu {
  display: none;

  @media(max-width: $screen-xs-max) {
    display: inline-block;
    vertical-align: middle;
  }
}



.menu_toggler {
  position: relative;
  border: none;
  padding: 0;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 1001;
  background-color: transparent;

  @media(max-width: $screen-sm-max) {
    display: block;
  }

  @media(max-width: $screen-xs-max) {
    position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  span {
    display: block;
    width: 24px;
    height: 3px;
    padding: 0;
    background: #160F30;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .toggler_top {
    top: 6px;
  }

  .toggler_middle {
    top: 13px;
  }

  .toggler_bottom {
    top: 20px;
  }

  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  &.menu-is-active span.toggler_top {
    top: 13px;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_bottom {
    top: 13px;
    transform: rotate(225deg);
  }
}
