fieldset {
  border: none;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;

  .form_control {
    background-color: transparent;
  }

  // .jsClearInput {
  //   position: absolute;
  //   width: 20px;
  //   height: 20px;
  //   right: 10px;
  //   top: 50%;
  //   margin-top: -10px;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.15009L10.8499 0L6 4.84991L1.15009 0L0 1.15009L4.84991 6L0 10.8499L1.15009 12L6 7.15009L10.8499 12L12 10.8499L7.15009 6L12 1.15009Z' fill='black'/%3E%3C/svg%3E");
  //   cursor: pointer;
  //   display: none;

  //   &.active {
  //     display: block;
  //   }
  // }

  &.fieldset_input,&.fieldset_textarea {
    .form_control {
      padding-top: 24px!important;
    }
  }

  &.fieldset_input.has_text,&.fieldset_textarea.has_text {
    .form_control {
      // padding-top: 22px;
      // padding-bottom: 4px;
    }
  }

  .form_control:focus {
    // padding-top: 22px;
    // padding-bottom: 4px;
  }
}


.form_control~.label_top {
  display: block;
  cursor: text;
  transition: .15s ease-out all;
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 0;
  color: #BBBDBF;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.form_control:focus~.label_top,
.label_top.stay {
  top: 4px;
  left: 0;
  font-size: 14px;
  color: #BBBDBF;
  margin: 0;
  transition: .15s ease-out all;
  z-index: 1;
}

.fieldset_textarea {
  .form_control~.label_top {
    top: 16px;
    transform: none;
  }

  .form_control:focus~.label_top,
  .label_top.stay {
    top: 5px;
  }
}