.jsTableTransformMobile {
  td {

    &:before {
      @media (max-width: $screen-xs-max) {
        content: attr(data-name);
        font-size: 12px;
        display: block;
        margin: 0 0 5px;
        color: #4A4A4A;
      }
    }
  }

}
