.mfp-container {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}

.b_modal {
  margin: 0 auto;
  max-width: calc(100% - 30px);
  padding: 40px 30px;
  position: relative;
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 14px;
  text-align: right;

  @media (max-width: $screen-xs-max) {
    padding: 40px 15px;
  }

  .mfp-close {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    transition: all .2s linear;
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    color: #fff;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.229221 0.229221C0.534848 -0.0764069 1.03037 -0.0764069 1.336 0.229221L6 4.89322L10.664 0.229221C10.9696 -0.0764069 11.4652 -0.0764069 11.7708 0.229221C12.0764 0.534848 12.0764 1.03037 11.7708 1.336L7.10678 6L11.7708 10.664C12.0764 10.9696 12.0764 11.4652 11.7708 11.7708C11.4652 12.0764 10.9696 12.0764 10.664 11.7708L6 7.10678L1.336 11.7708C1.03037 12.0764 0.534848 12.0764 0.229221 11.7708C-0.0764069 11.4652 -0.0764069 10.9696 0.229221 10.664L4.89322 6L0.229221 1.336C-0.0764069 1.03037 -0.0764069 0.534848 0.229221 0.229221Z' fill='%23FAFAFA'/%3E%3C/svg%3E");
    background-color: #696969;
    top: -15px;
    right: 15px;
    opacity: 1;

    &:hover {
      background-color: #4A4A4A;
    }
  }

  .modal_title {
    font-size: 24px;
    font-weight: 700;
  }
}

#modal_resultes {
  max-width: 900px;
  padding: 0;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    border-radius: 0;
  }

  .btn_back {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L20.5858 13H1C0.447715 13 0 12.5523 0 12C0 11.4477 0.447715 11 1 11H20.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%23696969'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s linear;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L23.7071 11.2929C24.0976 11.6834 24.0976 12.3166 23.7071 12.7071L12.7071 23.7071C12.3166 24.0976 11.6834 24.0976 11.2929 23.7071C10.9024 23.3166 10.9024 22.6834 11.2929 22.2929L20.5858 13H1C0.447715 13 0 12.5523 0 12C0 11.4477 0.447715 11 1 11H20.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683417 11.2929 0.292893Z' fill='%230597F2'/%3E%3C/svg%3E");
    }
  }

  .mfp-close {
    display: none;
  }

  .modal_title {
    padding: 30px 15px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #D8D8D8;

    @media (max-width: $screen-xs-max) {
      padding: 15px 15px;
    }

    .title {
      width: calc(100% - 24px);
      padding: 0 25px 0 0;

      @media (max-width: $screen-xs-max) {
        padding: 0 20px 0 0;
      }
    }
  }

  .resultes_wrapper {
    max-height: 560px;
    overflow: auto;

    .table_wrapper{
      @media (max-width: $screen-xs-max) {
        padding-bottom: 15px;
      }

      &.selected {
        padding-bottom: 96px;

        @media (max-width: $screen-xs-max) {
          padding-bottom: 165px;
        }
      }
    }

    table {
      width: 100%;

      @media (max-width: $screen-xs-max) {
        display: block;
        padding: 15px 15px 0 0;
      }

      tbody {
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }

      tr {
        @media (max-width: $screen-xs-max) {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid #DBDBDB;
          border-radius: 8px;
          padding: 8px 10px;
        }

        &:not(:first-of-type) {
          td {
            border-top: 1px solid #D8D8D8;

            @media (max-width: $screen-xs-max) {
              border: none;
            }
          }
        }

        +tr {
          @media (max-width: $screen-xs-max) {
            margin: 15px 0 0;
          }
        }
      }

      td {
        padding: 20px 20px;

        @media (max-width: $screen-xs-max) {
          display: block;
          width: 33.33%;
          padding: 8px 5px;
        }

        &:nth-last-child(2) {
          @media (max-width: $screen-xs-max) {
            margin-right: 33.33%;
          }
        }

        &:last-of-type {
          text-align: left;

          @media (max-width: $screen-xs-max) {
            width: 100%;
            text-align: center;
          }

          .button_checkbox {
            @media (max-width: $screen-xs-max) {
              width: 100%;
              max-width: 300px;
            }

            .btn {
              width: 120px;
              min-width: auto;

              @media (max-width: $screen-xs-max) {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .label {
      font-size: 12px;
      color: #4A4A4A;
      margin: 0 0 3px;
    }

    .content {
      color: #4A4A4A;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .selected_offers_wrapper {
    background: #3F3F3F;
    box-shadow: 0px -13px 21px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    z-index: 5;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .selected_offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @media (max-width: $screen-xs-max) {
      padding: 15px 0;
    }

    .btn {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 215px;
      }
    }
  }

  .offers_quantity {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.0556522px;
    margin: 0 0 0 25px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0 0 15px;
      text-align: center;
    }

    span {
      color: #0597F2;
    }
  }
}

#add_search {
  max-width: 640px;
  padding: 0;

  .mfp-close {
    display: none;
  }

  .form_wrapper{
    position: relative;
  }

  .input_search{
    border: none;
    width: 100%;
    padding: 15px 15px 15px 75px;
    font-size: 20px;
    letter-spacing: 0.0347826px;
    border-radius: 14px 14px 0 0;
  }

  .btn_search{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 58px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.71 11H12.5L17.49 16L16 17.49L11 12.5V11.71L10.73 11.43C9.59 12.41 8.11 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 8.11 12.41 9.59 11.43 10.73L11.71 11ZM2 6.5C2 8.99 4.01 11 6.5 11C8.99 11 11 8.99 11 6.5C11 4.01 8.99 2 6.5 2C4.01 2 2 4.01 2 6.5Z' fill='black'/%3E%3C/svg%3E");
  }

  .search_form{
    border-bottom: 1px solid #D8D8D8;
  }

  .search_result{
    max-height: 61vh;
    overflow: hidden;
  }

  .result_wrapper{
    padding: 15px 25px;
  }

  .result_item{
    display: flex;
    justify-content: space-between;
  }

  .result_row{
    + .result_row{
      margin: 15px 0 0;
    }
  }
}
