.b_modal.xs_modal.mfp-hide.zoom-anim-dialog#modal_resultes

  .modal_title
    a.btn_back(href="#")
    .title כעת כל שעליך לעשות הוא לבחור את ההצעות הרלוונטיות על פי החיפוש שביצעת.
  
  .resultes_wrapper.jsCustomScrollbar
    .table_wrapper
      table
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה
        tr
          td
            img(src="images/result_image.png", alt="")
          td
            .label גובה ההלוואה
            .content 325,000 ₪
          td
            .label תשלום חודשי
            .content 13,000 ₪
          td
            .label משך ההלוואה
            .content 24 חודשים
          td
            label.button_checkbox
              input(name="", type="checkbox")
              span.btn.btn_gray בחירה

  .selected_offers_wrapper
    .selected_offers
      .offers_quantity נבחרו <span>4</span> הצעות
      a.btn.btn_blue.huge(href="#") להמשך



