.b_modal.mfp-hide.zoom-anim-dialog#add_search
  .search_form
    .form_wrapper
      input.input_search(type="text" placeholder="חיפוש לקוח מקושר")
      input.btn_search(type="submit", value="")
  .search_result.jsCustomScrollbar
    .result_wrapper
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
      .result_row
        .result_item
          .item_name ישראל ישראלי
          .item_mail Ofroint@gmail.com
          
