footer.b_footer
  .container

    .footer_wrapper

      .foot_right
        .foot_logo
          a.logo_link(href="main.html")
            img(src="images/logo.svg", alt="")
        .foot_short_description תיאור קצר על החברה תיאור קצר על החברה תיאור קצר על החברה תיאור קצר על החברה תיאור קצר על החברה תיאור קצר על החברה תיאור קצר על החברה
        .foot_pci
          .pci אתר זה מאובטח בטכנולוגיית PCI

      .foot_left

        .menu_wrapper

          .menu
            ul
              li
                a(href="about_us.html") אודות
              li
                a(href="#") תקנון
              li
                a(href="post_archive.html") LOAN Magazine
              li
                a(href="main.html#contact_form") יצירת קשר
              li
                a(href="#") דרושים
              li
                a(href="#") לינק מידע

          .menu
            ul
              li
                a(href="about_us.html") אודות
              li
                a(href="#") תקנון
              li
                a(href="post_archive.html") LOAN Magazine
              li
                a(href="main.html#contact_form") יצירת קשר
              li
                a(href="#") דרושים
              li
                a(href="#") לינק מידע

        .contact_wrapper
          
          .contact_item
            .title דברו איתנו
            .contact_list
              .list_item
                .phone
                  a(href="tel:03-9669089") 03-9669089
              .list_item
                .email
                  a(href="mailto:info@weloan.co.il") info@weloan.co.il
          
          .contact_item.social_links_wrapper
            .title עקבו אחרינו
            .social_links
              .links_list
                .list_item
                  a.item_link(href="#")
                    img(src="images/facebook.svg", alt="")
                .list_item
                  a.item_link(href="#")
                    img(src="images/instagram.svg", alt="")
                .list_item
                  a.item_link(href="#")
                    img(src="images/linkedin.svg", alt="")
        
    
    
    
    .footer_bottom

      .copy Copyright © 2019 weloan. All Rights Reserved.

      .developed
        .developed_wrap
          a(href="#")
            img(src="images/purple.svg", alt="") 
          span Crafted with love by






