header.b_header

  .container

    .header_wrapper

      .header_right
        button.menu_toggler.jsMenu
          span.toggler_top
          span.toggler_middle
          span.toggler_bottom

        .header_logo
          a.link_logo(href="main.html")
            img(src="images/logo.svg", alt="")
        .header_menu
          a.mobile_link(href="#")
            img(src="images/w_logo.svg", alt="")
          .menu_wrapper
            ul
              li
                a(href="about_us.html") אודות
              li
                a(href="post_archive.html") מאמרים
              li
                a(href="main.html#contact_form") צור קשר
              li
                a(href="agent_dashboard.html") אזור סוכן
          .mobile_wrapper
            .buttons_wrapper
              a.btn.btn_blue_empty(href="login.html") התחברות
              a.btn.btn_blue(href="loan_01_valid.html") לבדיקה
            .phone
              span לפרטים התקשרו 
              a.phone_link(href="tel:039009000") 03-9009000
            

      
      .header_left
        .phone
          span לפרטים התקשרו 
          a.phone_link(href="tel:039009000") 03-9009000
        a.btn.btn_blue_empty(href="login.html") התחברות
        a.btn.btn_blue(href="loan_01_valid.html") לבדיקה




