header.b_header.header_loan
  //- button.menu_toggler.jsMenu
  //-   span.toggler_top
  //-   span.toggler_middle
  //-   span.toggler_bottom
    
  .container

    .header_wrapper

      .header_right
        .header_logo
          a.link_logo(href="main.html")
            img(src="images/logo.svg", alt="")
      
      .header_left
        .phone
          span לפרטים התקשרו 
          a.phone_link(href="tel:039009000") 03-9009000
