header.b_header.header_dashboard
  .header_dashboard_wrapper

    .header_wrapper

      .header_right
        a.dashboard_menu.jsDashboardMenu(href="#")
          img(src="images/dashboard_menu.svg", alt="")
        .dashboard_header_menu
          .account
            .drop_menu_wrapper
              .drop_menu_button.jsDropMenuBtn
                .user_name היי ישראל!
              .drop_menu.position_right.jsDropMenu
                ul
                  li
                    a(href="main.html")
                      span.icon
                        img(src="images/icon_exit.svg", alt="")
                      span.title התנתקות
      
      .header_left
        a.btn_support(href="#") תמיכה
        .phone
          a.phone_link(href="tel:039009000") 03-9009000
