header.b_header.header_loan

  .container

    .header_wrapper

      .header_right
        .header_logo
          a.link_logo(href="main.html")
            img(src="images/logo.svg", alt="")
      
      .header_left
        a.btn.btn_refresh(href="loan_01.html") התחלה מחדש
