<svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="loading">
<g id="main_logo">
<path d="M38.3662 63C36.7036 63 35.0954 62.1076 34.2635 60.5466L20.539 34.7613C19.3414 32.512 20.2065 29.7243 22.4692 28.5358C24.7319 27.346 27.539 28.2041 28.7353 30.4535L42.461 56.2375C43.6586 58.4868 42.7935 61.2745 40.5295 62.4643C39.8393 62.8276 39.0975 63 38.3662 63Z" fill="#F1F1F2"/>
<path d="M47.737 60.6545C48.5413 62.1076 50.0516 63 51.6795 63C51.7623 63 51.845 62.9974 51.9291 62.9934C53.6502 62.896 55.1682 61.8141 55.8432 60.199L66.6364 34.4138C67.6165 32.0722 66.5471 29.366 64.2468 28.3696C61.9477 27.3732 59.2892 28.4604 58.3091 30.802L51.1157 47.9869L46.4698 39.5879C45.2414 37.3701 42.482 36.5843 40.3058 37.8334C38.1282 39.0825 37.3563 41.8914 38.5834 44.1079L47.737 60.6545Z" fill="#F1F1F2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 43.5C0 67.4849 19.5138 87 43.5 87C67.4862 87 87 67.4849 87 43.5C87 19.5138 67.4862 0 43.5 0C19.5138 0 0 19.5138 0 43.5ZM9 43.5C9 24.4767 24.4767 9 43.5 9C62.5233 9 78 24.4767 78 43.5C78 62.5233 62.5233 78 43.5 78C24.4767 78 9 62.5233 9 43.5Z" fill="#F1F1F2"/>
</g>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="87" height="87">
<g id="mask_logo">
<path d="M38.3662 63C36.7036 63 35.0954 62.1076 34.2635 60.5466L20.539 34.7613C19.3414 32.512 20.2065 29.7243 22.4692 28.5358C24.7319 27.346 27.539 28.2041 28.7353 30.4535L42.461 56.2375C43.6586 58.4868 42.7935 61.2745 40.5295 62.4643C39.8393 62.8276 39.0975 63 38.3662 63Z" fill="#F1F1F2"/>
<path d="M47.737 60.6545C48.5413 62.1076 50.0516 63 51.6795 63C51.7623 63 51.845 62.9974 51.9291 62.9934C53.6502 62.896 55.1682 61.8141 55.8432 60.199L66.6364 34.4138C67.6165 32.0722 66.5471 29.366 64.2468 28.3696C61.9477 27.3732 59.2892 28.4604 58.3091 30.802L51.1157 47.9869L46.4698 39.5879C45.2414 37.3701 42.482 36.5843 40.3058 37.8334C38.1282 39.0825 37.3563 41.8914 38.5834 44.1079L47.737 60.6545Z" fill="#F1F1F2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 43.5C0 67.4849 19.5138 87 43.5 87C67.4862 87 87 67.4849 87 43.5C87 19.5138 67.4862 0 43.5 0C19.5138 0 0 19.5138 0 43.5ZM9 43.5C9 24.4767 24.4767 9 43.5 9C62.5233 9 78 24.4767 78 43.5C78 62.5233 62.5233 78 43.5 78C24.4767 78 9 62.5233 9 43.5Z" fill="#F1F1F2"/>
</g>
</mask>
<g mask="url(#mask0)">
<rect id="mask" y="88" width="87" height="1" fill="#0597F2"/>
</g>
</g>
</svg>
