extends layouts/default

block content
  main
  
    .b_about_us

      .about_top
        .container
          .top_wrapper
            .about_wrapper
              .section_title מסלולי מימון בהתאמה אישית
              .about_description 80% מהבקשות להלוואה בקרב עסקים קטנים נדחים על ידי הבנקים, הבנקים לוקחים את החלומות של העסקים הללו ומעבירים אותם לשליטה של עסקים גדולים ששווה לבנקים לטפח אותם, אנחנו ב-weloan בנינו מציאות חדשה.
            .image_wrapper
              img(src="images/financing_tracks.svg", alt="")

      .about_bottom
        .container
          .bottom_wrapper
            .about_wrapper
              .about_description
                p(style="color: #0597F2;")
                  strong הממשלה והמשק לא באמת מבינים שהכלכלה הכוללת <br>מושתת על העסקים הקטנים ושבעצם אותם צריך לטפח! 

                p אנחנו כאן בשבילך לתת לך את הפריביליגייה ולעזור לך להגשים את החלום או המיזם הבא שלך! אנחנו חוגגים את השאיפות שלכם ולכן אנחנו עשינו את העבודה הקשה בשביל שלכם יהיה קל לבנות ולנהל את העסק שלכם מבלי לגרד את הראש…ואת הכיס<br>
                  strong weloan, your’e not alone 

            .image_wrapper
              img(src="images/financing_tracks02.svg", alt="")

    
    .b_team
      .container

        .team_title הצוות מאחורי החזון

        .team_wrapper

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם.

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם.

          .team_item
            .box_decor
            .item_top
              .item_image(style="background-image: url('images/item_image.jpg');")
                .social_link
                  img(src="images/linkedin_lg.svg", alt="")
              .item_person_info
                .person_name
                  span.name ירון מלמד
                .person_position מייסד ומנכ״ל
            .item_content
              .content_wrapper
                .content_inner קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן לורם איפסום דולור סיט אמט, צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה 






        .loan_tailored
          .tailored_title רוצים לקבל הלוואה שתפורה בול לצרכים שלכם? התחילו את הבדיקה

          a.btn.btn_blue.huge(href="#") לבדיקה









