extends layouts/default_dashboard

block content
  .b_dashboard_menu.jsCustomHeight
    .dashboard_menu_inner
      .dashboard_logo
        a.logo_link(href="agent_dashboard.html")
          img(src="images/dashboard_logo.svg", alt="")
      .menu_wrapper
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
          .menu_item
            a.menu_link.active(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")


  main.main_dashboard
  
    .b_dashboard

      .dashboard_wrapper

        .dashboard_head
          .container
            .companies_head
              .drop_menu_wrapper
                .drop_menu_button.jsDropMenuBtn
                  .title.page_title חברות
                .drop_menu.position_right.jsDropMenu
                  ul
                    li
                      a(href="#") חברות
                    li
                      a(href="#") לקוחות פרטיים
              button.btn.btn_blue.jsAddCompany(type="button") הוספת חברה




        .dashboard_body
          .container
            
            .companies_table_wrapper.block_decor
              
              .companies_table_control
                
                .control_item.companies_search
                  .search_wrapper
                    input.form_control(type="search" placeholder="חיפוש")
                    input.btn_submit(type="submit", value="")
              
                .control_item.left_control
                  .companies_selected
                    span.number_selecter 1
                    span.title משתמשים נבחרו
                  
                  .action
                    button.btn_action.jsActionMenu(type="button")
                    .action_menu
                      .action_menu_item
                        a.action_menu_link(href="#")
                          .item_image
                            .img_static
                              img(src="images/icon_delete_records.svg", alt="")
                          .item_title מחיקת רשומות
                      .action_menu_item
                        a.action_menu_link(href="#")
                          .item_image
                            .img_static
                              img(src="images/icon_editing_records.svg", alt="")
                          .item_title עריכת רשומות
              

              .companies_table
                table.jsTableTransformMobile
                  thead
                    tr
                      th
                        .label
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          | שם החברה
                      th
                        .label ח.פ/ת.ז
                      th
                        .label מס׳ טלפון
                      th
                        .label תאריך בקשה
                      th
                        a.label.sort_by.up(href="#") סטטוס
                  
                  tbody
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                        a.btn.btn_gray_empty.btn_edit(href="#") עריכת פרטי לקוח
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.off לא פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.off לא פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל
                    tr
                      td
                        .content 
                          label.checkbox_table
                            input(type="checkbox", name="")
                            span
                          a(href="agent_single_company_loan.html") כאן יהיה שם חברה לדוגמה
                      td 879867676766
                      td 0504448747
                      td 10 אוגוסט 2019, 9:10
                      td
                        .status.on פעיל


            .data_control
              .data_control_inner
                .item_on_page
                  .label שורות בעמוד
                  select(name="")
                    option(value="#") 10
                    option(value="#") 20
                    option(value="#") 30
                
                .page_rows
                  .label 1-10 מתוך 100
                  .btn_rows_wrap
                    a.btn_next_rows(href="#")
                    a.btn_prev_rows(href="#")


    .b_add_wrapper.jsDeviceHeight#add_company
      .add_wrapper
        button.btn_close.jsCloseWrapperAdd(type="button")
        
        .add_wrapper_inner
          
          .block_head
            .b_title הוספת חברה

          .block_body.jsCustomScrollbar
            .form_wrapper.jsMaskFormControl
              form
                .form_row
                  label
                    input.form_control(type="text" placeholder="שם החברה")
                .form_row
                  label
                    input.form_control(type="text" placeholder="ח.פ/ת.ז")
                  .explanation טקסט הסבר יהיה כאן
                .form_row
                  label
                    input.form_control(type="text" placeholder="שם בעל החברה")
                  .explanation קשר לקוח לחברה/ השאר ללא לקוח
                .form_row
                  label
                    input.form_control(type="tel" placeholder="מספר טלפון")
                .form_row
                  label
                    input.form_control(type="email" placeholder="דואר אלקטרוני")
                .form_row
                  .label_title תחום העסק
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") פיתוח תוכנה
                .form_row
                  .label_title וותק
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") 0-5 שנים
                      option(value="") 5-10 שנים
                .form_row
                  .label_title כמות עובדים
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") 10-15 עובדים
                .form_row
                  .label_title מחזור שנתי
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") ₪1,000,000
                
                .btn_row
                  input.btn.btn_blue.huge(type="submit", value="הוספת חברה")



  .b_dashboard_mobile_menu
    .dashboard_mobile_menu_inner.jsCustomHeight
      .menu_user_name
        .drop_menu_wrapper
          .drop_menu_button.jsDropMenuBtn
            .name_wrapper היי ישראל!
          .drop_menu.position_right.jsDropMenu
            ul
              li
                a(href="#")
                  span.icon
                    img(src="images/icon_exit.svg", alt="")
                  span.title התנתקות
      
      .mobile_menu
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard_custom.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
              .menu_title דשבורד
          .menu_item
            a.menu_link.active(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies_custom.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
              .menu_title לקוחות
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings_custom.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
              .menu_title הגדרות