extends layouts/default_dashboard

block content
  .b_dashboard_menu.jsCustomHeight
    .dashboard_menu_inner
      .dashboard_logo
        a.logo_link(href="agent_dashboard.html")
          img(src="images/dashboard_logo.svg", alt="")
      .menu_wrapper
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
          .menu_item
            a.menu_link(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
          .menu_item
            a.menu_link.active(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
        

    


  main.main_dashboard
  
    .b_dashboard.page_agent_settings

      .dashboard_wrapper

        .dashboard_head
          .container
            .page_title הגדרות




        .dashboard_body
          .container

            .settings_wrapper
              form
                .form_wrapper.block_decor.jsMaskFormControl
                  .row_wrapper
                    .settings_row

                      .settings_title פרטים אישיים

                      .settings_content_wrapper
                        .column_wrapper
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="ישראל" placeholder="שם פרטי")
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="ישראלי" placeholder="שם משפחה")
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="tel" value="050-4448747" placeholder="מספר טלפון נייד")
                              .explanation מספר זה ישמש כניסה למערכת
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="שלום" placeholder="שם איש קשר לתמיכה")

                    .settings_row

                      .settings_title פרטי העסק

                      .settings_content_wrapper
                        .column_wrapper
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="ישראל פיננסיים בע״מ" placeholder="שם הפירמה")
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="896775656" placeholder="ח.פ/ת.ז")
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="יהודה המכבי 32, תל אביב" placeholder="כתובת העסק")
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="tel" value="03-5328898" placeholder="מספר טלפון במשרד")
                          .settings_column
                            .form_row
                              .label_title וותק הפירמה
                              .select_wrapper
                                select.jsSelectricView(name="")
                                  option(value="") 1-3 שנים
                          .settings_column
                            .form_row
                              .label_title כמות עובדים
                              .select_wrapper
                                select.jsSelectricView(name="")
                                  option(value="") 10-15 עובדים
                          .settings_column
                            .form_row
                              label
                                input.form_control(type="text" value="www.isfltd.co.il" placeholder="כתובת אתר אנטרנט")

                  .btn_row
                    input.btn.btn_blue.huge(type="submit", value="שמירת שינויים")

            
  .b_dashboard_mobile_menu
    .dashboard_mobile_menu_inner.jsCustomHeight
      .menu_user_name
        .drop_menu_wrapper
          .drop_menu_button.jsDropMenuBtn
            .name_wrapper היי ישראל!
          .drop_menu.position_right.jsDropMenu
            ul
              li
                a(href="#")
                  span.icon
                    img(src="images/icon_exit.svg", alt="")
                  span.title התנתקות
      
      .mobile_menu
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard_custom.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
              .menu_title דשבורד
          .menu_item
            a.menu_link(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies_custom.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
              .menu_title לקוחות
          .menu_item
            a.menu_link.active(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings_custom.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
              .menu_title הגדרות








