extends layouts/default_login

block content
  main.main_login
    
    .b_login.agent_login
      .container

        .login_wrapper

          .login_form
            
            .login_body
              .login_title.sms_title שלחנו לך קוד זיהוי ב-SMS
              .form_wrapper
                form
                  .form_row
                    input.form_control.input_password(type="password" maxlength="4" placeholder="הכנס את קוד הזיהוי להמשך")
                  .form_btn
                    .send_again לא קבלת קוד זיהוי? <a href="#">שלח שוב</a>
                    input.btn.btn_blue.huge(type="submit", value="המשך" disabled)









