extends layouts/default_dashboard

block content
  .b_dashboard_menu.jsCustomHeight
    .dashboard_menu_inner
      .dashboard_logo
        a.logo_link(href="agent_dashboard.html")
          img(src="images/dashboard_logo.svg", alt="")
      .menu_wrapper
        .menu_list
          .menu_item
            a.menu_link.active(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
          .menu_item
            a.menu_link(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
        

    


  main.main_dashboard.dashboard_personal_area
  
    .b_dashboard

      .dashboard_wrapper

        
        .dashboard_head
          .container
            
            .welcome
              .welcome_title.page_title ברוך הבא לאיזור האישי שלך
              .welcome_text
                p באיזור האישי תוכל לנהל את כל בקשות הלקוחות, לעדכן את סטטוס הפניות ולעקוב אחרי כל שלב.
        

        
        
        .dashboard_body
          .container

            .account_info
              .account_info_desktop
                .info_item.block_decor
                  .info_image
                    img(src="images/account-group.svg", alt="")
                  .info_content
                    .info_data 396
                    .info_data_label לקוחות במערכת

                .info_item.block_decor
                  .info_image
                    img(src="images/icon_check.svg", alt="")
                  .info_content
                    .info_data 125
                    .info_data_label בקשות שאושרו

                .info_item.block_decor
                  .info_image
                    img(src="images/icon_give_money.svg", alt="")
                  .info_content
                    .info_data 225,000,000 ₪
                    .info_data_label כסף שגייסתי עד כה ללקוחות

                .info_item.block_decor
                  .info_image
                    img(src="images/icon_source_fork.svg", alt="")
                  .info_content
                    .info_data 15
                    .info_data_label מקורות מימון
              
              
              .account_info_mobile
                .info_item.block_decor
                  .info_image
                    img(src="images/icon_source_fork.svg", alt="")
                  .info_content
                    .info_data 15
                    .info_data_label מקורות מימון
                .info_item.block_decor
                  .info_image
                    img(src="images/icon_give_money.svg", alt="")
                  .info_content
                    .info_data ₪225M
                    .info_data_label מקורות מימון
                .info_item.block_decor
                  .info_image
                    img(src="images/icon_check.svg", alt="")
                  .info_content
                    .info_data 125
                    .info_data_label בקשות שאושרו
                .info_item.block_decor
                  .info_image
                    img(src="images/icon_check.svg", alt="")
                  .info_content
                    .info_data 396
                    .info_data_label לקוחות במערכת


            .dashboard

              .dashboard_row
                
                .dashboard_item.block_decor.col-md5
                  .item_head
                    .item_title תמונת מצב הלוואות - סטטוס
                  .item_body
                    .doughnut_wrapper
                      canvas#loans_snapshot
                
                
                .dashboard_item.block_decor.col-md7
                  .item_head
                    .item_title כמות בקשות שנשלחו

                    .month_filter
                      select.jsSelectricView(name="")
                        option(value="") חודש אחרון
                        option(value="") חודש אחרון
                  .item_body
                    canvas#requests_sent

              
              
              .dashboard_row
                
                .dashboard_item.block_decor.col-md7
                  .item_head
                    .item_title פתקים שנוצרו לאחרונה
                  .item_body

                    .created_notes
                      .notes_item
                        .notes_date 12 נובמבר 2019
                        .notes_content לחזור לדינה מ"דינה & ברזילאי" לחידוש הלוואה ב"ויזה כאל"
                      .notes_item
                        .notes_date 12 נובמבר 2019
                        .notes_content לצרף מסמכים שנשלחו במייל לדוד & כהן
                      .notes_item
                        .notes_date 11 נובמבר 2019
                        .notes_content להעביר שמאות דירה לבנק הפועלים סניף 662, אחרי השעה 16:00.
                      .notes_item
                        .notes_date 9 נובמבר 2019
                        .notes_content 	לבקר דוח מאזני 2019 מרו"ח יהודה & יהודה


                
                .dashboard_item.block_decor.col-md5
                  .item_head
                    .item_title כמות בקשות למקורות מימון
                  .item_body
                    .doughnut_wrapper
                      canvas#source_requests

  .b_dashboard_mobile_menu
    .dashboard_mobile_menu_inner.jsCustomHeight
      .menu_user_name
        .drop_menu_wrapper
          .drop_menu_button.jsDropMenuBtn
            .name_wrapper היי ישראל!
          .drop_menu.position_right.jsDropMenu
            ul
              li
                a(href="#")
                  span.icon
                    img(src="images/icon_exit.svg", alt="")
                  span.title התנתקות
      
      .mobile_menu
        .menu_list
          .menu_item
            a.menu_link.active(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard_custom.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
              .menu_title דשבורד
          .menu_item
            a.menu_link(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies_custom.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
              .menu_title לקוחות
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings_custom.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
              .menu_title הגדרות







