extends layouts/default_login

block content
  main.main_login
  
    .b_login.agent_login
      .container

        .login_wrapper

          .login_form
            
            .login_body
              .login_title ברוך הבא סוכן!
              .login_content על מנת להתחבר למערכת, הכניסו מספר טלפון - הזינו את קוד האימות שקיבלתם בהודעת SMS והתחילו לעבוד!

              .form_wrapper
                form
                  .form_row
                    input.form_control.error(type="tel" placeholder="מספר טלפון" value="050444874")
                    .form_error נראה שפספסתם איזו ספרה קטנה
                    .checkbox_wrapper
                      label.checkbox
                        input(type="checkbox", name="")
                        span אני מאשר/ת את <a href="#">תנאי השימוש</a>
                  .form_btn
                    input.btn.btn_blue.huge(type="submit", value="להמשך" disabled)









