extends layouts/default_dashboard

block content
  .b_dashboard_menu.jsCustomHeight
    .dashboard_menu_inner
      .dashboard_logo
        a.logo_link(href="agent_dashboard.html")
          img(src="images/dashboard_logo.svg", alt="")
      .menu_wrapper
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
          .menu_item
            a.menu_link.active(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")


  main.main_dashboard
  
    .b_single_company
      
      .company_main_data.jsHeightWithoutHeader
        .main_data_head
          .customer_control

            .control_buttons
              a.btn_control.btn_customer_edit(href="#")
              .drop_menu_wrapper
                .drop_menu_button.jsDropMenuBtn
                  .btn_control.btn_customer_menu(href="#")
                .drop_menu.position_right.jsDropMenu
                  ul
                    li
                      a.menu_link(href="#")
                        span.icon
                          img(src="images/icon_delete_client.svg", alt="")
                        span.title מחק לקוח


            .customer_name שם הלקוח לדוגמה
            .customer_contact
              .contact_wrapper
                .contact_item
                  a.item_link(href="#")
                    .link_image
                      | <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.8248 2.17519C15.5491 1.89951 15.1021 1.89951 14.8265 2.17519L7.45014 9.55151L7.11736 10.8826L8.44849 10.5499L15.8248 3.17354C16.1005 2.89785 16.1005 2.45088 15.8248 2.17519ZM13.4346 0.783304C14.479 -0.261101 16.1723 -0.261101 17.2167 0.783304C18.2611 1.82771 18.2611 3.52103 17.2167 4.56543L9.64761 12.1345C9.52148 12.2606 9.36343 12.3501 9.19038 12.3934L6.00339 13.1901C5.668 13.274 5.3132 13.1757 5.06874 12.9313C4.82428 12.6868 4.72601 12.332 4.80986 11.9966L5.6066 8.80962C5.64987 8.63657 5.73935 8.47852 5.86549 8.35239L13.4346 0.783304ZM0 4.26786C0 2.84423 1.15408 1.69015 2.57771 1.69015H8.15492C8.69849 1.69015 9.13914 2.1308 9.13914 2.67437C9.13914 3.21793 8.69849 3.65858 8.15492 3.65858H2.57771C2.24121 3.65858 1.96843 3.93136 1.96843 4.26786V15.4223C1.96843 15.7588 2.24121 16.0316 2.57771 16.0316H13.7321C14.0686 16.0316 14.3414 15.7588 14.3414 15.4223V9.84508C14.3414 9.30151 14.7821 8.86086 15.3256 8.86086C15.8692 8.86086 16.3098 9.30151 16.3098 9.84508V15.4223C16.3098 16.8459 15.1558 18 13.7321 18H2.57771C1.15408 18 0 16.8459 0 15.4223V4.26786Z" fill="#4A4A4A"/></svg>
                    .link_title הערה
                .contact_item
                  a.item_link(href="#")
                    .link_image
                      | <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.41889 7.35722C4.77889 10.03 6.97 12.2117 9.64278 13.5811L11.7206 11.5033C11.9756 11.2483 12.3533 11.1633 12.6839 11.2767C13.7417 11.6261 14.8844 11.815 16.0556 11.815C16.575 11.815 17 12.24 17 12.7594V16.0556C17 16.575 16.575 17 16.0556 17C7.18722 17 0 9.81278 0 0.944444C0 0.425 0.425 0 0.944444 0H4.25C4.76944 0 5.19444 0.425 5.19444 0.944444C5.19444 2.125 5.38333 3.25833 5.73278 4.31611C5.83667 4.64667 5.76111 5.015 5.49667 5.27944L3.41889 7.35722Z" fill="#4A4A4A"/></svg>
                    .link_title שיחה
                .contact_item 
                  a.item_link(href="#")
                    .link_image
                      | <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 0H18C19.1 0 20 0.9 20 2V14C20 15.1 19.1 16 18 16H2C0.89 16 0 15.1 0 14V2C0 0.89 0.89 0 2 0ZM10 7L18 2H2L10 7ZM18 4.37V14H2V4.37L10 9.36L18 4.37Z" fill="#4A4A4A"/></svg>
                    .link_title דוא״ל
        .main_data_body

          .company_information.jsCompanyInformation
            .company_information_inner
              .company_name מידע על החברה
              .company_information_form
                .form_wrapper
                  .form_row
                    label
                      span.label_title שם מלא
                      input.form_control(type="text" value="ישראל ישראלי")
                  .form_row
                    label
                      span.label_title ת.ז
                      input.form_control(type="text" value="873892863")
                    .explanation טקסט הסבר יהיה כאן
                  .form_row
                    label
                      span.label_title מספר טלפון
                      input.form_control(type="tel" value="050-4448747")
                  .form_row
                    label
                      span.label_title דואר אלקטרוני
                      input.form_control(type="email" value="ofroint@gmail.com")
                  .form_row
                    .label_title תחום העסק
                    .select_wrapper
                      select.jsSelectricView(name="")
                        option(value="") פיתוח תוכנה
                        option(value="") פיתוח תוכנה
                  .form_row
                    .label_title שכר נטו
                    .select_wrapper
                      select.jsSelectricView(name="")
                        option(value="") 10,000-15,000₪
                        option(value="") 10,000-15,000₪

                .form_button
                  input.btn.btn_empty_blue(type="submit", value="שמירת שינויים")




      .company_content.jsHeightWithoutHeader
        .content_wrapper.jsTabs

          .content_head
            .tab_wrapper
              a.tab_link(href="agent_single_company_loan.html") הלוואות
              a.tab_link(href="agent_single_company_notes.html") פתקים
              a.tab_link.-active(href="agent_single_company_tasks.html") משימות
          
          .tab_content_wrapper
          
            .tab_content

              .tasks_wrapper

                .tasks_control
                  .tasks_info
                    .tasks_info_list
                      .tasks_info_item
                        a(href="#")
                          span ארכיון משימות 
                          span (120)
                      .tasks_info_item
                        a.active(href="#")
                          span המשימות שלי
                          span (8)

                  .task_new
                    a.btn.btn_empty_blue.btn_add_task.jsAddTask(href="#") משימה חדשה
                
                .tasks_list
                  .overflow_block.jsCustomScrollbar

                    
                    .tasks_date_wrapper
                      
                      .tasks_list_wrap
                        
                        .task_item
                          .task_title
                            .task_archive
                            .title_wrap כותרת המשימה
                          .task_content סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית.  סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית. 

                          .task_info
                            .associated
                              .associated_title
                                span משוייך ל: 
                                span ישראל ישראלי
                                
                            .time_date_wrapper.red
                              .task_time 10:44
                              .task_date
                                span יעד סיום: 
                                span 11/11/2019
                          
                          .task_control
                            .task_control_wrap
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33333 7.5V1.5H9.16667V0H0.833333V1.5H1.66667V7.5L0 9V10.5H4.33333V15H5.66667V10.5H10V9L8.33333 7.5Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7537 2.04994C15.0836 2.35778 15.0836 2.84286 14.7537 3.1507L13.1145 4.67125L9.99609 1.76076L11.6253 0.230881C11.9551 -0.0769602 12.4749 -0.0769602 12.8047 0.230881L14.7537 2.04994ZM0 14.0001V11.0896L8.87556 2.80584L11.994 5.71633L3.11844 14.0001H0Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.75 0.833333H13V2.5H0V0.833333H3.25L4.17857 0H8.82143L9.75 0.833333ZM2.78613 15.0007C1.7647 15.0007 0.928986 14.2507 0.928986 13.334V3.33398H12.0718V13.334C12.0718 14.2507 11.2361 15.0007 10.2147 15.0007H2.78613Z" fill="#BBBDBF"/></svg>
                        
                        .task_item
                          .task_title
                            .task_archive
                            .title_wrap כותרת המשימה
                          .task_content סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית.  סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית. 

                          .task_info
                            .associated
                              .associated_title
                                span משוייך ל: 
                                span ישראל ישראלי
                                
                            .time_date_wrapper.yellow
                              .task_time 10:44
                              .task_date
                                span יעד סיום: 
                                span 11/11/2019
                          
                          .task_control
                            .task_control_wrap
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33333 7.5V1.5H9.16667V0H0.833333V1.5H1.66667V7.5L0 9V10.5H4.33333V15H5.66667V10.5H10V9L8.33333 7.5Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7537 2.04994C15.0836 2.35778 15.0836 2.84286 14.7537 3.1507L13.1145 4.67125L9.99609 1.76076L11.6253 0.230881C11.9551 -0.0769602 12.4749 -0.0769602 12.8047 0.230881L14.7537 2.04994ZM0 14.0001V11.0896L8.87556 2.80584L11.994 5.71633L3.11844 14.0001H0Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.75 0.833333H13V2.5H0V0.833333H3.25L4.17857 0H8.82143L9.75 0.833333ZM2.78613 15.0007C1.7647 15.0007 0.928986 14.2507 0.928986 13.334V3.33398H12.0718V13.334C12.0718 14.2507 11.2361 15.0007 10.2147 15.0007H2.78613Z" fill="#BBBDBF"/></svg>
                        
                        .task_item
                          .task_title
                            .task_archive
                            .title_wrap כותרת המשימה
                          .task_content סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית.  סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית. 

                          .task_info
                            .associated
                              .associated_title
                                span משוייך ל: 
                                span ישראל ישראלי
                                
                            .time_date_wrapper
                              .task_time 10:44
                              .task_date
                                span יעד סיום: 
                                span 11/11/2019
                          
                          .task_control
                            .task_control_wrap
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33333 7.5V1.5H9.16667V0H0.833333V1.5H1.66667V7.5L0 9V10.5H4.33333V15H5.66667V10.5H10V9L8.33333 7.5Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7537 2.04994C15.0836 2.35778 15.0836 2.84286 14.7537 3.1507L13.1145 4.67125L9.99609 1.76076L11.6253 0.230881C11.9551 -0.0769602 12.4749 -0.0769602 12.8047 0.230881L14.7537 2.04994ZM0 14.0001V11.0896L8.87556 2.80584L11.994 5.71633L3.11844 14.0001H0Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.75 0.833333H13V2.5H0V0.833333H3.25L4.17857 0H8.82143L9.75 0.833333ZM2.78613 15.0007C1.7647 15.0007 0.928986 14.2507 0.928986 13.334V3.33398H12.0718V13.334C12.0718 14.2507 11.2361 15.0007 10.2147 15.0007H2.78613Z" fill="#BBBDBF"/></svg>
                        
                        .task_item
                          .task_title
                            .task_archive
                            .title_wrap כותרת המשימה
                          .task_content סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית.  סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קונסקטורר אדיפיסינג אלית. 

                          .task_info
                            .associated
                              .associated_title
                                span משוייך ל: 
                                span ישראל ישראלי
                                
                            .time_date_wrapper
                              .task_time 10:44
                              .task_date
                                span יעד סיום: 
                                span 11/11/2019
                          
                          .task_control
                            .task_control_wrap
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33333 7.5V1.5H9.16667V0H0.833333V1.5H1.66667V7.5L0 9V10.5H4.33333V15H5.66667V10.5H10V9L8.33333 7.5Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7537 2.04994C15.0836 2.35778 15.0836 2.84286 14.7537 3.1507L13.1145 4.67125L9.99609 1.76076L11.6253 0.230881C11.9551 -0.0769602 12.4749 -0.0769602 12.8047 0.230881L14.7537 2.04994ZM0 14.0001V11.0896L8.87556 2.80584L11.994 5.71633L3.11844 14.0001H0Z" fill="#BBBDBF"/></svg>
                              .control_item
                                a.control_link(href="#")
                                  | <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.75 0.833333H13V2.5H0V0.833333H3.25L4.17857 0H8.82143L9.75 0.833333ZM2.78613 15.0007C1.7647 15.0007 0.928986 14.2507 0.928986 13.334V3.33398H12.0718V13.334C12.0718 14.2507 11.2361 15.0007 10.2147 15.0007H2.78613Z" fill="#BBBDBF"/></svg>


        .custom_form_wrapper.new_task_form
          a.btn_close.jsCloseNoteForm(href="#")
          .form_head
            .form_title הוספת משימה חדשה
          .form_body
            form
              .form_content
                
                .form_row
                  label
                    input.form_control_custom(type="text")
                
                .form_row
                  textarea.form_control_custom(name="")
                
                .form_row
                  .label_title משוייך ל
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") בחר חברה
                      option(value="") MAX מבית לאומי קארד
                      option(value="") בנק הפועלים
                      option(value="") מימון ישיר
                      option(value="") בנק לאומי
                      option(value="") ישראכארט
                      option(value="") לאומי קארד
                      option(value="") גמא
                      option(value="") פנינסולה מבית מיטב דש
                
                .form_row
                  .column_wrapper
                    .column_row
                      label
                        .label_title תאריך יעד
                        input.form_control.form_control_date.jsChooseDate(type="text" placeholder="בחירת תאריך")
                    .column_row
                      label
                        .label_title שעת סיום המשימה
                        input.form_control(type="text" placeholder="לדוגמה- 00:00")
                
                
                .form_row
                  .row_title תזכורת לדואר האלקטרוני
                  .column_wrapper
                    .column_row
                      label
                        .label_title לאיזה תאריך?
                        input.form_control.form_control_date.jsChooseDate(type="text" placeholder="בחירת תאריך")
                    .column_row
                      label
                        .label_title לאיזו שעה?
                        input.form_control(type="text" placeholder="לדוגמה- 00:00")

              .btn_wrapper
                input.btn.btn_blue.huge(type="submit" value="הוספת פתק חדש")
      
      
      
      
      .company_actions.jsHeightWithoutHeader
        .company_actions_head
          .actions_head_wrap
            a.btn_hide_head.jsBtnHideHead(href="#")

        .company_actions_body.jsCompanyActionsBbody
          
          .actions_wrapper
            
            .actions_row
              .actions_head
                .actions_title
                  span.title לקוחות מקושרים לחברה 
                  span (1)
                a.btn.btn_empty_blue.jsAddSearchBar(href="#") קשר לקוח נוסף
              .actions_content

                .customers_associated_company
                  .customer_list
                    .customer_item
                      a.customer_name(href="#") ישראל ישראלי
                    .customer_item
                      a.customer_email(href="#") ofroint@gmail.com
            
            
            .actions_row
              .actions_head
                .actions_title
                  span.title הלוואות פעילות 
                  span (1)
                a.btn.btn_empty_blue.jsCreatingLoan(href="#") יצירת הלוואה
              .actions_content
            
            
            .actions_row
              .actions_head
                .actions_title
                  span.title מסמכים
                label.file_wrapper
                  form
                    input(type="file", name="")
                    .btn.btn_empty_blue העלאת מסמך
              .actions_content
                
                .documents_wrapper
                
                  .document_item
                    .document_title טופס 106
                    .document_control
                      .control_wrapper
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_file-download.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_eye.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_delete.svg", alt="")
                
                  .document_item
                    .document_title דו״ח מע״מ
                    .document_control
                      .control_wrapper
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_file-download.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_eye.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_delete.svg", alt="")
                
                  .document_item
                    .document_title דוחות שנתיים
                    .document_control
                      .control_wrapper
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_file-download.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_eye.svg", alt="")
                        .control_item
                          a.control_link(href="#")
                            img(src="images/icon_delete.svg", alt="")


    .b_add_wrapper.jsDeviceHeight#creating_loan
      .add_wrapper
        button.btn_close.jsCloseWrapperAdd(type="button")
        
        .add_wrapper_inner
          
          .block_head
            .b_title יצירת הלוואה פרטית חדשה

          .block_body.jsCustomScrollbar
            .form_wrapper.jsMaskFormControl
              form
                .form_row
                  .label_title צורך ההלוואה
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") הלוואה לרכב
                .form_row
                  label
                    input.form_control(type="text" placeholder="סכום ההלוואה")
                .form_row
                  .label_title משך ההלוואה
                  .row_column_wrapper
                    .row_column
                      .select_wrapper
                        select.jsSelectricView(name="")
                          option(value="") 24 חודשים
                    .row_column עד
                    .row_column
                      .select_wrapper
                        select.jsSelectricView(name="")
                          option(value="") 48 חודשים
                .form_row
                  .label_title תחום עיסוק
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") פיתוח תוכנה
                      option(value="") פיתוח תוכנה
                .form_row
                  .label_title וותק במקום עבודה?
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") 1-3 שנים
                      option(value="") 1-3 שנים
                .form_row
                  .label_title האם קיים כרטיס אשראי בבעלות הלקוח?
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") כן
                      option(value="") לא
                .form_row
                  .label_title האם קיים נכס בבעלות הלקוח?
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") כן
                      option(value="") לא
                .form_row
                  .label_title דירוג אשראי
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") 600-700
                      option(value="") 600-700
                .form_row
                  label
                    input.form_control(type="text" placeholder="שם מלא")
                .form_row
                  label
                    input.form_control(type="text" placeholder="ת.ז" value="873892863")
                .form_row
                  label
                    input.form_control(type="tel" placeholder="מספר טלפון")
                .form_row
                  label
                    input.form_control(type="email" placeholder="דואר אלקטרוני")
                .form_row
                  .label_title שכר נטו
                  .select_wrapper
                    select.jsSelectricView(name="")
                      option(value="") 10,000-15,000₪
                      option(value="") 10,000-15,000₪
                
                .btn_row
                  input.btn.btn_blue.huge(type="submit", value="יצירת הלוואה")
                a.jsModalResult(href="#modal_resultes") on submit oppen modal result



  .b_dashboard_mobile_menu
    .dashboard_mobile_menu_inner.jsCustomHeight
      .menu_user_name
        .drop_menu_wrapper
          .drop_menu_button.jsDropMenuBtn
            .name_wrapper היי ישראל!
          .drop_menu.position_right.jsDropMenu
            ul
              li
                a(href="#")
                  span.icon
                    img(src="images/icon_exit.svg", alt="")
                  span.title התנתקות
      
      .mobile_menu
        .menu_list
          .menu_item
            a.menu_link(href="agent_dashboard.html")
              .menu_image
                .image_static
                  img(src="images/icon_dashboard_custom.svg", alt="")
                .image_active
                  img(src="images/icon_dashboard_active.svg", alt="")
              .menu_title דשבורד
          .menu_item
            a.menu_link.active(href="agent_companies.html")
              .menu_image
                .image_static
                  img(src="images/icon_companies_custom.svg", alt="")
                .image_active
                  img(src="images/icon_companies_active.svg", alt="")
              .menu_title לקוחות
          .menu_item
            a.menu_link(href="agent_settings.html")
              .menu_image
                .image_static
                  img(src="images/icon_settings_custom.svg", alt="")
                .image_active
                  img(src="images/icon_settings_active.svg", alt="")
              .menu_title הגדרות