doctype html
html.no-js(lang='he' dir="rtl")
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title Weloan

    link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    style.
      body {
        padding: 2% 10px;
      }
      .b_index {
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 2% 15px 30px;
        background-image: url(images/logo.png);
        background-position: center top 25px;
        background-repeat: no-repeat;
      }
      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #0597F2;
        list-style-position: inside;
      }
      li {
        margin-bottom: 7px;
      }
      a {
        font-size: 18px;
        color: #0597F2;
        border-bottom: 1px dashed transparent;
        line-height: 1;
        transition: .2s;
      }
      a:hover {
        border-color: #0597F2;
      }
    .b_index
      ol
        li
          a(href="main.html") Homepage
        li
          a(href="faq.html") FAQ
        li
          a(href="login.html") Login
        li
          a(href="login_wrong_number.html") Login - Wrong number
        li
          a(href="login_wrong_number_2.html") Login - Wrong number - is not exist
        li
          a(href="login_sms.html") Login - sms
        li
          a(href="login_sms_wrong.html") Login - sms - wrong & valid
        li
          a(href="single_article.html") Single article
        li
          a(href="post_archive.html") Desk post archive
        li
          a(href="about_us.html") About us
        hr
        li
          a(href="loan_01.html") Business Loan
        li
          a(href="loan_01_Private.html") <b>Private Loan</b>
        li
          a(href="loan_01_valid.html") Business Loan - Valid
        li
          a(href="loan_02.html") Business Loan - talk later
        li
          a(href="loan_02_Private.html") <b>Private Loan</b> --- talk later
        li
          a(href="loan_02_valid.html") Business Loan - talk later - Valid
        li
          a(href="loan_03.html") Business Loan - sent you an SMS ID
        li
          a(href="loan_03_Private.html") <b>Private Loan</b> --- sent you an SMS ID
        li
          a(href="loan_04.html") Business Loan / <b>Private Loan</b> - purpose of the loan
        //- li
        //-   a(href="loan_04.html") <b>Private Loan</b> --- purpose of the loan
        li
          a(href="loan_05.html") Business Loan - What is the need for the loan
        li
          a(href="loan_05_Private.html") <b>Private Loan</b> --- What is the need for the loan
        li
          a(href="loan_06.html") Business Loan - Slider
        li
          a(href="loan_06.html") <b>Private Loan</b> --- Slider
        li
          a(href="loan_07.html") Business Loan - Form
        li
          a(href="loan_07_Private.html") <b>Private Loan</b> --- Form
        hr
        li
          a(href="loading.html") Loading
        li
          a(href="loan_offer_results.html") Loan offer results
        li
          a(href="loan_offer_results_selected.html") Loan offer results - selected
        li
          a(href="results_success.html") Results success
        li
          a(href="upload_files.html") Upload files
        li
          a(href="upload_files_in_process.html") Upload files - process
        li
          a(href="upload_files_uploaded_files.html") Upload files - uploaded files
        hr
        li
          a(href="personal_zone_personal_info.html") Personal zone - personal info
        li
          a(href="personal_zone_table.html") Personal zone - table
        li
          a(href="personal_zone_dash_single_loan.html") Personal zone - dash single loan
        li
          a(href="personal_zone_upload_files.html") Personal zone - upload files
        li
          a(href="agent_login.html") Agent login
        li
          a(href="agent_login_error.html") Agent login - error
        li
          a(href="agent_login_sms.html") Agent login sms
        hr
        li
          a(href="agent_dashboard.html") Agent Dashboard
        li
          a(href="agent_companies.html") Agent Сompanies
        li
          a(href="agent_single_company_loan.html") Agent single company - Loan
        li
          a(href="agent_single_company_loan_details.html") Agent single company - Loan Details
        li
          a(href="agent_single_company_notes.html") Agent single company - notes
        li
          a(href="agent_single_company_tasks.html") Agent single company - tasks
        li
          a(href="agent_single_company_tasks_archives.html") Agent single company - tasks - archives
        li
          a(href="agent_settings.html") Agent settings
        hr
        li
          a(href="agent_private.html") Agent private
        li
          a(href="agent_single_customer_loan.html") Agent single customer - Loan
        li
          a(href="agent_single_customer_loan_details.html") Agent single customer - Loan Details
        li
          a(href="agent_single_customer_notes.html") Agent single customer - notes
        li
          a(href="agent_single_customer_tasks.html") Agent single customer - tasks