extends layouts/default_simple

block content
  main
  
    .b_loading
      .container
        
        .loading_wrapper#loading_redirect
          include svg_logo/svg_logo
        .label ההצעות בדרך, כמה שניות…











