extends layouts/default_loan

block content
  main
  
    .b_loan.what_need.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_04.html")

          .loan_title לאיזה צורך תרצה את ההלוואה?

          form
            .form_wrapper

              .form_row


                .custom_radio_wrapper.jsLoanRadio

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_car_loan.svg", alt="")
                          span.active_image
                            img(src="images/icon_car_loan_active.svg", alt="")
                        span.radio_title הלוואה לרכב

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_mortgage.svg", alt="")
                          span.active_image
                            img(src="images/icon_mortgage_active.svg", alt="")
                        span.radio_title משכנתא

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_renovation_loan.svg", alt="")
                          span.active_image
                            img(src="images/icon_renovation_loan_active.svg", alt="")
                        span.radio_title הלוואה לשיפוץ

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_return_capital.svg", alt="")
                          span.active_image
                            img(src="images/icon_return_capital_active.svg", alt="")
                        span.radio_title הלוואה לכל מטרה

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_recycling_existing.svg", alt="")
                          span.active_image
                            img(src="images/icon_recycling_existing_active.svg", alt="")
                        span.radio_title הנפקת אשראי

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_starting_business.svg", alt="")
                          span.active_image
                            img(src="images/icon_starting_business_active.svg", alt="")
                        span.radio_title הקמת עסק חדש

                  label.custom_radio
                    input#radio_other(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_other.svg", alt="")
                          span.active_image
                            img(src="images/icon_other_active.svg", alt="")
                        span.radio_title אחר

                .what_purpose
                  input.form_control(type="text" placeholder="לאיזו מטרה?")
                
              
              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך" disabled)
                a.btn.btn_blue.huge(href="loan_06_Private.html") להמשך










