extends layouts/default_loan

block content
  main
    
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_03.html")

          .loan_title מהי מטרת ההלוואה?

          form
            .form_wrapper

              .form_row


                .custom_radio_wrapper.jsLoanRadio

                  label.custom_radio
                    input(type="radio", name="purpose" data-link="loan_05.html")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_business.svg", alt="")
                          span.active_image
                            img(src="images/icon_business_active.svg", alt="")
                        span.radio_title עסקית

                  label.custom_radio
                    input(type="radio", name="purpose" data-link="loan_05_Private.html")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_private.svg", alt="")
                          span.active_image
                            img(src="images/icon_private_active.svg", alt="")
                        span.radio_title פרטית

                  
                
              
              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך" disabled)
                a.btn.btn_blue.huge#loan_link(href="javascript:;") להמשך










