extends layouts/default_loan

block content
  main
    
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_06_Private.html")


          .business_form
            .loan_title תודה אור! בשביל שנוכל להמשיך ספר לנו קצת על עצמך..

            form
              .form_wrapper

                .form_row
                  .selectric-wrapper.valid
                    select.jsSelectricView
                      option(value="") תחום עיסוק
                      option(value="") תחום עיסוק
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") וותק במקום עבודה
                      option(value="") וותק במקום עבודה
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") הכנסה נטו
                      option(value="") הכנסה נטו
                
                .form_row
                  .tooltip_wrapper.tooltip_select.top_left
                    .selectric-wrapper
                      select.jsSelectricView
                        option(value="") הכנסה נטו
                        option(value="") הכנסה נטו
                    .tooltip_icon_wrapper
                      .tooltip_icon
                      .tooltip_content
                        .tooltip_content_inner טקסט הסבר טקסט הסבר
                
                .form_row
                  .business_row
                    .business_title קיים כרטיס אשראי בבעלותך?
                    .business_wrapper
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="business" checked)
                          span כן
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="business")
                          span לא
                  
                  .business_row
                    .business_title קיים נכס בבעלותך?
                    .business_wrapper
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="plan" checked)
                          span כן
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="plan")
                          span לא

                  
                
                .form_row.form_btn
                  //- input.btn.btn_blue.huge(type="submit" value="להשוואת מחירים" disabled)
                  a.btn.btn_blue.huge(href="loading.html") להשוואת מחירים










