extends layouts/default_simple_footer

block content
  main
  
    .b_offer_results
      .container

        .results_steps_wrapper

          .results_title הלוואה עסקית
          .results_sub_title השקעה בעסק קיים

          .results_steps

            .step_title.complete
              .title_inner מילוי פרטים
            .step_title.active
              .step_wrap
                .step_wrap_inner
                  .step_label שלב
                  .step_num 2
              .title_inner העלאת מסמכים
            .step_title
              .step_wrap
                .step_wrap_inner
                  .step_label שלב
                  .step_num 3
              .title_inner בקשתך הושלמה

        .results_wrapper

          .relevant_suggestions
            .content כעת כל שעליך לעשות הוא לבחור את ההצעות הרלוונטיות על פי החיפוש שביצעת.
            .select_wrapper
              select.jsSelectricView
                option(value="") מיון לפי
                option(value="") מיון לפי
                option(value="") מיון לפי
          
          
          .results_table
            .table_wrapper
              table
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                    label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                     label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                     label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                    label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                    label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה
                tr
                  td
                    .img_wrapper
                      img(src="images/result_image.png", alt="")
                  td
                    .label גובה ההלוואה
                    .label_data 325,000₪
                  td
                    .label תשלום חודשי
                    .label_data 13,000₪
                  td
                    .label משך ההלוואה
                    .label_data 24 חודשים
                  td
                     label.button_checkbox
                      input(type="checkbox", name="")
                      span.btn.btn_gray בחירה


      .selected_offers_wrapper
        .container
          .selected_offers
            .offers_quantity נבחרו <span class="selected_item"></span> הצעות
            a.btn.btn_blue.huge(href="upload_files.html") להמשך











