extends layouts/default_loan

block content
  main
  
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper

          .loan_title הי! לפני שמתחילים, בוא נכיר קצת

          form
            .form_wrapper

              .form_row
                .column_wrapper
                  .column
                    input.form_control(type="text" placeholder="*שם פרטי")
                  .column
                    input.form_control(type="text" placeholder="*שם משפחה")
              
              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="המשך" disabled)
                a.btn.btn_blue.huge(href="loan_02_Private.html") המשך










