extends layouts/default_loan

block content
  main
  
    .b_loan.sms_code.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_02_Private.html")

          .loan_title שלחנו לך קוד זיהוי SMS

          form
            .form_wrapper
              
              .placeholder_mobile הכנס את קוד הזיהוי להמשך

              .form_row
                input.form_control.input_password(type="password" maxlength="4" placeholder="הכנס את קוד הזיהוי להמשך")
              
              .send_again לא קבלת קוד זיהוי? <a href="#">שלח שוב</a>

              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך" disabled)
                a.btn.btn_blue.huge(href="loan_04.html") להמשך










