extends layouts/default_loan

block content
  main
    
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_06.html")


          .business_form
            .loan_title תודה אור! עוד כמה מילים קטנות על העסק ונמשיך.

            form
              .form_wrapper

                .form_row
                  input.form_control.valid(type="text" placeholder="שם העסק" value="אור")

                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") סוג העסק
                      option(value="") חוויית משתמש
                
                .form_row
                  .tooltip_wrapper.top_left
                    input.form_control(type="text" placeholder="ח.פ/ת.ז")
                    .tooltip_icon_wrapper
                      .tooltip_icon
                      .tooltip_content
                        .tooltip_content_inner טקסט הסבר טקסט הסבר
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") ענף פעילות
                      option(value="") עיצוב
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") וותק
                      option(value="") 10
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") כמות עובדים
                      option(value="") 1
                
                .form_row
                  .selectric-wrapper
                    select.jsSelectricView
                      option(value="") מחזור שנתי (אלפי ש״ח)
                      option(value="") 430,000
                
                .form_row
                  .business_row
                    .business_title האם העסק סולק אשראי?
                    .business_wrapper
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="business" checked)
                          span כן
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="business")
                          span לא
                  
                  .business_row
                    .business_title האם קיימת תכנית עסקית?
                    .business_wrapper
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="plan" checked)
                          span כן
                      .radio_wrapper
                        label.radio
                          input(type="radio", name="plan")
                          span לא

                  
                
                .form_row.form_btn
                  //- input.btn.btn_blue.huge(type="submit" value="השוואת תוצאות" disabled)
                  a.btn.btn_blue.huge(href="loan_offer_results.html") השוואת תוצאות










