extends layouts/default_loan

block content
  main
    
    .b_loan.loan_amount_wrapper.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_05.html")

          .loan_title מעולה! עכשיו לשאלה החשובה, מה גובה ההלוואה שתרצה?

          .loan_sub_title * ניתן לקחת הלוואה עד לגובה של 8 מיליון ש״ח

          form(onsubmit="return false")
            .form_wrapper

              .loan_amount
                .loan_amount_wrap
                  input#loanamount(type="text" data-min="80000" data-max="8000000")
                  span.irs--flat#irsflat
                    span.irs-single.irs-single-custom
                      span.single-data-wrap
                        span.irs-data-single
                        input#irs-input-value(type="number")
                      span.irs-btn-wrap
                        .irs-data-button
                        .irs-data-done

                .mobile_data
                  .mobile_data_inner
                    .price_wrapper
                      span ₪ 
                      span#loanamountdata 0
                    
                    .irs-data-button-mobile
                    .irs-data-mobile-wrapper
                      .mobile-wrapper-inner
                        input#irs-input-value-mobile(type="number")
                        .irs-data-done-mobile

              

              .period_wrapper
                .period_title לאיזו תקופה?
                

                .period_list

                  .period_from
                    .input_count
                      button.btn_plus.jsPlus(type="button")
                      .input_value_wrapper
                        input.input_value(type="number" minimum="1" value="24" readonly)
                        .input_value_info חודשים
                      button.btn_minus.jsMinus(type="button")
                    .count_result
                      span *החזר חודשי צפוי: 
                      span.price 130000,500 ₪

                  
                  .period_list_info עד

                  
                  .period_to
                    .input_count
                      button.btn_plus.jsPlus(type="button")
                      .input_value_wrapper
                        input.input_value(type="number" minimum="1" value="48" readonly)
                        .input_value_info חודשים
                      button.btn_minus.jsMinus(type="button")
                    .count_result
                      span *החזר חודשי צפוי: 
                      span.price 6,700 ₪


              
              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך")
                a.btn.btn_blue.huge(href="loan_07.html") להמשך










