extends layouts/default_loan

block content
  main
  
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper

          .loan_title לפני שנתחיל, נשמח להכיר

          form
            .form_wrapper

              .form_row
                .column_wrapper
                  .column
                    input.form_control.valid(type="text" placeholder="*שם פרטי" value="אור")
                  .column
                    input.form_control.valid(type="text" placeholder="*שם משפחה" value="פרפל")
              
              .form_row.form_btn.valid
                //- input.btn.btn_blue.huge(type="submit" value="המשך")
                a.btn.btn_blue.huge(href="loan_02_valid.html") המשך










