extends layouts/default_loan

block content
  main
  
    .b_loan.what_need.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_04.html")

          .loan_title לאיזה צורך תרצה את ההלוואה?

          form
            .form_wrapper

              .form_row


                .custom_radio_wrapper.jsLoanRadio

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_return_capital.svg", alt="")
                          span.active_image
                            img(src="images/icon_return_capital_active.svg", alt="")
                        span.radio_title החזר הון

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_purchase_equipment.svg", alt="")
                          span.active_image
                            img(src="images/icon_purchase_equipment_active.svg", alt="")
                        span.radio_title רכישת ציוד

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_existing_business.svg", alt="")
                          span.active_image
                            img(src="images/icon_existing_business_active.svg", alt="")
                        span.radio_title השקעה בעסק קיים

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_commercial_property.svg", alt="")
                          span.active_image
                            img(src="images/icon_commercial_property_active.svg", alt="")
                        span.radio_title רכישת נכס מסחרי

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_recycling_existing.svg", alt="")
                          span.active_image
                            img(src="images/icon_recycling_existing_active.svg", alt="")
                        span.radio_title מיחזור אשראי קיים

                  label.custom_radio
                    input(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_starting_business.svg", alt="")
                          span.active_image
                            img(src="images/icon_starting_business_active.svg", alt="")
                        span.radio_title הקמת עסק

                  label.custom_radio
                    input#radio_other(type="radio", name="need")
                    span.custom_radio_inner
                      span.inner_wrapper
                        span.images_wrapper
                          span.curent_image
                            img(src="images/icon_other.svg", alt="")
                          span.active_image
                            img(src="images/icon_other_active.svg", alt="")
                        span.radio_title אחר

                .what_purpose
                  input.form_control(type="text" placeholder="לאיזו מטרה?")
                
              
              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך" disabled)
                a.btn.btn_blue.huge(href="loan_06.html") להמשך










