extends layouts/default_loan

block content
  main
  
    .b_loan.jsHeightWithoutHeaderLoan
      .container
        .loan_wrapper
          .loan_inner
            a.btn_back(href="loan_01.html")

          .loan_title היי אור! איך נוכל לדבר בהמשך?

          form
            .form_wrapper

              .form_row
                .column_wrapper
                  .column
                    input.form_control.valid(type="tel" placeholder="*מספר טלפון" value="4448747")
                  .column.select_area_code
                    .selectric-wrapper.valid
                      select.jsSelectricView
                        option(value="#") קידומת
                        option(value="#" selected) 050
                        option(value="#") 052
                        option(value="#") 053
                        option(value="#") 054
              
              .form_row
                input.form_control.valid(type="email" placeholder="*אימייל" value="or@prpl.io")
                .checkbox_wrapper
                  label.checkbox
                    input(type="checkbox", name="" checked)
                    span אני מאשר/ת את <a href="#">תנאי השימוש</a>

              .form_row.form_btn
                //- input.btn.btn_blue.huge(type="submit" value="להמשך")
                a.btn.btn_blue.huge(href="loan_03.html") להמשך










