extends layouts/default_login

block content
  main.main_login
  
    .b_login
      .container

        .login_wrapper

          .login_form

            .login_head
              img(src="images/logo.svg", alt="")
            
            .login_body
              .login_title ברוכים הבאים
              .login_content על מנת להתחבר למערכת, הכניסו מס׳ נייד, הזינו את קוד האימות שיישלח אליכם בהודעה SMS והתחילו לעבוד!

              form
                .form_row
                  input.form_control(type="tel" placeholder="מספר טלפון")
                .form_btn
                  //- input.btn.btn_blue.huge(type="submit", value="המשך" disabled)
                  a.btn.btn_blue.huge(href="login_sms.html") המשך









