extends layouts/default_login

block content
  main.main_login
    
    .b_login
      .container

        .login_wrapper

          .login_form

            .login_head
              img(src="images/logo.svg", alt="")
            
            .login_body
              .login_title שלחנו לך קוד זיהוי SMS
              .login_content הכניסו את קוד הזיהוי להמשך

              form
                .form_row
                  input.form_control.input_password.error(type="password" maxlength="4" autocomplete="off" value="1111")
                  .form_error נראה שמספר הזיהוי שהקשת לא תואם
                .form_row
                  input.form_control.input_password.valid(type="password" maxlength="4" autocomplete="off" value="1111")
                .form_btn
                  input.btn.btn_blue.huge(type="submit", value="המשך")









