extends layouts/default_login

block content
  main.main_login
    
    .b_login
      .container

        .login_wrapper

          .login_form

            .login_head
              img(src="images/logo.svg", alt="")
            
            .login_body
              .login_title שלחנו לך קוד זיהוי SMS
              .login_content הכניסו את קוד הזיהוי להמשך

              form
                .form_row
                  input.form_control.input_password(type="password" maxlength="4" autocomplete="off")
                .form_btn
                  input.btn.btn_blue.huge(type="submit", value="המשך" disabled)









