extends layouts/default

block content
  main
    
    .b_financing_tracks.section_b_line
      .container

        .financing_tracks_wrapper

          .financing_tracks_content
            .content_wrap
              h1 מסלולי מימון בהתאמה אישית
              p ההצעה הפיננסית המתאימה לכם בקליק אחד. היכנסו לזירת מסלולי המימון שלנו והגשימו את הצעד הבא בחיים שלכם!
            
            .content_button
              a.btn.btn_blue.btn_review(href="loan_01_valid.html") לבדיקה
              a.btn_video(href="#") למדו עוד

          .financing_tracks_image
            img(src="images/financing_tracks_image.svg", alt="")


    .b_how_it_work.section_b_line
      .container
        
        .caption_title תהליך פשוט וקליל
        .section_title איך זה עובד?

        .work_wrapper

          .work_item
            .item_inner
              .item_image
                img(src="images/how_it_work01.svg", alt="")
              .item_title בוחרים את סוג הלוואה
              .item_content לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף מוסן מנת.
        
          .work_item
            .item_inner
              .item_image
                img(src="images/how_it_work02.svg", alt="")
              .item_title עונים על שאלון פשוט
              .item_content לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף מוסן מנת.
        
          .work_item
            .item_inner
              .item_image
                img(src="images/how_it_work03.svg", alt="")
              .item_title ומקבלים הצעות בהתאם
              .item_content לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף מוסן מנת.
        
        .btn_wrap
          a.btn.btn_blue(href="loan_01_valid.html") לבדיקה


    .b_business_partners.section_b_line
      .container
        
        .caption_title עוזרים לנו לעזור לכם
        .section_title השותפים העסקיים שלנו

      .business_partners_wrapper
        .partners_wrapper
          .partners_wrapper_inner

            .partner_item.item01.circle_md
              img(src="images/partner01.png", alt="")
            .partner_item.item02.circle_xs
              img(src="images/partner02.png", alt="")
            .partner_item.item03.circle_lg
              img(src="images/partner03.png", alt="")
            .partner_item.item04.circle_lg
              img(src="images/partner04.png", alt="")
            .partner_item.item05.circle_md
              img(src="images/partner05.png", alt="")
            .partner_item.item06.circle_xs
              img(src="images/partner06.png", alt="")
            .partner_item.item07.circle_xs
              img(src="images/partner07.png", alt="")
            .partner_item.item08.circle_lg
              img(src="images/partner08.png", alt="")
            .partner_item.item09.circle_md
              img(src="images/partner09.png", alt="")

        //- img(src="images/business_partners.png", alt="")


    .b_numbers_speak
      .container

        .numbers_speak_wrapper

          .numbers_speak_content
            .caption_title כי איך אפשר בלי מספרים
            .section_title.strong המספרים מדברים
            .content
              p לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור לורם איפסום דולור
              ul
                li חוסכים לכם יותר מ-60% עמלות החזר
                li יותר מ-120 אלף לקוחות מרוצים
                li למעלה מ-900 מיליוון הלוואות בשנה
                li למעלה מ-1 מיליארד שקל להשקה באוכלוסיות חלשות
            .content_btn
              a.btn.btn_blue(href="loan_01_valid.html") לבדיקה
          
          .numbers_speak_image
            img(src="images/numbers_speak_image.svg", alt="")


    .b_loan_magazine
      .container
        .caption_title קצת חומר לקריאה
        .section_title.strong MAGAZILOAN

        .loan_magazine_first
          .bl_content
            .title דברים שכדאי לבדוק לפני שאתם מחליטים לעשות את הצעד הבא בחייכם
            .content לא משנה באיזה שלב אתם בחיים או היכן העסק שלכם נמצא במחזור החיים שלו, נטילת הלוואה עשויה לספק לכם מענה לצורך ספציפי ולהקפיץ אותך לשלב הבא, למומחים של weloan יש מה לחדש בנושא.
            a.link_more(href="#") קרא עוד
            a.btn.btn_blue_empty.btn_more(href="single_article.html") לכל הכתבות
          .bl_image
            .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")

        
        .loan_magazine_wrapper
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content  
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="single_article.html") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content  
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="single_article.html") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content  
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="single_article.html") להמשך קריאה

        .more_loan_wrapper
          a.btn.btn_more_loan(href="post_archive.html") לכתבות נוספות
    
    
    .b_contact_form#contact_form
      .container

        .contact_form

          .contact_form_wrapper
            .caption_title אם הגעתם עד לפה סימן שיש על לדבר
            .section_title.strong עונים מהר, נסו אותנו!

            form
              .form_wrapper
                .form_row_wrapper
                  .form_row
                    input.form_control(type="text" placeholder="שם מלא")
                  .form_row
                    input.form_control(type="email" placeholder="אימייל")
                  .form_row
                    input.form_control(type="tel" placeholder="טלפון")
                  .form_row
                    input.form_control(type="text" placeholder="מהי סיבת פנייתך")
                  .form_row
                    .select_wrapper
                      select.jsSelectricView(name="")
                        option(value="") מהי סיבת פנייתך
                        option(value="") מהי סיבת פנייתך
                        option(value="") מהי סיבת פנייתך
                .form_btn
                  input.btn.btn_blue(type="submit", value="שליחה")

          .contact_form_image
            img(src="images/contact_form_image.svg", alt="")
        
        









