extends layouts/default

block content
  main.personal_zone
  
    .b_personal_zone
      .container

        .personal_zone_head
          .personal_zone_menu
            .personal_menu_wrapper
              .personal_info.jsPersonalMenu
                .personal_name היי אור,
                .personal_label
                  .label_desktop ברוך הבא לאיזור האישי שלך
                  .label_mobile ההלוואות שלי
              .personal_menu
                .personal_menu_inner
                  a.menu_item.active(href="personal_zone_table.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/receive-money.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/receive-money_active.svg", alt="")
                        .menu_title ההלוואות שלי
                  a.menu_item(href="personal_zone_personal_info.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/user.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/user_active.svg", alt="")
                        .menu_title איזור אישי
                  a.menu_item(href="main.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/log-out.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/log-out_active.svg", alt="")
                        .menu_title התנתקות

          .personal_zone_new_loan
            a.btn.btn_blue.huge.btn_add_loan(href="loan_04.html") הלוואה חדשה

        .personal_zone_info באיזור האישי תוכל לראות את כל ההלוואות בהן בחרת להתעניין.<br> בעזרת לחיצה על כל בקשת הלוואה תוכל לראות את סטטוס ההצעות העדכני ואפשרויות יצירת הקשר לכל ספק. 

        .personal_zone_content.table_wrapper
          
          .personal_zone_table.personal_zone_table_inner
            .table_wrapper

              .table_head

                .head_content
                  .head_wrapper
                    .head_item
                      a.btn_back(href="personal_zone_table.html")
                    .head_item
                      .head_label סוג ההלוואה
                      .label_content עסקית
                    .head_item
                      .head_label מטרת ההלוואה
                      .label_content שיפוץ משרד
                    .head_item
                      .head_label סכום ההלוואה
                      .label_content 350,000₪
                    .head_item
                      .head_label משך זמן ההלוואה
                      .label_content 24 חודשים


                .head_button
                  a.btn.btn_blue.huge.btn_uploading(href="personal_zone_upload_files.html") העלאת מסמכים


              
              table
                tr
                  td
                    img(src="images/result_image.png", alt="")
                  td
                    .label תשלום חודשי
                    .content 325,000₪
                  td
                    .label סטטוס
                    .content.green
                      img(src="images/checkbox-multiple-marked.svg", alt="")
                      | הצעה מאושרת
                  td
                    .questions יש לכם שאלות? <a href="#">צרו קשר עם נציג שלנו</a>
                tr
                  td
                    img(src="images/result_image.png", alt="")
                  td
                    .label תשלום חודשי
                    .content 325,000₪
                  td
                    .label סטטוס
                    .content.yellow
                      img(src="images/reload.svg", alt="")
                      | ממתין לאישור
                  td
                    .questions יש לכם שאלות? <a href="#">צרו קשר עם נציג שלנו</a>
                tr
                  td
                    img(src="images/result_image.png", alt="")
                  td
                    .label תשלום חודשי
                    .content 325,000₪
                  td
                    .label סטטוס
                    .content.blue
                      img(src="images/thumb-up-outline.svg", alt="")
                      | הצעה מאושרת
                  td
                    .questions יש לכם שאלות? <a href="#">צרו קשר עם נציג שלנו</a>
                tr
                  td
                    img(src="images/result_image.png", alt="")
                  td
                    .label תשלום חודשי
                    .content 325,000₪
                  td
                    .label סטטוס
                    .content.red
                      img(src="images/close.svg", alt="")
                      | לא זכאי
                  td
                    .questions
                      | <img src="images/emoji.svg" alt="">
                      | אבל היי לא נורא, גם זה קורה 
               









