extends layouts/default

block content
  main.personal_zone
  
    .b_personal_zone
      .container

        .personal_zone_head
          .personal_zone_menu
            .personal_menu_wrapper
              .personal_info.jsPersonalMenu
                .personal_name היי אור,
                .personal_label
                  .label_desktop ברוך הבא לאיזור האישי שלך
                  .label_mobile ההלוואות שלי
              .personal_menu
                .personal_menu_inner
                  a.menu_item.active(href="personal_zone_table.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/receive-money.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/receive-money_active.svg", alt="")
                        .menu_title ההלוואות שלי
                  a.menu_item(href="personal_zone_personal_info.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/user.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/user_active.svg", alt="")
                        .menu_title איזור אישי
                  a.menu_item(href="main.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/log-out.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/log-out_active.svg", alt="")
                        .menu_title התנתקות

          .personal_zone_new_loan
            a.btn.btn_blue.huge.btn_add_loan(href="loan_04.html") הלוואה חדשה

        .personal_zone_info באיזור האישי תוכל לראות את כל ההלוואות בהן בחרת להתעניין.<br> בעזרת לחיצה על כל בקשת הלוואה תוכל לראות את סטטוס ההצעות העדכני ואפשרויות יצירת הקשר לכל ספק. 

        .personal_zone_content.personal_file
          
          .personal_zone_table.personal_zone_file_wrapper
            .table_head
              .head_content
                .head_wrapper
                  a.btn_back(href="personal_zone_dash_single_loan.html")
                  .head_item
                    .head_label סוג ההלוואה
                    .label_content עסקית
                  .head_item
                    .head_label מטרת ההלוואה
                    .label_content שיפוץ משרד
                  .head_item
                    .head_label סכום ההלוואה
                    .label_content 350,000₪
                  .head_item
                    .head_label משך זמן ההלוואה
                    .label_content 24 חודשים

            .documents_title כדי שנוכל לדייק בתנאים ובזמני הטיפול נשמח אם תעלה את המסמכים הבאים

            .file_wrapper
              .file_item
                .tooltip_wrapper
                  .tooltip_icon_wrapper
                    .tooltip_icon
                    .tooltip_content
                      .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
                .file_wrap
                  .file_info
                    .file_title Maam2019-2018.pdf
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")
              .file_item
                .tooltip_wrapper
                  .tooltip_icon_wrapper
                    .tooltip_icon
                    .tooltip_content
                      .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
                .file_wrap
                  .file_info
                    .file_title Maam2019-2018.pdf
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")
              .file_item
                .tooltip_wrapper
                  .tooltip_icon_wrapper
                    .tooltip_icon
                    .tooltip_content
                      .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
                .file_wrap
                  .file_info
                    .file_title Maam2019-2018.pdf
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")
            
            .btn_wrapper
              button.btn.btn_blue.huge(type="button") סיימתי

              
             
               









