extends layouts/default

block content
  main.personal_zone
  
    .b_personal_zone
      .container

        .personal_zone_head
          .personal_zone_menu
            .personal_menu_wrapper
              .personal_info.jsPersonalMenu
                .personal_name היי אור,
                .personal_label
                  .label_desktop ברוך הבא לאיזור האישי שלך
                  .label_mobile ההלוואות שלי
              .personal_menu
                .personal_menu_inner
                  a.menu_item.active(href="personal_zone_table.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/receive-money.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/receive-money_active.svg", alt="")
                        .menu_title ההלוואות שלי
                  a.menu_item(href="personal_zone_personal_info.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/user.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/user_active.svg", alt="")
                        .menu_title איזור אישי
                  a.menu_item(href="main.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/log-out.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/log-out_active.svg", alt="")
                        .menu_title התנתקות

          .personal_zone_new_loan
            a.btn.btn_blue.huge.btn_add_loan(href="loan_04.html") הלוואה חדשה

        .personal_zone_info באיזור האישי תוכל לראות את כל ההלוואות בהן בחרת להתעניין.<br> בעזרת לחיצה על כל בקשת הלוואה תוכל לראות את סטטוס ההצעות העדכני ואפשרויות יצירת הקשר לכל ספק. 

        .personal_zone_content.table_wrapper
          
          .personal_zone_table
            .table_wrapper
              table
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.blue
                      img(src="images/thumb-up-outline.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="personal_zone_dash_single_loan.html") פרטים מלאים
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.green
                      img(src="images/checkbox-multiple-marked.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="personal_zone_dash_single_loan.html") פרטים מלאים
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.yellow
                      img(src="images/reload.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="personal_zone_dash_single_loan.html") פרטים מלאים
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.blue
                      img(src="images/thumb-up-outline.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="personal_zone_dash_single_loan.html") פרטים מלאים
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.green
                      img(src="images/checkbox-multiple-marked.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="") פרטים מלאים
                tr
                  td
                    .label סוג ההלוואה
                    .content עסקית
                  td
                    .label מטרת ההלוואה
                    .content שיפוץ משרד
                  td
                    .label סכום ההלוואה
                    .content 350,000₪
                  td
                    .label משך זמן ההלוואה
                    .content 24 חודשים
                  td
                    .label סטטוס
                    .content.yellow
                      img(src="images/reload.svg", alt="")
                      | הצעה מאושרת
                  td
                    .label תאריך הגשה
                    .content 1/1/2019
                  td
                    a.btn.btn_gray_empty(href="personal_zone_dash_single_loan.html") פרטים מלאים










