extends layouts/default

block content
  main.personal_zone
  
    .b_personal_zone
      .container

        .personal_zone_head
          .personal_zone_menu
            .personal_menu_wrapper
              .personal_info.jsPersonalMenu
                .personal_name היי אור,
                .personal_label
                  .label_desktop ברוך הבא לאיזור האישי שלך
                  .label_mobile אזור אישי
              .personal_menu
                .personal_menu_inner
                  a.menu_item(href="personal_zone_table.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/receive-money.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/receive-money_active.svg", alt="")
                        .menu_title ההלוואות שלי
                  a.menu_item.active(href="personal_zone_personal_info.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/user.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/user_active.svg", alt="")
                        .menu_title איזור אישי
                  a.menu_item(href="main.html")
                    .item_inner
                      .item_inner_content
                        .menu_icon
                          .icon_wrapper.icon_static
                            img(src="images/log-out.svg", alt="")
                          .icon_wrapper.icon_active
                            img(src="images/log-out_active.svg", alt="")
                        .menu_title התנתקות

          .personal_zone_new_loan
            a.btn.btn_blue.huge.btn_add_loan(href="loan_04.html") הלוואה חדשה

        .personal_zone_info באיזור האישי תוכל לראות את כל ההלוואות בהן בחרת להתעניין.<br> בעזרת לחיצה על כל בקשת הלוואה תוכל לראות את סטטוס ההצעות העדכני ואפשרויות יצירת הקשר לכל ספק. 

        .personal_zone_content
          .personal_information
            .info_title כאן תוכל לערוך את כל המידע האישי שלך באתר

            .info_form
              .form_wrapper
                form
                  .info_form_row
                    .column_wrapper
                      .column
                        input.form_control(type="text" placeholder="שם פרטי")
                      .column
                        input.form_control(type="text" placeholder="שם משפחה")
                  
                  .info_form_row
                    input.form_control.phone_valid(type="tel" placeholder value="050-4448747")
                    .tel_info מספר זה ישמש כאמצעי זיהוי בכניסה לאתר
                  
                  .info_form_row
                    input.form_control(type="email" placeholder="אימייל")
                  
                  .btn_wrapper
                    input.btn.btn_blue.huge(type="submit" value="שמירת פרטים")
              
              .alternative_login
                .alternative_login_info חיבור חשבון ה-Facebook יכול לקצר את הבקשות שלכם
                .alternative_link
                  a.link(href="#")
                    .icon
                      img(src="images/facebook_png.png", alt="")
                    .text לחיבור החשבון לחץ כאן










