extends layouts/default

block content
  main
  
    .b_post_archive
      .container

        .post_archive

          .main_card_wrapper
            .main_card
              .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .hashtag_wrapper
                span.hashtag משכנאות
                span.hashtag משכנאות
                span.hashtag משכנאות
              .card_title לתכי מורגם בורק? לתיג ישבעס. לתכי מורגם בורק? לתיג ישבעס.
              .card_content לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. 
              
              a.btn.btn_blue_empty(href="#") להמשך קריאה
          
          
          .recommended_articles

            .recommended_top
              .recommended_title מאמרים מומלצים
              .recommended_filter
                .select_wrapper
                  select.jsSelectricView
                    option(value="") בחירת קטגוריה
                    option(value="") בחירת קטגוריה
                    option(value="") בחירת קטגוריה
            
            .recommended_list
              
              .recommended_item
                .item_wrapper
                  .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
                  .recommended_content
                    .hashtag_wrapper
                      span.hashtag משכנאות
                      span.hashtag משכנאות
                    .recommended_title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
              
              .recommended_item
                .item_wrapper
                  .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
                  .recommended_content
                    .hashtag_wrapper
                      span.hashtag משכנאות
                      span.hashtag משכנאות
                    .recommended_title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
              
              .recommended_item
                .item_wrapper
                  .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
                  .recommended_content
                    .hashtag_wrapper
                      span.hashtag משכנאות
                      span.hashtag משכנאות
                    .recommended_title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
              
              .recommended_item
                .item_wrapper
                  .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
                  .recommended_content
                    .hashtag_wrapper
                      span.hashtag משכנאות
                      span.hashtag משכנאות
                    .recommended_title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות

            
            


        
        
        .cards_wrapper
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה
          
          .magazine_item
            .magazine_item_wrapper
              .magazine_item_image
                .img_wrapper(style="background-image: url('images/loan_magazine_image.jpg');")
              .magazine_item_content
                .title כותרת עד 2 שורות כותרת עד 2 שורות 2 שורות
                .content טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות טיזר עד 3שורות
                a.btn.btn_blue_empty.btn_more(href="#") להמשך קריאה









