extends layouts/default_simple_footer

block content
  main
    
    .b_result_success
      .container

        .result_wrapper
          .results_title תודה רבה!
          .results_sub_title הפרטים נשלחו בהצלחה

          .image_wrapper
            img(src="images/result_success.svg", alt="")
          
          .content כעת ניתן לעבור לאיזור האישי <br> שם תוכל לצפות בתוצאות שבחרת

          a.btn.btn_blue.huge(href="personal_zone_personal_info.html") מעבר לאזור האישי

        










