extends layouts/default

block content
  main
    
    .b_single_article
      .container

        .single_article

          .article_title a זו כותרת שאמורה לשקף כותרת זו כותרת שאמורה לשקף כותרת זו כותרת שאמורה לשקף כותרת זו כותרת שאמורה לשקף כותרת

          .article_info
            .article_date 12.9.2019
            .article_name ישראל ישראלי
            .hashtag_wrapper
              span.hashtag משכנאות
              span.hashtag מימון מלא
              span.hashtag הלוואות לעסקים
          
          .article_banner
            .banner_wrapper(style="background-image: url('images/article_banner.jpg');")

          .article_content_wrapper
            .share_social
              .social_item
                a.social_link(href="#")
                  img(src="images/social_facebook.svg", alt="")
              .social_item
                a.social_link(href="#")
                  img(src="images/social_twitter.svg", alt="")


            .article_content
              p
                strong לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
              p
                strong קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
              p
                strong קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט
              p(style="text-align: center; color: #0597F2;") / / / / / / / / / /

            .article_image
              .banner_wrapper(style="background-image: url('images/article_banner02.jpg');")
            
            .article_content
              p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
              p קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
              p קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט

              blockquote לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו 

              h4
                strong לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך
              
              p קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
              p קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט

              h4
                strong לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך
              
              ul
                li קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. 
                li הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, 
                li כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
              
              h4 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך

              ol
                li קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק
                li קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק
                li קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק

          .article_video
            a.video_link(href="#" style="background-image: url('images/');")
          
          .loan_tailored
            .tailored_title רוצים לקבל הלוואה שתפורה בול לצרכים שלכם? התחילו את הבדיקה

            a.btn.btn_blue.huge(href="#") לבדיקה










