extends layouts/default_simple_footer

block content
  main
    
    .b_upload_files
      .container


        .results_steps_wrapper

          .results_title הלוואה עסקית
          .results_sub_title השקעה בעסק קיים

          .results_steps

            .step_title.complete
              .title_inner מילוי פרטים
            .step_title.complete
              .title_inner העלאת מסמכים
            .step_title.active
              .step_wrap
                .step_wrap_inner
                  .step_label שלב
                  .step_num 3
              .title_inner בקשתך הושלמה
        

        .upload_files_wrapper

          .completing_application אתה במרחק לחיצה מסיום הגשת הבקשה!<br> כל שעליך לעשות הוא להעלות את הטפסים הנדרשים

          
          .files_wrapper

            .file_item
              .tooltip_wrapper
                .tooltip_icon_wrapper
                  .tooltip_icon
                  .tooltip_content
                    .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
              .file_wrap.file_uploaded
                .upload_file_decor
                  .upload_animation
                .file_wrap_inner
                  .file_info
                    .file_title העלאת דו״ח מע״מ
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")

            .file_item
              .tooltip_wrapper
                .tooltip_icon_wrapper
                  .tooltip_icon
                  .tooltip_content
                    .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
              .file_wrap.file_uploaded
                .upload_file_decor
                  .upload_animation
                .file_wrap_inner
                  .file_info
                    .file_title העלאת טופס 106
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")
            
            .file_item
              .tooltip_wrapper
                .tooltip_icon_wrapper
                  .tooltip_icon
                  .tooltip_content
                    .tooltip_content_inner כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר כאן יהיה מקום להסבר
              .file_wrap.file_uploaded
                .upload_file_decor
                  .upload_animation
                .file_wrap_inner
                  .file_info
                    .file_title העלאת דוחות שנתייים
                  .file_control
                    a.btn_control.btn_download(href="#" download)
                    a.btn_control.btn_remove(href="#")



          .button_wrapper
            .button_item
              a.btn.btn_blue(href="results_success.html") סיימתי
            .button_item
              a.btn.btn_gray(href="results_success.html") המשך ללא העלאת קבצים

      

      










